---
import Item from '~/components/projects/GridItem.astro';
import type { Project } from '~/types';

export interface Props {
  projects: Array<Project>;
}

const { projects } = Astro.props;
---

<div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3 -mb-6">
  {projects.map((project) => <Item project={project} />)}
</div>
