---
import { Icon } from 'astro-icon/components';
import { getProjectsPermalink } from '~/utils/permalinks';
import { I18N } from '~/utils/config';
import Button from '~/components/ui/Button.astro';

const { textDirection } = I18N;
---

<div class="mx-auto px-4 sm:px-6 max-w-screen-xl ">
  <Button variant="link" class="w-auto flex items-center" href={getProjectsPermalink()}>
    {
      textDirection === 'rtl' ? (
        <Icon name="tabler:chevron-right" class="w-5 h-5 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1" />
      ) : (
        <Icon name="tabler:chevron-left" class="w-5 h-5 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1" />
      )
    } Back to Projects
  </Button>
</div>
