---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getLocaleFromUrl, useTranslations } from '~/i18n/translator';
import { I18N_CONFIG } from '~/utils/config';

const { t, tList } = useTranslations(getLocaleFromUrl(Astro.url));

const metadata = {
  title: t('index.metadata.title'),
  ignoreTitleTemplate: true,
};

const showLanguagePicker = I18N_CONFIG.isEnabled;
---

<Layout metadata={metadata} showLanguagePicker={showLanguagePicker}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: t('index.hero.cta'), href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: t('index.hero.cta2'), href: '#features' }}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      {t('index.hero.title.part1')} <span class="hidden xl:inline">{t('index.hero.title.part2')}</span>
      <span class="text-accent dark:text-white highlight"> Astro 2.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind </span>{t('index.hero.subtitle')}</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      {t('index.hero.description')}
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline={t('index.features.tagline')}
    title={t('index.features.title')}
    subtitle={t('index.features.subtitle')}
    items={tList('index.features.items')}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline={t('index.content.tagline')}
    title={t('index.content.title')}
    items={tList('index.content.items')}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {t('index.content.additionalTitle')}
      </h3>
      {t('index.content.additionalDescription')}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={tList('index.content2.items')}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">{t('index.content2.additionalDescription')}</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={tList('index.content3.items')}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">{t('index.content3.additionalDescription')}</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
  title={t('index.steps.title')}
  items={tList('index.steps.items')}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title={t('index.features2.title')}
    subtitle={t('index.features2.subtitle')}
    tagline={t('index.features2.tagline')}
    items={tList('index.features2.items')}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title={t('index.blogLatestPosts.title')}
    information={t('index.blogLatestPosts.information')}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title={t('index.faqs.title')}
    subtitle={t('index.faqs.subtitle')}
    tagline={t('index.faqs.tagline')}
    items={tList('index.faqs.items')}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={tList('index.stats.stats')}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: t('index.callToAction.cta.text'),
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      {t('index.callToAction.subtitle.part1')} <br class="hidden md:inline" />
      {t('index.callToAction.subtitle.part2')}
    </Fragment>
  </CallToAction>
</Layout>
