<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="/decapcms/config.yml" type="text/yaml" rel="cms-config-url" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Decap CMS -->
    <script>
      import CMS from 'decap-cms-app';
      CMS.init();
    </script>
  </body>
</html>
