---
import Headline from '~/components/blog/Headline.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Privacy Policy',
};
---

<Layout metadata={metadata}>
  <Headline
    title={'Privacy Policy'}
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading',
      subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400',
    }}
  />
  <div class="mx-auto max-w-7xl p-4 md:px-8">
    <div class={`md:flex md:gap-16`}>
      <div class="self-center">
        <div class="mb-12 text-lg dark:text-slate-400">
          <div class="space-y-2">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper space-y-2">
                  <p>
                    Devflow, Inc. (“Devflow,” “we,” “us,” or “our”) provides a SaaS-based machine learning-powered text
                    search platform (the “Services”). This Privacy Policy describes how we handle personal information
                    that we collect about our customers, including when they use our Services or visit our website,
                    https://trieve.ai/.
                  </p>
                  <p>
                    We treat all personal information covered by this Privacy Policy as pertaining to individuals acting
                    as business representatives, and not in their individual or household capacity. This Privacy Policy
                    does not apply to our handling of personal information that we process on behalf of our customers as
                    a service provider.
                  </p>
                </div>
              </div>

              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <h2 id="h-personal-information-we-collect" class="font-bold text-3xl">
                    Personal Information We Collect
                  </h2>
                  <p><strong>Information you provide to us may include:</strong></p>
                  <p>
                    <strong>Account information and contact details</strong>,&nbsp;such as your company’s name, your
                    first and last name, username and password, email address, mailing address, and phone number.
                  </p>
                  <p>
                    <strong>Payment information</strong>, including your payment account details, which we may obtain
                    from your financial institution, when you choose to connect your account to the Services.
                  </p>
                  <p>
                    <strong>Communications</strong>&nbsp;that we exchange with you, including when you contact us with
                    questions, feedback, or otherwise.
                  </p>
                  <p>
                    <strong>Marketing data</strong>, such as your preferences for receiving our marketing
                    communications, and details about your engagement with them.
                  </p>
                  <p>
                    <strong>Other data</strong>&nbsp;not specifically listed here, which we will use as described in
                    this Privacy Policy or as otherwise disclosed at the time of collection.
                  </p>
                  <p>
                    <strong>Third party sources</strong>.&nbsp;We may combine personal information we receive from you
                    with personal information we obtain from other sources, such as:
                  </p>
                  <ul>
                    <li><strong>Third parties</strong>, such as our business partners and others.</li>
                    <li><strong>Public sources</strong>, such as social media platforms.</li>
                  </ul>
                  <p>
                    <strong>Automatic data collection</strong>.&nbsp;We, our service providers, and our advertising
                    partners may automatically log information about you, your computer or mobile device, and your
                    interaction over time with our website and the Services (in your capacity as our customer’s
                    authorized user), our communications and other online services, such as:
                  </p>
                  <p>
                    <strong>Device data</strong>,&nbsp;such as your computer’s or mobile device’s operating system type
                    and version, manufacturer and model, browser type, screen resolution, RAM and disk size, CPU usage,
                    device type (e.g., phone, tablet), IP address, unique identifiers (including identifiers used for
                    advertising purposes), language settings, mobile device carrier, radio/network information (e.g.,
                    WiFi, LTE, 3G), and general location information such as city, state or geographic area.
                  </p>
                  <p>
                    <strong>Online activity data</strong>,&nbsp;such as pages or screens you viewed, how long you spent
                    on a page or screen, the website you visited before browsing to the website, navigation paths
                    between pages or screens, information about your activity on a page or screen, access times, and
                    duration of access, and whether you have opened our marketing emails or clicked links within them.
                  </p>
                  <p><strong>We use the following tools for automatic data collection:</strong></p>
                  <p>
                    <strong>Cookies</strong>, which are text files that websites store on a visitor‘s device to uniquely
                    identify the visitor’s browser or to store information or settings in the browser for the purpose of
                    helping you navigate between pages efficiently, remembering your preferences, enabling
                    functionality, helping us understand user activity and patterns, and facilitating online
                    advertising.
                  </p>
                  <p>
                    <strong>Local storage technologies</strong>, like HTML5, that provide cookie-equivalent
                    functionality but can store larger amounts of data, including on your device outside of your browser
                    in connection with specific applications.
                  </p>
                  <p>
                    <strong>Web beacons</strong>, also known as pixel tags or clear GIFs, which are used to demonstrate
                    that a webpage or email was accessed or opened, or that certain content was viewed or clicked.
                  </p>
                  <h2 id="h-how-we-use-personal-information" class="font-bold text-3xl">
                    How We Use Personal Information
                  </h2>
                  <p>We use your personal information for the following purposes:</p>
                  <p><strong>To operate our Services:</strong></p>
                  <ul>
                    <li>Provide, operate, maintain, secure and improve our Services.</li>
                    <li>Fulfill a payment or transaction initiated by you.</li>
                    <li>Provide information about our Services.</li>
                    <li>
                      Communicate with you about our Services, including by sending you announcements, updates, security
                      alerts, and support and administrative messages.
                    </li>
                    <li>
                      Understand your needs and interests, and personalize your experience with our Services and our
                      communications.
                    </li>
                    <li>Respond to your requests, questions and feedback.</li>
                  </ul>
                  <p>
                    <strong>Research and development</strong>.&nbsp;As part of these activities, we may create
                    aggregated, de-identified or other anonymous data from personal information we collect. We may use
                    this anonymous data and share it with third parties for our lawful business purposes, including to
                    analyze and improve the Services, and promote our business.
                  </p>
                  <p><strong>Marketing and advertising, including for:</strong></p>
                  <ul>
                    <li>
                      <strong>Direct marketing</strong>.&nbsp;We may send you direct marketing communications as
                      permitted by law, including, but not limited to, notifying you of special promotions, offers and
                      events via postal mail, email, telephone, text message, and other means. You may opt out of our
                      marketing communications as described in the “Opt out of marketing communications” section below.
                    </li>
                    <li>
                      <strong>Interest-based advertising</strong>.&nbsp;We engage our advertising partners, including
                      third party advertising companies and social media companies, to advertise our Services and other
                      services across the web. We and our advertising partners may use cookies and similar technologies
                      to collect information about your interaction (including the data described in the “Automatic data
                      collection” section above) over time across the web, our communications and other online services,
                      and use that information to serve online ads. You can learn more about your choices for limiting
                      interest-based advertising in the&nbsp;“Online tracking opt out” section below.
                    </li>
                  </ul>
                  <p><strong>Compliance and protection, including to:</strong></p>
                  <ul>
                    <li>
                      Comply with applicable laws, lawful requests, and legal process, such as to respond to subpoenas
                      or requests from government authorities.
                    </li>
                    <li>
                      Protect our, your or others’ rights, privacy, safety or property (including by making and
                      defending legal claims).
                    </li>
                    <li>
                      Audit our internal processes for compliance with legal and contractual requirements and internal
                      policies.
                    </li>
                    <li>Enforce the terms and conditions that govern our website and Services.</li>
                    <li>
                      Prevent, identify, investigate and deter fraudulent, harmful, unauthorized, unethical or illegal
                      activity, including cyberattacks and identity theft.
                    </li>
                  </ul>
                  <h2 id="h-how-we-share-personal-information" class="font-bold text-3xl">
                    How We Share Personal Information
                  </h2>
                  <p>We may share your personal information with:</p>
                  <p>
                    <strong>Affiliates</strong>.&nbsp;Our corporate parent, subsidiaries, and affiliates, for purposes
                    consistent with this Privacy Policy.
                  </p>
                  <p>
                    <strong>Service providers</strong>.&nbsp;Companies and individuals that provide services on our
                    behalf or help us operate our Services or our business (such as banking partners, hosting,
                    information technology, customer support, email delivery, and website analytics services).
                  </p>
                  <p>
                    <strong>Advertising partners</strong>.&nbsp;Third party advertising companies, including for
                    the&nbsp;interest-based advertising purposes described above, that may collect information on our
                    website through cookies and other automated technologies.
                  </p>
                  <p>
                    <strong>Professional advisors</strong>.&nbsp;Professional advisors, such as lawyers, auditors,
                    bankers and insurers, where necessary in the course of the professional services that they render to
                    us.
                  </p>
                  <p>
                    <strong>Authorities and others</strong>.&nbsp;Law enforcement, government authorities, and private
                    parties, as we believe in<br />
                    good faith to be necessary or appropriate for the&nbsp;compliance and protection purposes&nbsp;described
                    above.
                  </p>
                  <p>
                    <strong>Business transferees</strong>.&nbsp;Acquirers and other relevant participants in business
                    transactions (or negotiations for such transactions) involving a corporate divestiture, merger,
                    consolidation, acquisition, reorganization, sale or other disposition of all or any portion of the
                    business or assets of, or equity interests in, Devflow or our affiliates (including, in connection
                    with a bankruptcy or similar proceedings).
                  </p>
                  <h2 id="h-your-choices" class="font-bold text-3xl">Your Choices</h2>
                  <p>
                    <strong>Opt out of marketing communications</strong>. You may opt out of marketing-related
                    communications by following the opt out or unsubscribe instructions contained in the marketing
                    communications we send you.
                  </p>
                  <p>
                    <strong>Online tracking opt-out</strong>. There are a number of ways to limit online tracking, which
                    we have summarized below:
                  </p>
                  <ul>
                    <li>
                      <strong>Blocking cookies in your browser</strong>.&nbsp;Most browsers let you remove or reject
                      cookies, including cookies used for interest-based advertising. To do this, follow the
                      instructions in your browser settings. Many browsers accept cookies by default until you change
                      your settings. For more information about cookies, including how to see what cookies have been set
                      on your device and how to manage and delete them, visit&nbsp;<a
                        href="https://www.allaboutcookies.org/"
                        target="_blank"
                        rel="noreferrer noopener">www.allaboutcookies.org</a
                      >.
                    </li>
                    <li>
                      <strong>Blocking advertising ID use in your mobile settings</strong>.&nbsp;Your mobile device
                      settings may provide functionality to limit use of the advertising ID associated with your mobile
                      device for interest-based advertising purposes.
                    </li>
                    <li>
                      <strong>Using privacy plug-ins or browsers</strong>.&nbsp;You can block our websites from setting
                      cookies used for interest-based ads by using a browser with privacy features, like&nbsp;<a
                        href="https://brave.com/"
                        target="_blank"
                        rel="noreferrer noopener">Brave</a
                      >, or installing browser plugins like&nbsp;<a
                        href="https://privacybadger.org/"
                        target="_blank"
                        rel="noreferrer noopener">Privacy Badger</a
                      >,&nbsp;<a href="https://www.ghostery.com/" target="_blank" rel="noreferrer noopener">Ghostery</a
                      >, or&nbsp;<a href="https://ublock.org/" target="_blank" rel="noreferrer noopener"
                        >uBlock Origin</a
                      >, and configuring them to block third party cookies/trackers. You can also opt out of Google
                      Analytics by downloading and installing the browser plug-in available at:&nbsp;<a
                        href="https://tools.google.com/dlpage/gaoptout"
                        target="_blank"
                        rel="noreferrer noopener">https://tools.google.com/dlpage/gaoptout</a
                      >.
                    </li>
                    <li>
                      <strong>Platform opt outs</strong>.&nbsp;The following advertising partners offer opt out features
                      that let you opt out of use of your information for interest-based advertising:
                      <ul>
                        <li>
                          Google:&nbsp;<a
                            href="https://adssettings.google.com/"
                            target="_blank"
                            rel="noreferrer noopener">https://adssettings.google.com/</a
                          >
                        </li>
                        <li>
                          Facebook:&nbsp;<a
                            href="https://www.facebook.com/about/ads"
                            target="_blank"
                            rel="noreferrer noopener">www.facebook.com/about/ads</a
                          >
                        </li>
                        <li>
                          Twitter:&nbsp;<a
                            href="https://www.twitter.com/settings/personalization"
                            target="_blank"
                            rel="noreferrer noopener">www.twitter.com/settings/personalization</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <strong>Advertising industry opt out tools</strong>.&nbsp;You can also use these opt out options
                      to limit use of your information for interest-based advertising by participating companies:
                      <ul>
                        <li>
                          Digital Advertising Alliance for Websites:&nbsp;<a
                            href="https://optout.aboutads.info/"
                            target="_blank"
                            rel="noreferrer noopener">optout.aboutads.info</a
                          >
                        </li>
                        <li>
                          Digital Advertising Alliance for Mobile Apps:&nbsp;<a
                            href="https://youradchoices.com/appchoices"
                            target="_blank"
                            rel="noreferrer noopener">https://youradchoices.com/appchoices</a
                          >
                        </li>
                        <li>
                          Network Advertising Initiative:&nbsp;<a
                            href="https://optout.networkadvertising.org/"
                            target="_blank"
                            rel="noreferrer noopener">optout.networkadvertising.org</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <p>
                    Note that because these opt out mechanisms are specific to the device or browser on which they are
                    exercised, you will need to opt out on every browser and device that you use.
                  </p>
                  <p>
                    <strong>Do Not Track</strong>. Some Internet browsers may be configured to send “Do Not Track”
                    signals to the online services that you visit. We currently do not respond to “Do Not Track” or
                    similar signals. To find out more about “Do Not Track,” please visit&nbsp;<a
                      href="https://www.allaboutdnt.com/"
                      target="_blank"
                      rel="noreferrer noopener">https://www.allaboutdnt.com</a
                    >.
                  </p>
                  <h2 id="h-other-sites-and-services" class="font-bold text-3xl">Other Sites and Services</h2>
                  <p>
                    Our Services may contain links to websites and other online services operated by third parties. In
                    addition, our content may be integrated into web pages or other online services that are not
                    associated with us. These links and integrations are not an endorsement of, or representation that
                    we are affiliated with, any third party. We do not control websites or online services operated by
                    third parties, and we are not responsible for their actions.
                  </p>
                  <h2 id="h-data-security" class="font-bold text-3xl">Data Security</h2>
                  <p>
                    We employ a number of technical, organizational and physical safeguards designed to protect the
                    personal information we collect. However, no security measures are failsafe and we cannot guarantee
                    the security of your personal information.
                  </p>
                  <h2 id="h-children" class="font-bold text-3xl">Children</h2>
                  <p>
                    The Services are not intended for use by children under 13 years of age. If we learn that we have
                    collected personal information through our Services from a child under 13 without the consent of the
                    child’s parent or guardian as required by law, we will delete it.
                  </p>
                  <h2 id="h-changes-to-this-privacy-policy" class="font-bold text-3xl">
                    Changes to This Privacy Policy
                  </h2>
                  <p>
                    We reserve the right to modify this Privacy Policy at any time. If we make material changes to this
                    Privacy Policy, we will notify you by updating the date of this Privacy Policy and posting it on the
                    website.
                  </p>
                  <h2 id="h-how-to-contact-us" class="font-bold text-3xl">How to Contact Us</h2>
                  <p>
                    You can reach us by email at <a href="mailto:privacy@trieve.com">privacy@trieve.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
