---
---

<div
  class="hidden md:block bg-blue-900 dark:bg-slate-800 dark:border-slate-800 dark:text-slate-400 border-b border-blue-900 text-sm px-3 py-2 text-gray-200 overflow-hidden whitespace-nowrap text-ellipsis"
>
  <span class="text-xs py-0.5 px-1 bg-primary dark:bg-slate-700 dark:text-slate-300 font-semibold">NEW</span>
  <a href="https://openhako.com/#/" class="hover:underline text-gray-200 dark:text-slate-400">Lorem ipsum.</a>
  <a
    target="_blank"
    rel="noopener"
    class="float-right"
    title="If you like our work, give us a star."
    href="https://github.com/openhako/hako-desktop"
  >
    <img
      src="https://img.shields.io/github/stars/openhako/hako-desktop.svg?style=social&label=Stars&maxAge=86400"
      alt="Follow @OpenHako"
      width="84"
      height="20"
    />
  </a>
</div>
