---
import { Icon } from 'astro-icon/components';
---

<script>
  try {
    void fetch(`https://api.github.com/repos/devflowinc/trieve`, {
      headers: {
        Accept: 'application/vnd.github+json',
      },
    }).then((response) => {
      if (!response.ok) {
        return;
      }
      void response.json().then((data) => {
        const starCount = data.stargazers_count;
        const starCountElement = document.querySelector('#trieve-starcount');
        if (starCountElement) {
          starCountElement.textContent = starCount;
        }
      });
    });
  } catch (e) {
    console.error(e);
  }
</script>
<div
  class="flex flex-row justify-between items-center text-muted bg-fuchsia-100 dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-neutral-200 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <div>
    <span
      class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
      >NEW</span
    >
    <a href="https://api.trieve.ai/redoc" class="text-muted hover:underline dark:text-neutral-200 font-medium"
      >OpenAPI specification »</a
    >
  </div>
  <a
    target="_blank"
    rel="noopener"
    class="flex space-x-1 items-center rounded-md outline-1 border border-fuchsia-500 px-2 py-1 font-medium hover:bg-fuchsia-200/50 hover:text-black"
    title="If you like Trieve, give us a star."
    href="https://github.com/devflowinc/trieve"
  >
    <Icon name="ri:github-line" class="w-4 h-4 mr-1" /> Star Us | <span id="trieve-starcount">281</span>
  </a>
</div>
