---
---

<div
  class="text-muted text-sm bg-[#dbeafe] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block">NEW</span>
  <a href="https://astro.build/blog/astro-4/" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >Astro 4.0 is here! »</a
  >
  <a
    target="_blank"
    rel="noopener"
    class="float-right rtl:float-left"
    title="If you like AstroWind, give us a star."
    href="https://github.com/onwidget/astrowind"
  >
    <img
      src="https://img.shields.io/github/stars/onwidget/astrowind.svg?style=social&label=Stars&maxAge=86400"
      alt="Follow @onWidget"
      width="84"
      height="20"
    />
  </a>
</div>
