---
import { IconArrowDownRight } from "~/components/icons";
const {} = Astro.props;
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2
        class="max-w-lg mb-4 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto"
      >
        Frequently Asked Questions
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 row-gap-8 md:grid-cols-2">
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            What do I need to start?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Space, the final frontier. These are the voyages of the Starship
            Enterprise. Its five-year mission: to explore strange new worlds.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Many say exploration is part of our destiny, but it’s actually our
            duty to future generations.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            How to install the Astro + Tailwind CSS template?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Well, the way they make shows is, they make one show. That show's
            called a pilot.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Then they show that show to the people who make shows, and on the
            strength of that one show they decide if they're going to make more
            shows. Some pilots get picked and become television programs.Some
            don't, become nothing. She starred in one of the ones that became
            nothing.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            Is the Space Pope reptilian!?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            A flower in my garden, a mystery in my panties. Heart attack never
            stopped old Big Bear. I didn't even know we were calling him Big
            Bear.
          </p>
        </div>
      </div>
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            How much money you got on you?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Michael Knight a young loner on a crusade to champion the cause of
            the innocent. The helpless. The powerless in a world of criminals
            who operate above the law. Here he comes Here comes Speed Racer.
            He's a demon on wheels.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            Galaxies Orion's sword globular star cluster?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            A business big enough that it could be listed on the NASDAQ goes
            belly up. Disappears!
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            It ceases to exist without me. No, you clearly don't know who you're
            talking to, so let me clue you in.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            When has justice ever been as simple as a rule book?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            This is not about revenge. This is about justice. A lot of things
            can change in twelve years, Admiral. Well, that's certainly good to
            know. About four years. I got tired of hearing how young I looked.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
