---
import { Icon } from "astro-icon";
const {} = Astro.props;
---

<section class="relative">
  <div
    class="absolute inset-0 bg-blue-50 dark:bg-slate-800 pointer-events-none mb-32"
    aria-hidden="true"
  >
  </div>
  <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <div class="mb-8 text-center">
        <p
          class="text-base text-blue-600 dark:text-blue-200 font-semibold tracking-wide uppercase"
        >
          Components
        </p>
        <h2
          class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
        >
          Most used widgets
        </h2>
        <p
          class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400"
        >
          Provides frequently used components for building websites using
          Tailwind CSS
        </p>
      </div>
      <div
        class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white"
      >
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:home" class="w-12 h-12" />

            <div class="ml-4 text-xl font-bold">Headers</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:faq" class="w-12 h-12" />

            <div class="ml-4 text-xl font-bold">Footers</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:video-projector" class="w-12 h-12" />
            <div class="ml-4 text-xl font-bold">Features</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:in-transit" class="w-12 h-12" />

            <div class="ml-4 text-xl font-bold">Call-to-Action</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:calculator" class="w-12 h-12" />
            <div class="ml-4 text-xl font-bold">Pricing</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
        >
          <div class="flex items-center mb-4">
            <Icon name="flat-color-icons:voice-presentation" class="w-12 h-12"
            />
            <div class="ml-4 text-xl font-bold">Testimonial</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
