---
import { Icon } from 'astro-icon';
---

<section class="relative bg-primary-100 dark:bg-neutral-800" id="subscribe">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="bg-white dark:bg-neutral-900 max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-white">
					<span>Don't miss our updates</span>
				</h2>
				<p class="text-xl text-neutral-600 dark:text-neutral-400">
					Follow us on social and subscribe to our newsletter for the latest news!
				</p>

				<div class="mt-6">
					<a
						class="ml-onclick-form btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
						href="javascript:void(0)"
						rel="noopener"
						onclick="ml('show', 't9VGzX', true)"
					>
						<Icon name="tabler:checkbox" class="w-5 h-5 mr-1 -ml-1.5" /> Subscribe
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
