---
import "@fontsource/dm-sans";
import "@fontsource/diphylleia";
---

<section class="w-full max-w-[1512px] mx-auto h-[1336px] bg-[#FCF6E5] flex flex-col items-between gap-[196px]">
  
  <div class="relative w-[1348px] mx-auto h-[1040px] flex flex-col justify-start items-center gap-[108px]">
    <!-- Heading -->
    <h2 class="text-center text-[#083642] text-[32px] font-diphylleia font-normal leading-[40px]">
    Each customer call helps you get incrementally closer to <br /> feeling the “pull” of customer demand.
    </h2>

    <!-- Content Wrapper -->
    <div class="relative w-[1348px] h-[852px] flex justify-center items-center">

      <!-- Background Card -->
      <div class="absolute top-0 w-[494px] h-[659px] bg-white shadow-lg rounded-[24px]"></div>

      <!-- Main Image -->
      <img src="public/images/woman_on_videocall.jpg" alt="Video Call with Rebecca"
        class="absolute top-[154px] w-[638px] h-[420px] rounded-[24px] shadow-lg object-cover">

      <!-- Labels & Connectors -->
      <!-- Top Label -->
      <div class="absolute ml-[400px] top-[40px] bg-white rounded-[24px] shadow-sm px-6 py-4 text-center">
        <p class="text-[#657B83] text-[20px] font-dm-sans">Know what your customer wants to get done</p>
      </div>

      <!-- Left Label (Unlock real demand) -->
      <div class="absolute left-[74px] top-[409px] flex items-center">
        
        <div class="border-[2.5px] border-[rgba(174,131,0,0.4)] px-[24px] py-[16px] rounded-[100px] text-[#AE8300] text-[20px] font-dm-sans font-medium">
          Unlock real demand
        </div>

        <div class="flex flex-row-reverse items-center">
          <div class="w-[12px] h-[12px] bg-[#D7A200] rounded-full"></div><div class="w-[259px] h-[2.5px] bg-[#D7A200]"></div>
        </div>

      </div>
    
      <!-- Right Label (Understand customer’s critical projects) -->
      <div class="absolute right-[0px] top-[233px] flex items-center">
        
        <div class="flex flex-row items-center">
          <div class="w-[12px] h-[12px] bg-[#D7A200] rounded-full"></div><div class="w-[259px] h-[2.5px] bg-[#D7A200]"></div>
        </div>

        <div class="border-[2.5px] border-[rgba(174,131,0,0.4)] px-[24px] py-[16px] rounded-[100px] text-[#AE8300] text-[20px] font-dm-sans font-medium">
          Understand the customer’s <br /> critical projects
        </div>

      </div>

      <!-- Bottom Center Label (Video Call with Rebecca) -->
      <div class="w-auto h-auto absolute bottom-[145px] flex items-center bg-white pl-[16px] pr-[32px] py-[16px] rounded-full shadow-md">
        <div class="w-[61px] h-[61px] bg-[#ae8300] rounded-full flex items-center justify-center">
          <img src="public/images/Video.svg" alt="Twitter" class="w-[24px] h-[24px]" />
        </div>
        <div class="ml-4">
          <p class="text-[#083642] text-[20px] font-dm-sans font-semibold">Video Call</p>
          <p class="text-[#083642] text-[20px] font-dm-sans">with Rebecca</p>
        </div>
      </div>

      <!-- Bottom Left Label (Revisit Segments) -->
      <div class="absolute left-[140px] bottom-[26px] bg-white px-[24px] py-[24px] rounded-[24px] shadow-sm text-center">
        <p class="text-[#657B83] text-[20px] font-dm-sans">Revisit the segments that resonate</p>
      </div>

      <!-- Bottom Right Label (Differentiate demand) -->
      <div class="absolute right-0 bottom-0 bg-white px-[24px] py-[24px] rounded-[24px] shadow-sm text-center">
        <p class="text-[#657B83] text-[20px] font-dm-sans">Differentiate real demand from a feature <br /> wishlist or complaining</p>
      </div>

      <!-- Bottom Floating Label (Hear unspoken feedback) -->
      <div class="absolute left-0 bottom-[126px] bg-white px-[24px] py-[24px] rounded-[24px] shadow-sm text-center">
        <p class="text-[#657B83] text-[20px] font-dm-sans">Hear unspoken feedback</p>
      </div>
    </div>
  </div>

  <!-- Timeline -->
  <div class="flex flex-col h-[100px] justify-center items-center bottom-[0px] gap-[18px]">
    
    <!-- Timeline Section (Time)-->
    <div class="w-full h-[26px] flex flex-row justify-start">
      
      <div class="ml-[203px] items-center">
        <p class="w-[124px] text-center text-[#AE8300] font-dm-sans font-bold text-[20px]">03:21</p>
      </div>

      <div class="ml-[99px] items-center">
        <p class="w-[111px] text-center text-[#AE8300] font-dm-sans font-bold text-[20px]">04:34</p>
      </div>

      <div class="ml-[115px] items-center">
        <p class="w-[379px] text-center text-[#AE8300] font-dm-sans font-bold text-[20px]">07:57</p>
      </div>

      <div class="ml-[169px] items-center opacity-50">
        <p class="w-[184px] text-center text-[#AE8300] font-dm-sans font-bold text-[20px]">12:45</p>
      </div>

    </div>

    <!-- Timeline Section (Line)-->
    <div class="w-full flex flex-row h-[12px] justify-center items-center">
      
      <div class="flex flex-row-reverse items-center">
        <div class="w-[12px] h-[12px] bg-[#D7A200] rounded-full"></div><div class="w-[259px] h-[2.5px] bg-line-gradient(left)"></div>
      </div>

      <div class="flex flex-row-reverse items-center">
        <div class="w-[12px] h-[12px] bg-[#D7A200] rounded-full"></div><div class="w-[204px] h-[2.5px] bg-[#AE8300]"></div>
      </div>

      <div class="flex flex-row-reverse items-center">
        <div class="w-[12px] h-[12px] bg-[#D7A200] rounded-full"></div><div class="w-[348px] h-[2.5px] bg-[#AE8300]"></div>
      </div>

      <div class="flex flex-row-reverse items-center">
        <div class="w-[271px] h-[2.5px] bg-[#AE8300]"></div>
      </div>

      <div class="flex flex-row-reverse items-center opacity-50">
        <div class="w-[12px] h-[12px] bg-[#D7A200] rounded-full"></div><div class="w-[168px] h-[2.5px] bg-[#AE8300]"></div>
      </div>

      <div class="flex flex-row-reverse items-center opacity-50">
        <div class="w-[214px] h-[2.5px] bg-line-gradient(right)"></div>
      </div>
    
    </div>

    <!-- Timeline Section (Text)-->
    <div class="w-full h-[26px] flex flex-row justify-start text-center text-[#AE8300] font-dm-sans font-medium text-[20px]">
      
      <div class="ml-[203px] items-center">
        <p class="w-[124px] text-center">Built Rapport</p>
      </div>

      <div class="ml-[99px] items-center">
        <p class="w-[111px] text-center">Disengaged</p>
      </div>

      <div class="ml-[115px] items-center">
        <p class="w-[379px] text-center">Engaged: (Frustration) Shared Pain Point</p>
      </div>

      <div class="ml-[169px] items-center opacity-50">
        <p class="w-[184px] text-center">Company Research</p>
      </div>
      <!-- <div class="flex flex-col items-center justify-between">
        <p class="font-medium text-[20px]">Engaged: (Frustration) Shared Pain Point</p>
      </div> -->

      <!-- <div class="flex flex-col items-center opacity-50 justify-between">
        <p class="font-medium text-[20px]">Company Research</p>
      </div> -->

    </div>

  </div>
</section>

