---
import Headline from '~/components/ui/Headline.astro';
import ItemGrid from '../ui/ItemGrid.astro';

interface Item {
  title: string;
  description?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  items: Array<Item>;
  isDark?: boolean;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight = await Astro.slots.render('highlight'),
  items = [],
  isDark = false,
} = Astro.props;
---

<section class="relative">
  <div class="absolute inset-0 pointer-events-none -z-[1]" aria-hidden="true">
    <slot name="bg"><div class:list={['absolute inset-0', { 'bg-dark dark:bg-transparent': isDark }]}></div></slot>
  </div>
  <div class:list={['relative text-default px-4 md:px-6 py-12 md:py-16 lg:py-20 mx-auto max-w-6xl', { dark: isDark }]}>
    <Headline
      title={title}
      subtitle={subtitle}
      highlight={highlight}
      classes={{
        container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
        title: 'sm:text-4xl text-3xl',
      }}
    />
    <div class="sm:mx-auto">
      <ItemGrid items={items} defaultIcon="tabler:chevron-right" classes={{
                panel: 'max-w-none',
      }} />
    </div>
  </div>
</section>
