---
import { Icon } from 'astro-icon';
---


<section id='submissions'>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden ">
		<div class="py-12 md:py-20">
			<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
				Where to stay?
			</h2>

			<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
				These are some of the best ways to stay in Braga while you attend BOD 2022. No matter the budget.
			</p>
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							
							<h3 class="mb-3 text-2xl lg:text-3xl font-bold">
								Meliã
							</h3>
							<p>
								Price: from 110€ for each night
								<br>
								Address: Avenida General Carrilho da Silva Pinto nº 8, 4715-380 Tenões, Braga
								<br>
								How to reach UM: Walking distance from university
								<br>
								<br>
							</p>
							<div class="w-full">
								<a
									class="btn text-white bg-black hover:bg-gray-600 mb-4 sm:mb-0"
									href="https://www.meliabraga.com/"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:browser-check" class="w-5 h-5 mr-1 -ml-1.5" /> Book
								</a>
								<a
									class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
									href="https://www.google.com/maps/dir/Av.+Gen.+Carrilho+da+Silva+Pinto+8,+4715-380+Ten%C3%B5es,+Braga/Universidade+do+Minho+-+Campus+de+Gualtar,+Rua+da+Universidade,+Braga/@41.5573732,-8.4004863,16z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0xd24fc20ed3b6a09:0xe5c39922c7d34021!2m2!1d-8.3950635!2d41.556706!1m5!1m1!1s0xd24fc279db73165:0x753290b0d1b763f0!2m2!1d-8.3962368!2d41.5607319?shorturl=1"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:map-2" class="w-5 h-5 mr-1 -ml-1.5" /> Route
								</a>
							</div>
							<br>
							<br>
							<br>
			
							<h3 class="mb-3 text-2xl lg:text-3xl font-bold">
								Hotel Ibis Braga Centro
							</h3>
							<p>
								Price: from 110€ for each night
								<br>
								Address: Rua Do Carmo 38 nº 307, 4700-309 Braga
								<br>
								How to reach UM: Reachable through TUB route 2 at the 'Igreja do Pópulo - Cons Torres Almeida I' stop
								<br>
								<br>
							</p>
							<div class="w-full">
								<a
									class="btn text-white bg-black hover:bg-gray-600 mb-4 sm:mb-0"
									href="https://all.accor.com/hotel/1802/index.en.shtml"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:browser-check" class="w-5 h-5 mr-1 -ml-1.5" /> Book
								</a>
								<a
									class="btn text-white  bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
									href="https://tub.pt/percurso/2/"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:map-2" class="w-5 h-5 mr-1 -ml-1.5" /> Route
								</a>
							</div>
							<br>
							<br>
							<br>
							<h3 class="mb-3 text-2xl lg:text-3xl font-bold">
								Sasimi Nice Hostel
							</h3>
							<p>
								Price: from 25€ for each night
								<br>
								Address: Rua Eça de Queirós nº 52, 4700-317 Braga
								<br>
								How to reach UM: Reachable through TUB route 2 at the 'Igreja do Pópulo - Cons Torres Almeida I' stop
								<br>
								<br>
							</p>
							
							<div class="w-full">
								<a
									class="btn text-white bg-black hover:bg-gray-600 mb-4 sm:mb-0"
									href="https://www.google.com/travel/hotels/s/QXHYv"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:browser-check" class="w-5 h-5 mr-1 -ml-1.5" /> Book
								</a>
								<a
									class="btn text-white  bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
									href="https://tub.pt/percurso/2/"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:map-2" class="w-5 h-5 mr-1 -ml-1.5" /> Route
								</a>
								
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<h3 class="mb-3 text-2xl lg:text-3xl font-bold">
							Hotel Lamaçães / Hotel B&B
						</h3>
						<p>
							Price: from 40€ for each night
							<br>
							Address: Avenida D. João II nº 75 , 4715-313 Braga
							<br>
							How to reach UM: Reachable through TUB route 41
							<br>
							<br>
							<br>
						</p>
						<div class="w-full">
							<a
								class="btn text-white bg-black hover:bg-gray-600 mb-4 sm:mb-0"
								href="https://www.hotel-bb.com/en/hotel/braga-lamacaes"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:browser-check" class="w-5 h-5 mr-1 -ml-1.5" /> Book
							</a>
							<a
								class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
								href="https://tub.pt/percurso/41/"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:map-2" class="w-5 h-5 mr-1 -ml-1.5" /> Route
							</a>
						</div>
						<br>
						<br>
						<br>
		
						<h3 class="mb-3 text-2xl lg:text-3xl font-bold">
							Pousada da Juventude
						</h3>
						<p>
							Price: from 30€ for each night
							<br>
							Address: Rua de Santa Margarida, nº 6, 4710-306 Braga
							<br>
							How to reach UM: Reachable through TUB route 7 at the 'junta da Senhora-a-Branca - Senhora-a-Branca' stop
							<br>
							<br>
						</p>
						<div class="w-full">
							<a
								class="btn text-white bg-black hover:bg-gray-600 mb-4 sm:mb-0"
								href="https://www.pousadasjuventude.pt/pt/pousadas/pousada-de-braga/"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:browser-check" class="w-5 h-5 mr-1 -ml-1.5" /> Book
							</a>
							<a
								class="btn text-white  bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
								href="https://tub.pt/percurso/7/"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:map-2" class="w-5 h-5 mr-1 -ml-1.5" /> Route
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

