---
const items = [
	[
		{
			title: 'Integration with Tailwind CSS',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Ready-to-use Components',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Best Practices',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
	],
	[
		{
			title: 'Excellent Page Speed',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Frequently updated',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Open to new ideas and contributions',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Features</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				What's interesting about <span
					class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap"
					>AstroWind</span
				>
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa
				quae.
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
										<svg class="w-12 h-12 p-0.5" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
											<g fill="none" fill-rule="evenodd">
												<rect class="fill-current text-primary-600" width="64" height="64" rx="32" />
												<g stroke-linecap="square" stroke-width="2">
													<path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z" />
													<path
														class="stroke-current text-primary-300"
														d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
													/>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p>{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
