---
import {
  IconTwitter,
  IconInstagram,
  IconFacebook,
  IconArrowRight,
  IconRSS,
} from "~/components/icons";
const {} = Astro.props;
---

<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div
      class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12 border-t border-gray-200 dark:border-slate-800"
    >
      <div class="col-span-12 lg:col-span-3">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href="/">AstroWind</a>
        </div>
        <div class="text-sm text-gray-600">
          <a
            class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            href="#"
            >Terms
          </a> ·
          <a
            class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            href="#"
            >Privacy Policy
          </a>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Products
        </div>
        <ul class="text-sm">
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Web Studio
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >DynamicBox Flex
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Programming Forms
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Integrations
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Command-line
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Resources
        </div>
        <ul class="text-sm">
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Documentation
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Tutorials &amp; Guides
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Blog
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Support Center
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Partners
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Company
        </div>
        <ul class="text-sm">
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Home
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >About us
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Company values
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Pricing
            </a>
          </li>
          <li class="mb-2">
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#"
              >Privacy Policy
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-12 md:col-span-3 lg:col-span-3">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Subscribe
        </div>
        <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">
          Get the latest news and articles to your inbox every month.
        </p>
        <form>
          <div class="flex flex-wrap mb-4">
            <div class="w-full">
              <label class="block text-sm sr-only" for="newsletter"
                >Email
              </label>
              <div class="relative flex items-center max-w-xs">
                <input
                  id="newsletter"
                  type="email"
                  class="form-input w-full text-gray-800 px-3 py-2 pr-12 text-sm border rounded-sm dark:bg-transparent dark:border-slate-600 dark:text-gray-400"
                  placeholder="Your email"
                />
                <button
                  type="submit"
                  class="absolute inset-0 left-auto"
                  aria-label="Subscribe"
                >
                  <span
                    class="absolute inset-0 right-auto w-px -ml-px my-2 bg-gray-300 dark:bg-slate-600"
                    aria-hidden="true"></span>

                  <IconArrowRight
                    class="w-5 h-5 text-blue-600 mx-3 flex-shrink-0"
                  />
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="md:flex md:items-center md:justify-between py-4 md:py-8">
      <ul class="flex mb-6 md:order-1 md:ml-4 md:mb-0">
        <li>
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-700 dark:text-gray-400 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out dark:bg-gray-800 dark:text-gray-400 p-1.5"
            aria-label="Twitter"
            href="#"
          >
            <IconTwitter />
          </a>
        </li>
        <li class="ml-4">
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-700 dark:text-gray-400 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out dark:bg-gray-800 dark:text-gray-400 p-1.5"
            aria-label="Instagram"
            href="#"
          >
            <IconInstagram />
          </a>
        </li>
        <li class="ml-4">
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-700 dark:text-gray-400 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out dark:bg-gray-800 dark:text-gray-400 p-1.5"
            aria-label="Facebook"
            href="#"
          >
            <IconFacebook />
          </a>
        </li>
        <li class="ml-4">
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-700 dark:text-gray-400 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out dark:bg-gray-800 dark:text-gray-400 p-1.5"
            aria-label="Twitter"
            href="/rss.xml"
          >
            <IconRSS />
          </a>
        </li>
      </ul>
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        <span
          class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 float-left rounded-sm bg-[url(https://onwidget.com/favicon/favicon-32x32.png)]"
        >
        </span>
        Made by <a
          class="text-blue-600 hover:underline dark:text-gray-200"
          href="https://onwidget.com/"
        >
          onWidget
        </a>. All rights reserved.
      </div>
    </div>
  </div>
</footer>
