---
import { Icon } from 'astro-icon';
import { getHomePermalink } from '~/utils/permalinks';
---

<footer class="border-t border-neutral-200 dark:border-neutral-800 dark:bg-neutral-900">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="text-neutral-500 dark:text-neutral-100 hover:bg-neutral-100 dark:hover:bg-neutral-700 focus:outline-none focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Facebook"
						href="https://www.facebook.com/bioinformaticsopendays"
					>
						<Icon name="tabler:brand-facebook" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-neutral-500 dark:text-neutral-100 hover:bg-neutral-100 dark:hover:bg-neutral-700 focus:outline-none focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Instagram"
						href="https://www.instagram.com/bioinformaticsopendays/"
					>
						<Icon name="tabler:brand-instagram" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-neutral-500 dark:text-neutral-100 hover:bg-neutral-100 dark:hover:bg-neutral-700 focus:outline-none focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Linkedin"
						href="https://www.linkedin.com/in/bioinformaticsopendays/"
					>
						<Icon name="tabler:brand-linkedin" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-neutral-500 dark:text-neutral-100 hover:bg-neutral-100 dark:hover:bg-neutral-700 focus:outline-none focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Twitter"
						href="https://twitter.com/Bioinf_OpenDays"
					>
						<Icon name="tabler:brand-twitter" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-neutral-500 dark:text-neutral-100 hover:bg-neutral-100 dark:hover:bg-neutral-700 focus:outline-none focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Email"
						href="mailto:bod.geral@gmail.com"
					>
						<Icon name="tabler:mail" class="w-5 h-5" />
					</a>
				</li>
			</ul>
			<div class="text-sm text-neutral-700 mr-4 dark:text-neutral-400">
				<a class="inline-block font-bold text-xl dark:text-white" href={getHomePermalink()}>Bioinformatics Open Days</a>
				<br />
				<br />
				Developed by the Organizing Committee of BOD 2023 · All rights reserved.
			</div>
		</div>
	</div>
</footer>
