---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import type { CallToAction } from '~/types';

export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  actions?: string | CallToAction[];
  image?: string | any; // TODO: find HTMLElementProps
}

const { id, actions = await Astro.slots.render('actions'), image = await Astro.slots.render('image') } = Astro.props;
---

<section class="" {...id ? { id } : {}}>
  <div
    class="flex items-center justify-center w-full md:w-screen h-[250px] md:h-[300px] bg-cover bg-center bg-no-repeat  shadow-lg"
    style="background-image: url('/assets/hands-back1.jpeg');"
  >
  <button class="absolute flex bg-black bg-opacity-60 text-white text-xl font-bold px-6 py-3 hover:bg-opacity-80 rounded">Book Appointment</button>
  </div>
</section>
