<div class="flex items-center">
    <svg aria-hidden="true" class="icon label-icon astro-2c5xqzis astro-gm6njmql" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" style="--sl-icon-size: 1em;">
      <path fill-rule="evenodd" d="M8.516 3a.94.94 0 0 0-.941.94v1.15H2.94a.94.94 0 1 0 0 1.882h7.362a7.422 7.422 0 0 1-1.787 3.958 7.42 7.42 0 0 1-1.422-2.425.94.94 0 1 0-1.774.627 9.303 9.303 0 0 0 1.785 3.043 7.422 7.422 0 0 1-4.164 1.278.94.94 0 1 0 0 1.881 9.303 9.303 0 0 0 5.575-1.855 9.303 9.303 0 0 0 4.11 1.74l-.763 1.525a.968.968 0 0 0-.016.034l-1.385 2.77a.94.94 0 1 0 1.683.841l1.133-2.267h5.806l1.134 2.267a.94.94 0 0 0 1.683-.841l-1.385-2.769a.95.95 0 0 0-.018-.036l-3.476-6.951a.94.94 0 0 0-1.682 0l-1.82 3.639a7.423 7.423 0 0 1-3.593-1.256 9.303 9.303 0 0 0 2.27-5.203h1.894a.94.94 0 0 0 0-1.881H9.456V3.94A.94.94 0 0 0 8.516 3Zm6.426 11.794a1.068 1.068 0 0 1-.02.039l-.703 1.407h3.924l-1.962-3.924-1.24 2.478Z" clip-rule="evenodd"></path>
    </svg>
    <select class="ml-2 p-2 rounded border border-gray-300 bg-transparent text-gray-700" onchange="changeLanguage(this)">
      <option value="ar">عربية</option>
      <option value="en">English</option>
      <option value="zh">中文</option>
      <option value="fr">Français</option>
      <option value="ru">Русский</option>
      <option value="es">Español</option>
    </select>
    <script is:inline>
        function changeLanguage(select) {
            const selectedLanguage = select.value;
            const currentUrl = window.location.href;
            let path = currentUrl.split('/').slice(3).join('/');
          
            if (!['ar', 'en', 'zh', 'fr', 'ru', 'es'].includes(path.substr(0, 2))) {
              path = `/${selectedLanguage}/${path}`;
            } else {
              path = `/${selectedLanguage}${path.substr(2)}`;
            }
          
            window.location.href = path;
          }
        </script>
</div>
