---
import { Icon } from 'astro-icon';
---

<section class="relative bg-primary-100 dark:bg-neutral-800" id="subscribe">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-white font-semibold tracking-wide uppercase">
					Portuguese League of Bioinformatics
				</p>
				<h2
					class="text-4xl dark:text-primary-400 md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
				>
					LPB
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-neutral-600 dark:text-neutral-400">
					Portuguese League of Bioinformatics is a national competition in the field of Bioinformatics and Computational
					Biology.
					<br />
					<br />
					The presentation of the winning projects (3 finals) will be presented, as well as the announcement of the results,
					during the Bioinformatics Open Days event.
				</p>
				<div class="mt-6">
					<a
						class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
						href="https://lpbio.github.io/"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:external-link" class="w-5 h-5 mr-1 -ml-1.5" /> More Information
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
