---
import { Icon } from 'astro-icon/components';

export interface Props {
  note?: string;
  icon?: string;
  subtitle?: string;
}

const {
  note = await Astro.slots.render('note'),
  icon = await Astro.slots.render('icon'),
  subtitle = await Astro.slots.render('subtitle'),
} = Astro.props;
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name={icon || 'tabler:info-square'} class="w-5 h-5 inline-block align-text-bottom" /> {subtitle}:</span
    >
    {note}
  </div>
</section>
