---
import { Icon } from 'astro-icon/components';
import type { JSX } from 'astro/jsx-runtime';

export interface Props {
  tagline?: string;
}

const { tagline } = Astro.props;
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    {
      tagline && (
        <span class="font-semibold">
          <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> {tagline}
          <slot />
        </span>
      )
    }
  </div>
</section>
