---
const { prevUrl, nextUrl } = Astro.props;
---

<div class="container flex">
  <div class="flex flex-row mx-auto container justify-between">
    <a
      href={prevUrl}
      class={`btn font-medium text-gray-600 hover:text-gray-900 dark:hover:text-white shadow-none mr-2 ${
        !prevUrl ? "invisible" : ""
      }`}
    >
      <div class="flex flex-row align-middle">
        <svg
          class="w-5 mr-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <p class="ml-2">Newer posts</p>
      </div>
    </a>
    <a
      href={nextUrl}
      class={`btn font-medium text-gray-600 hover:text-gray-900 dark:hover:text-white shadow-none ${
        !nextUrl ? "invisible" : ""
      }`}
    >
      <div class="flex flex-row align-middle">
        <span class="mr-2">Older posts</span>
        <svg
          class="w-5 ml-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
    </a>
  </div>
</div>
