---
import type { CallToAction } from '~/types';

export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  actions?: string | CallToAction[];
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  id,
  title = await Astro.slots.render('title'),
  tagline,
} = Astro.props;
---

<section class="relative w-full h-full flex  items-end not-prose bg-[url('src/assets/images/hero.png')] bg-right-top bg-cover" {...id ? { id } : {}}>
  <div class=" p-4 sm:p-6 ">
      <div>
         {
          title && (
            <h2
              class="text-5xl md:text-4xl font-semibold leading-none leading-tighter tracking-tighter mb-2 font-heading dark:text-gray-200"
              set:html={title}
            />
          )
        }
        {
          tagline && (
            <p
              class="text-xl text-secondary max-w-xl dark:text-blue-200 tracking-wide"
              set:html={tagline}
            />
          )
        }
    </div>
  </div>
</section>
