---
---

<!-- Pricing -->
<section id="registration" class="dark:bg-neutral-900">
	<div class="px-4 py-8 md:py-16 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-20 max-w-6xl">
		 <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"> 
		<!-- Title -->
		<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
			<h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Registration until <span
				class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap"
				>March 8</span
			></h2>
			<p class="mt-1 text-neutral-600 dark:text-neutral-400">
				We have options for everyone! Find the best one for you.
			</p>
		</div>
		<!-- End Title -->

		<!-- Grid -->
		<div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:items-center">
			<!-- Card -->
			<div class="flex flex-col border border-neutral-200 text-center rounded-xl p-8 dark:border-neutral-700">
				<h4 class="font-medium text-lg text-neutral-800 dark:text-neutral-200">NEBiUM Member</h4>
				<span class="mt-5 font-bold text-5xl text-neutral-800 dark:text-neutral-200">
					15
					<span class="font-bold text-2xl -mr-2">€</span>
				</span>
				<p class="mt-2 text-sm text-neutral-500">Exclusive deal for NEBiUM members.</p>

				<ul class="mt-7 space-y-2.5 text-sm">
					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Admission for the 3 days of the event</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Informal Dinner (BBQ)</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Workshop registration</span>
					</li>
				</ul>
				<a
					class="btn mt-5 text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
					href="https://docs.google.com/forms/d/e/1FAIpQLSdAdC2_N9RpJWcuws693qrHNzIrHyMPTq_85W6FgmtzQRxclg/viewform"
					target="_blank"
					rel="noopener"
					>Sign up
				</a>
			</div>
			<!-- End Card -->

			<!-- Card -->
			<div
				class="flex flex-col border-2 border-primary-600 text-center shadow-xl rounded-xl p-8 dark:border-primary-800"
			>
				<p class="mb-3">
					<span
						class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs uppercase font-semibold bg-primary-100 text-primary-800 dark:bg-primary-800 dark:text-white"
						>Most popular</span
					>
				</p>
				<h4 class="font-medium text-lg text-neutral-800 dark:text-neutral-200">Student</h4>
				<span class="mt-5 font-bold text-5xl text-neutral-800 dark:text-neutral-200">
					20
					<span class="font-bold text-2xl -mr-2">€</span>
				</span>
				<p class="mt-2 text-sm text-neutral-500">For students wanting to learn more about bioinformatics</p>

				<ul class="mt-7 space-y-2.5 text-sm">
					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Admission for the 3 days of the event</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Informal Dinner (BBQ)</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Workshop registration</span>
					</li>
				</ul>
				<a
					class="btn mt-5 text-white bg-primary-600 dark:bg-primary-600 hover:bg-primary-800 dark:hover:bg-primary-800 mb-4 sm:mb-0"
					href="https://docs.google.com/forms/d/e/1FAIpQLSdAdC2_N9RpJWcuws693qrHNzIrHyMPTq_85W6FgmtzQRxclg/viewform"
					target="_blank"
					rel="noopener"
					>Sign up
				</a>
			</div>
			<!-- End Card -->

			<!-- Card -->
			<div class="flex flex-col border border-neutral-200 text-center rounded-xl p-8 dark:border-neutral-700">
				<h4 class="font-medium text-lg text-neutral-800 dark:text-neutral-200">Standard</h4>
				<span class="mt-5 font-bold text-5xl text-neutral-800 dark:text-neutral-200">
					35
					<span class="font-bold text-2xl -mr-2">€</span>
				</span>
				<p class="mt-2 text-sm text-neutral-500">For non-students who want to register for the entire event</p>

				<ul class="mt-7 space-y-2.5 text-sm">
					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Admission for the 3 days of the event</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Informal Dinner (BBQ)</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Workshop registration</span>
					</li>
				</ul>

				<a
					class="btn mt-5 text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
					href="https://docs.google.com/forms/d/e/1FAIpQLSdAdC2_N9RpJWcuws693qrHNzIrHyMPTq_85W6FgmtzQRxclg/viewform"
					target="_blank"
					rel="noopener"
					>Sign up
				</a>
			</div>
			<!-- End Card -->

			<!-- Card -->
			<div class="flex flex-col border border-neutral-200 text-center rounded-xl p-8 dark:border-neutral-700">
				<h4 class="font-medium text-lg text-neutral-800 dark:text-neutral-200">Daily</h4>
				<span class="mt-5 font-bold text-5xl text-neutral-800 dark:text-neutral-200">
					20
					<span class="font-bold text-2xl -mr-2">€</span>
				</span>
				<p class="mt-2 text-sm text-neutral-500">For those interested in a particular day</p>

				<ul class="mt-6 space-y-1.5 text-sm">
					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Single-day admission to all activities (social dinner not included)</span>
					</li>
					<li class="flex space-x-2">
						<span class="text-left text-neutral-500 dark:text-neutral-500">If you choose the <b>15th</b>:</span>
					</li>
					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Informal Dinner (BBQ)</span>
					</li>
					<li class="flex space-x-2">
						<span class="text-left text-neutral-500 dark:text-neutral-500">If you choose the <b>16th</b>:</span>
					</li> 

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Workshop registration <s>20</s>€ -> 10€ </span> 
					</li>
				</ul>

				<a
					class="btn mt-5 text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
					href="https://docs.google.com/forms/d/e/1FAIpQLSdAdC2_N9RpJWcuws693qrHNzIrHyMPTq_85W6FgmtzQRxclg/viewform"
					target="_blank"
					rel="noopener"
					>Sign up
				</a>
			</div>
			<!-- End Card -->

			<!-- Card -->
		<div
				class="flex flex-col border-2 border-primary-600 text-center shadow-xl rounded-xl p-8 dark:border-primary-800">
				<p class="mb-3">
					<span
						class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs uppercase font-semibold bg-primary-100 text-primary-800 dark:bg-primary-800 dark:text-white"
						>New</span
					>
				</p>
				<h4 class="font-medium text-lg text-neutral-800 dark:text-neutral-200">Group Pack </h4>
					<span class="mt-5 font-bold text-5xl text-neutral-800 dark:text-neutral-200">
        16
		<span class="font-bold text-2xl -mr-2">€</span>
		<span class="text-sm">/per person</span>
					
				
				</span>
				<p class="mt-2 text-sm text-neutral-500">For those wanting to share this experience with others. Available only to parties of 6 or more students</p>

				<ul class="mt-7 space-y-2.5 text-sm">
				<li class="flex space-x-2">
						<span class="text-left text-neutral-500 dark:text-neutral-500">Includes, for each member:</span>
					</li>
					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Admission for the 3 days of the event</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">20% discount on the registration fee</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Informal Dinner (BBQ)</span>
					</li>

					<li class="flex space-x-2">
						<svg
							class="flex-shrink-0 h-5 w-5 text-primary-600"
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
								fill="currentColor"></path>
						</svg>
						<span class="text-left text-neutral-800 dark:text-neutral-400">Workshop registration</span>
					</li>
				</ul>

				<a
					class="btn mt-5 text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
					href="https://docs.google.com/forms/d/e/1FAIpQLSedmGcrCQOazhU_MqYCBfo97cT0-JP6H5Ufwt9lJIrdULvMnw/viewform"
					target="_blank"
					rel="noopener"
					>Sign up
				</a>
			</div> 
			<!-- End Card --> 
		</div>
		<!-- End Grid -->
	</div>
	<!-- End Pricing -->
</section>
