---
import { Icon } from 'astro-icon';
---

<section id="completeschedule" class="dark:bg-neutral-900">
	<div class="md:py-16 sm:px-4 mx-auto md:px-6 lg:px-8 lg:py-20 max-w-6xl">
		<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
			<h2 class="text-3xl lg:text-4xl font-bold  md:text-4xl md:leading-tight dark:text-white">Schedule</h2>
			<p class="mt-1 text-neutral-600 dark:text-neutral-400">
				Join us at BOD 2024 for three days of knowledge sharing, innovation and networking in the dynamic field of Bioinformatics.
			</p>
			<div class="mt-6">
				<a
					class="btn bg-primary-600 mb-4 sm:mb-0"
					href="https://www.google.com/maps/place/Complexo+Pedagogico+II-Uminho/@41.5597253,-8.398048,18.5z/data=!4m6!3m5!1s0xd24fe9d967b3e7b:0x8e7b5fcf6deed3b!8m2!3d41.5598839!4d-8.3976485!16s%2Fg%2F11bwyx90r2"
					target="_blank"
					rel="noopener"
				>
					<Icon name="tabler:map-pin" class="w-5 h-5 mr-1 -ml-1.5" /> Gualtar Campus, Pedagogical Complex II (CP2), Auditorium B1
				</a>
			</div>
				
		</div>
		<div class="flex flex-row border-y-2 px-6 py-2 text-primary-600">
			<div class="basis-full text-xl">
				<b>MARCH 14TH - THURSDAY</b>
				
			</div>
			
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white">
			<div class="basis-3/12 lg:basis-1/12">
				09:30 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Opening Session</b>
			</div>
		</div>

		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				10:00 H
			</div>
			<div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
				<img
					class="cover"
					src="/speakers/alfonsovalencia.png"
					alt="Kjell Peterson"
					width="90"
					height="90"
				/>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Keynote Lecture </b>
				<p class="py-1"> Cell Level Simulations and Digital Twins </p>
				<p class="text-neutral-600 dark:text-neutral-400">Alfonso Valencia</p>
				
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				10:45 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Coffee Break</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				10:00 H
			</div>
			<div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
				<img
					class="cover"
					src="/speakers/catiapesquita.png"
					alt="Kjell Peterson"
					width="90"
					height="90"
				/>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Keynote Lecture </b>
				<p class="py-1"> The Role of Knowledge in Artificial Intelligence for Scientific Discovery </p>
				<p class="text-neutral-600 dark:text-neutral-400">Cátia Pesquita</p>
				
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				12:00 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Round table</b>
				<p class="py-1">  </p>
				<p class="text-neutral-600 dark:text-neutral-400">Bioinformatics in Portugal and Spain - the present and future perspectives</p>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				12:45 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Lunch</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				14:00 H
			</div>
			<div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
				<img
					class="cover"
					src="/speakers/robfinn.png"
					alt="João Paulo Gomes"
					width="90"
					height="90"
				/>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Keynote Lecture</b>
				<p class="py-1">  </p>
				<p class="text-neutral-600 dark:text-neutral-400">Robert Finn</p>

			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				14:45 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Oral Communications [Session 1]</b>
				<!--<p class="py-1"> Genomics and Systems Biology </p> -->
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Get to know MIMt! A new, smaller and curated 16S rRNA reference database with less redundancy and higher accuracy at species-level identification - <b>M. Pilar Cabezas</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Prediction of novel small RNAs from Pseudomonas aeruginosa - <b>Vânia Pobre</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Finding novel genes coding for eco-friendly surfactants from hypersaline Iberian locations using metagenomic approaches - <b>Cátia Santos Pereira</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Individual-based modelling elucidates about the role of nanomaterials on methane production - <b>João Sequeira</b></p>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				15:45 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Poster Highlights [Session 1]</b> 
				<!--<p class="py-1"> Methods and Applications </p>-->
				<!--<p class="text-neutral-600 text-sm dark:text-neutral-400">Posters nº. 5, 8, 14, 19, 20, 21, 25, 29, 30, 31, 33, 35 and 41.</p>-->
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				16:00 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Poster Session 1 & Coffee Break</b>
			</div>
		</div> 
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				16:45 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Oral Communications [Session 2]</b>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">An Automated Structure-Based Platform for Gene Discovery and Enzyme Engineering - <b>João Correia</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Computationally-designed miniproteins showing neutralization activity against SARS-CoV-2 - <b>Pedro Moreira</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Deep Learning on Chaos Game Representation for Resistome - <b>Javier Montoya</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Modeling deep neural network architectures to improve schizophrenia predictability using genotype data - <b>Daniel Martins</b></p>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				17:45 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>End of day 1</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				20:00 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Social Dinner and post-dinner activities</b>
				<p class="py-1"> Migaitas, Braga </p>
			</div>
			
		</div>
		<div class="py-10">
		</div>
		<div class="flex flex-row border-y-2 px-6 py-2 text-primary-600">
			<div class="basis-full text-xl">
				<b>MARCH 15TH - FRIDAY</b>
				
			</div>
			
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
			<div class="basis-3/12 lg:basis-1/12">
				09:30 H
			</div>
			<div class="invisible basis-0 lg:visible lg:basis-1/12 pr-2">
				<img
					class="cover"
					src="/speakers/dianalousa.png"
					alt="Loïc Lannelongue"
					width="90"
					height="90"
				/> 
			</div> 
			<div class="basis-9/12 lg:basis-10/12">
				<b>Keynote Lecture</b>
				<p class="py-1"> Computational design of tailor-made of antiviral biopharmaceuticals </p>
				<p class="text-neutral-600 dark:text-neutral-400">Diana Lousa</p> 

			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				10:15 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Poster Highlights [Session 2 - software]</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="basis-3/12 lg:basis-1/12">
				10:30 H
			</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p> </p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Poster Session 2 (software) & coffee break</b>
				<!--<p class="py-1"> Software and applications</p>-->
				<!--<p class="text-neutral-600 text-sm dark:text-neutral-400">Posters no. 2, 3, 6, 9, 13, 16, 17, 24, 26, 36, 37, 39 and 40.</p>-->
				<!--<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p> -->
			</div>
		</div>		
		<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
			<div class="basis-3/12 lg:basis-1/12">11:15 H</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p></p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Oral Communications [session 3]</b>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">A network science approach to interpret multidimensional associations between human transcriptome, tissues and traits - <b>Darmit Kumar</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">The Portuguese Variome from over 12,000 Exomes: Streamlining Clinical Diagnostics and Translational Research - <b>Mariana Ribeiro</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Runs of homozygosity: bioinformatic approaches for diagnostic purposes and population analysis in 12,000 exomes - <b>Susana Valente</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Sequence to graph alignment based copy number calling using a flow network formulation - <b>Hugo Magalhães</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Plugging the holes: an intuitive software tool for reproducibility in Molecular Biology - <b>Patrícia Fernandes</b></p>
			</div>
		</div> 
		<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
			<div class="basis-3/12 lg:basis-1/12">12:30 H</div>
			<div class="invisible lg:basis-1/12 pr-2">
				<p></p>
			</div>
			<div class="basis-9/12 lg:basis-10/12">
				<b>Lunch</b>
				<!--<p class="py-1">Knowledge representation and machine learning</p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
					Identification of gene regulatory modules acting in the interaction between cork development and environmental
					variable - <b>Hugo Rodrigues</b>
				</p>
		<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
			The ImmunoPeptidomics Ontology: design and evaluation - <b>Patrícia Eugénio</b>
		</p>
		<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
			Exploring self-attention mechanisms and deep reinforcement learning for the de novo drug design - <b
				>Tiago Pereira</b>
		</p>
		<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">
			ngest: A Scalable Snakemake Pipeline for Customized Knowledge Graph construction - <b>Ana Santos-Pereira</b>-->
		</p>
	</div>
</div>
<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
	<div class="basis-3/12 lg:basis-1/12">14:00 H</div>
	<div class="invisible lg:basis-1/12 pr-2">
		<p></p>
	</div>
	<div class="basis-9/12 lg:basis-10/12">
		<b>Session with companies</b>
	</div>
</div>
<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
	<div class="basis-3/12 lg:basis-1/12">15:00 H</div>
	<div class="invisible lg:basis-1/12 pr-2">
		<p></p>
	</div>
	<div class="basis-9/12 lg:basis-10/12">
		<b>Job fair and coffee break</b>
		<!--<p class="text-neutral-600 dark:text-neutral-400">Silico Life, OmniumAI, Accenture</p>-->
	</div>
</div>
<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
	<div class="basis-3/12 lg:basis-1/12">15:45 H</div>
	<div class="invisible lg:basis-1/12 pr-2">
		<p></p>
	</div>
	<div class="basis-9/12 lg:basis-10/12">
		<b>Bioinformatics degrees in Portuguese Universities: Round table</b>
	</div>
</div>
<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
	<div class="basis-3/12 lg:basis-1/12">17:00 H</div>
	<div class="invisible lg:basis-1/12 pr-2">
		<p></p>
	</div>
	<div class="basis-9/12 lg:basis-10/12">
		<b>Contest</b>
		<p class="py-1">Exciting information soon!</p>
	</div>
</div>
<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
	<div class="basis-3/12 lg:basis-1/12">17:45 H</div>
	<div class="invisible lg:basis-1/12 pr-2">
		<p></p>
	</div>
	<div class="basis-9/12 lg:basis-10/12">
		<b>Closing Session</b>
	</div>
</div>
<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
	<div class="basis-3/12 lg:basis-1/12">17:45 H</div>
	<div class="invisible lg:basis-1/12 pr-2">
		<p></p>
	</div>
	<div class="basis-9/12 lg:basis-10/12">
		<b>Social Activities: BBQ</b>
	</div>
</div>
<div class="py-10"></div>
<div class="flex flex-row border-y-2 px-6 py-2 text-primary-600">
	<div class="basis-full text-xl">
		<b>MARCH 16TH - SATURDAY</b>
	</div>
</div>
<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
	<div class="basis-3/12 lg:basis-1/12">09:30 H</div>
	<div class="invisible lg:basis-1/12 pr-2">
		<p></p>
	</div>
	<div class="basis-9/12 lg:basis-10/12">
		<b>Workshops</b>
		<p class="pt-2">[1] Introduction to RNA-Seq data analysis</p>
		<p class="pb-2 text-sm"><b>Vânia Pobre</b></p>
		

		<p class="pt-2">[2] Tools and computational resources for the life sciences </p>
		<p class="pb-2 text-sm"><b>Gil Poiares-Oliveira</b></p>

		<p class="pt-2">[3] Introduction to Computational Protein Design Tools</p>
		<p class="pb-2 text-sm"><b>Pedro Moreira</b></p>
	</div>
</div>

