---
import { Icon } from 'astro-icon';
---

<section id="schedule" class="dark:bg-neutral-900">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading dark:text-white">Schedule</h2>

							<p class="mb-8 text-xl text-neutral-600 dark:text-neutral-400">
								Join us at BOD 2023 for three days of knowledge sharing, innovation and networking in the dynamic field of Bioinformatics.
							</p>

							<div class="w-full">
								<a
									class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
									href="/schedule"
									target="_blank"
									rel="noopener"
								>
									Schedule
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-12 h-12 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600 dark:bg-primary-400 dark:text-white"
									>
									<Icon name='tabler:microphone-2' class="w-8 h-8" /></span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading dark:text-primary-400">Presentations</h3>
									<p class="text-neutral-500 dark:text-neutral-400">
										
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-12 h-12 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600 dark:bg-primary-400 dark:text-white"
									>
									<Icon name='tabler:briefcase' class="w-8 h-8" /></span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading dark:text-primary-400">Companies</h3>
									<p class="text-neutral-500 dark:text-neutral-400">
										
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-12 h-12 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600 dark:bg-primary-400 dark:text-white"
									>
									<Icon name='tabler:device-laptop' class="w-8 h-8" /></span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading dark:text-primary-400">Workshops</h3>
									<p class="text-neutral-500 dark:text-neutral-400">
										
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
