---
---

<section id="completeschedule" class="dark:bg-neutral-900">
	<div class="md:py-16 sm:px-4 mx-auto md:px-6 lg:px-8 lg:py-20 max-w-6xl">
		<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
			<h2 class="text-3xl lg:text-4xl font-bold  md:text-4xl md:leading-tight dark:text-white">Schedule</h2>
			<p class="mt-1 text-neutral-600 dark:text-neutral-400">
				Join us at BOD 2023 for three days of knowledge sharing, innovation and networking in the dynamic field of Bioinformatics.
			</p>
		</div>
		<div class="flex flex-row border-y-2 px-6 py-2 text-primary-600">
			<div class="basis-full text-xl">
				<b>MARCH 16TH - THURSDAY</b>
				
			</div>
			
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white">
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-3/12 md:basis-3/12">
				09:30 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-3/12 md:basis-3/12 pr-2">
				<p></p>
			</div>
			<div class="xl:basis-10/12 lg:basis-10/12 sm:basis-6/12 md:basis-6/12">
				<b>Opening session</b>
			</div>
		</div>

		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-3/12 md:basis-3/12">
				10:00 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-3/12 md:basis-3/12 pr-2">
				<img
					class="cover"
					src="/speakers/Kjell_Peterson.png"
					alt="Kjell Peterson"
					width="90"
					height="90"
				/>
			</div>
			<div class="xl:basis-10/12 lg:basis-10/12 sm:basis-6/12 md:basis-6/12">
				<b>Scientific Session [Sponsored by BioData.pt]</b>
				<p class="py-1"> Genomic Data Infrastructure for Health Research Panel </p>
				<p class="text-neutral-600 dark:text-neutral-400">Chaired by Ana Melo</p>
				<p class="text-neutral-600 dark:text-neutral-400">Kjell Peterson, Ana Teresa Freitas, Sérgio Sousa and Maria Salazar</p>

			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				11:30 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12 pr-2">
				<p></p>
			</div>
			<div class="xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Coffee Break</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				11:45 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12 pr-2">
				
			</div>
			<div class="xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Oral Communications [Session 1]</b>
				<p class="py-1"> Structural Bioinformatics </p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">A bioinformatics approach to study the permeation of solutes through PfAQP for the
					development of new antimalarial therapies - <b>Marta Batista</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Computational study of promising smart metallodrug delivery systems - <b>Inês Pires</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Molecular Dynamics as an active resource on the development of new formulations for
					commercial use: The case of natural silicone alternatives - <b>Tiago Ferreira</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">The impact of the SARS-CoV-2 Omicron variant on the receptor binding domain
					conformational dynamics and interaction with human ACE2 - <b>Rita I. Teixeira</b></p>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				12:45 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12 pr-2">
				
			</div>
			<div class="xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Posters Highlights</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				13:00 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12 pr-2">
				
			</div>
			<div class="xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Lunch</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				14:30 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-3/12 md:basis-3/12 pr-2">
				<img
					class="cover"
					src="/speakers/Joao_Paulo_Gomes.png"
					alt="João Paulo Gomes"
					width="90"
					height="90"
				/>
			</div>
			<div class="xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Keynote Lecture</b>
				<p class="py-1"> Multi-country outbreak of monkeypox virus: genomics as a tool to identify
					genetic clustering, transmission dynamics and the role of Portugal in the
					international virus spread </p>
				<p class="text-neutral-600 dark:text-neutral-400">João Paulo Gomes</p>

			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				15:15 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Oral Communications [Session 2]</b>
				<p class="py-1"> Genomics and Systems Biology </p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Energy demand and enzyme budget trade-offs modulate the accuracy of dynamic
					Flux Balance Analysis - <b>David Henriques</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">MUG: a mutation overview of GPCR subfamily A17 receptors - <b>Ana B. Caniceiro</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">A comparative genomics approach to assess interspecific variability associated with
					cork development - <b>Filippo Bergeretti</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Characterization of grapevine (Vitis vinifera) intra and inter-varietal diversity using
					whole genome resequencing - <b>Sara Freitas</b></p>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				16:15 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Poster Communications [Session 1]</b>
				<p class="py-1"> Methods and Applications </p>
				<!-- <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p> -->
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				17:00 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Coffee Break</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				17:15 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Bioinformatics Portuguese League Final Session</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				20:00 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Formal Dinner</b>
			</div>
		</div>
		<div class="py-10">
		</div>
		<div class="flex flex-row border-y-2 px-6 py-2 text-primary-600">
			<div class="basis-full text-xl">
				<b>MARCH 17TH - FRIDAY</b>
				
			</div>
			
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2 dark:text-white">
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				09:30 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12 pr-2 flex-auto">
				<img
					class="cover"
					src="/speakers/Loic-Lannelongue.png"
					alt="Loïc Lannelongue"
					width="90"
					height="90"
				/>
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Keynote Lecture</b>
				<p class="py-1"> The environmental impacts of bioinformatics: how bad is it and what can we do about it?</p>
				<p class="text-neutral-600 dark:text-neutral-400">Loïc Lannelongue</p>

			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				10:15 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Poster Highlights</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				10:30 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Poster Communications [Session 2]</b>
				<p class="py-1"> Software and applications</p>
				<!-- <p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2"></p> -->
			</div>
		</div> 
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				11:15 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Coffee Break</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				11:30 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Oral Communications [Session 3]</b>
				<p class="py-1"> Knowledge representation and machine learning </p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Identification of gene regulatory modules acting in the interaction between cork
					development and environmental variable - <b>Hugo Rodrigues</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">The ImmunoPeptidomics Ontology: design and evaluation - <b>Patrícia Eugénio</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">Exploring self-attention mechanisms and deep reinforcement learning for the de novo
					drug design - <b>Tiago Pereira</b></p>
				<p class="text-sm text-neutral-600 dark:text-neutral-400 py-2">ngest: A Scalable Snakemake Pipeline for Customized Knowledge Graph construction
					- <b>Ana Santos-Pereira</b></p>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				13:00 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Lunch</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				14:30 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Round Table + Network Session</b>
				<p class="py-1"> Discussing the reality of the corporate world </p>
				<p class="text-neutral-600 dark:text-neutral-400">Silico Life, OmniumAI, Accenture</p>

			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				15:15 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Ending Session</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				19:00 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Informal BBQ Dinner</b>
			</div>
		</div>
		<div class="py-10">
		</div>
		<div class="flex flex-row border-y-2 px-6 py-2 text-primary-600">
			<div class="basis-full text-xl">
				<b>MARCH 18TH - SATURDAY</b>
			</div>
		</div>
		<div class="flex flex-row border-b-2 px-6 py-2  dark:text-white" >
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				09:30 H
			</div>
			<div class="xl:basis-1/12 lg:basis-1/12 sm:basis-2/12 md:basis-2/12">
				
			</div>
			<div class="flex-auto xl:basis-10/12 lg:basis-10/12 sm:basis-8/12 md:basis-8/12">
				<b>Workshops</b>
				<p class="pt-2"> [1] Introduction to Chemoinformatics using DeepMol</p>
				<p class="pb-2 text-sm"><b>João Capela and João Correia</b></p>

				<p class="pt-2"> [2] The importance of machine learning in structural biology - </p>
				<p class="pb-2 text-sm"><b>Irina Moreira, Luana Afonso and Catarina Marques-Pereira</b></p>

				<p class="pt-2">[3] Ontology Matching in the Biomedical Domain</p>
				<p class="pb-2 text-sm"><b>Marta Silva e Patrícia Eugénio</b></p>

			</div>
		</div>
	</div>
</section>