---
import { Icon } from 'astro-icon/components';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  socialLinks?: Array<Link>;
}

const { socialLinks = [] } = Astro.props;
---

{
  socialLinks?.length ? (
    <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 md:rtl:ml-0 md:rtl:mr-4">
      {socialLinks.map(({ ariaLabel, href, text, icon }) => (
        <li>
          <a
            class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-hidden focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
            aria-label={ariaLabel}
            href={href}
          >
            {icon && <Icon name={icon} class="w-5 h-5" />}
            <Fragment set:html={text} />
          </a>
        </li>
      ))}
    </ul>
  ) : (
    ''
  )
}