<!--pagina para meter sponsors
-->
---
import { Icon } from 'astro-icon';
---
<section id="oursponsor" class="dark:bg-neutral-900">
	<div class="px-4 py-8 md:py-16 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-20 max-w-6xl">
		 <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"> 
		<!-- Title -->
		<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
			<h2 class="text-3xl font-bold md:text-4xl md:leading-tight dark:text-white">Meet our <span
				class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap"
				>Supporters</span
			></h2>
			
		</div>

      <!-- Sponsors Section -->
      <div class="mb-8 text-left">
        <h3 class="text-3xl font-bold dark:text-white mb-4">Sponsors</h3>
        <div class="flex justify-center items-center">
          <div class="flex justify-center items-center">
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2">
            <a href="https://www.licorbeirao.com/" target="_blank">
            <img class="object-contain h-32 sm:h-40 md:h-56 lg:h-72 xl:h-80 mx-auto" src="/sponsors/licorbeirao.png" alt="Kjell Peterson" />
            </a>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2">
            <a href="https://www.silicolife.com/" target="_blank">
            <img class="object-contain h-32 sm:h-40 md:h-56 lg:h-72 xl:h-80 mx-auto" src="/sponsors/silico.png" alt="Kjell Peterson" />
            </a>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2">
            <a href="https://www.accenture.com/pt-pt" target="_blank">
            <img class="object-contain h-32 sm:h-40 md:h-56 lg:h-72 xl:h-80 mx-auto" src="/sponsors/accenture.png" alt="Kjell Peterson" />
            </a>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2">
            <a href="https://tub.pt/" target="_blank">
            <img class="object-contain h-32 sm:h-40 md:h-56 lg:h-72 xl:h-80 mx-auto" src="/sponsors/tub.png" alt="Kjell Peterson" />
            </a>
          </div>
          <!--<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2">
            <a href="https://ilof.tech/" target="_blank">
            <img class="object-contain h-32 sm:h-40 md:h-56 lg:h-72 xl:h-80 mx-auto" src="/sponsors/ilof.png" alt="Kjell Peterson" />
            </a>
          </div>-->
        </div>
        <!-- Add more sponsor logos as needed -->
      </div>

      <!-- Partners Section -->
      <div class="mb-8 text-left">
        <h3 class="text-3xl font-bold dark:text-white mb-4">Partners</h3>
        <div class="flex justify-center items-center">
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2">
            <a href="https://www.biodata.pt/" target="_blank">
            <img class="object-contain h-64 sm:h-40 md:h-56 lg:h-72 xl:h-80 mx-auto" src="/sponsors/biodata.png" alt="Kjell Peterson" />
            </a>
          </div>
          <!-- Add more partner logos as needed -->
        </div>
      </div>
<div class="mb-4"></div>

<p class="text-center text-neutral-600 dark:text-neutral-400 mb-4">
  Join us in making a difference! <br>
  Become a valued sponsor or partner and contribute to our initiative.
</p>
<!-- Button section 
<div class="mt-6 text-center">
  <a class="btn bg-primary-600 mb-4 sm:mb-0 inline-block" href="mailto:your@gmail.com?subject=Interested%20in%20Sponsorship">
  <span class="flex items-center">
    <span class="w-5 h-5 mr-1">
      🤝
    </span>
    Become a Sponsor or Partner
  </span>
</a>
</div>    
    </div>
  </div>
</section>

<div class="mb-4"></div> -->
