---
import { Icon } from 'astro-icon';
---

<section id="submissions" class="dark:bg-neutral-900">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading dark:text-white">Calls for Submissions</h2>

							<p class="mb-8 text-xl text-neutral-600 dark:text-neutral-400">
								The submissions for the 2023 edition are now <b>OPEN</b>!
								<br />
								Want to share your research in the field of Bioinformatics? This is your chance!
								<br />
								<br />
								We reserve the right to reject submissions that violate the Submission Guidelines.
								<br />
								<b>Please read them before submitting.</b>
							</p>

							<div class="w-full">
								<a
									class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
									href="#"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Guidelines
								</a>
								<a
									class="btn text-white bg-neutral-700 hover:bg-neutral-800 mb-4 sm:mb-0"
									href="#"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:file-upload" class="w-5 h-5 mr-1 -ml-1.5" /> Submit Work
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600 dark:bg-primary-400 dark:text-white"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading dark:text-primary-400">Read the Guidelines</h3>
									<p class="text-neutral-500 dark:text-neutral-400">
										Before submitting your poster or oral presentation, read <a
											class="text-secondary-600 hover:underline dark:secondary-600"
											href="#"
										>
											these guidelines</a
										>!
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600 dark:bg-primary-400 dark:text-white"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading dark:text-primary-400">Submit Your Work</h3>
									<p class="text-neutral-500 dark:text-neutral-400">
										Send us an <a
											class="text-secondary-600 hover:underline dark:secondary-600"
											href="#"
											target="_blank"
										>
											email</a
										> with your work by January 2nd, 2023 (don't forget the attachments!)
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600 dark:bg-primary-400 dark:text-white"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading dark:text-primary-400">Sign Up for BOD Updates</h3>
									<p class="text-neutral-500 dark:text-neutral-400">
										We're looking forward to seeing you there, on March 16-18, 2023! <a
											class="text-secondary-600 hover:underline dark:secondary-600"
											href="http://eepurl.com/idPje1"
											target="_blank"
										>
											Subscribe to our updates</a
										>.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
