
---
import { Icon } from 'astro-icon';
---


<section class="dark:bg-gray-900">
	<div class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl ">
		<div class="md:pb-6 md:pr-16 pb-6">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading dark:text-white">
				Workshops
			</h2>
			<p class="dark:text-gray-400">
				We are excited to invite you to attend the upcoming Workshops of the Bioinformatic Open Days!
			</p>
			<p>To select your preferred workshop, please click on one to access the registration form for the workshop of your choice:
			</p>
		</div>
		<div class="grid gap-10 row-gap-10 md:grid-cols-3">
			<div class="pt-1 pb-8 md:col-span-2">
				<p class="mb-2 text-xl font-bold text-gray-900 dark:text-gray-300"> 1 - Introduction to RNA-Seq data analysis</p>
				<p class="dark:text-gray-400 text-sm">
					In this hands-on workshop we will cover the basis for RNA-Seq data analysis using open access tools. The first part of the workshop will be a quality control assessment using FastQC and how we can use the QC report to clean RNA-Seq data. The second part will be the mapping of the reads with the Bowtie2 tool and how to interpret the resulting mapping statistics. Finally, we will cover the visualization and quantification of the data using the ARTEMIS genome browser.
					<br>
				</p>
<!--				<div class="mt-6">
					<a
						class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
						href="https://forms.gle/gmrwwCMLnmU3d1W98"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:box-multiple-1" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 1
					</a>
				</div> 
			</div>
			<div class="relative md:pt-5">
				<a href="https://forms.gle/gmrwwCMLnmU3d1W98" rel="noopener">
					<img
						class="cover"
						src="/workshops/workshop1.png"
						alt="Workshop 1: Introduction to Chemoinformatics using DeepMol"
					/>
				</a>
			</div> 	-->
			<div class="pt-10 pb-8 md:col-span-2">
				<p class="mb-2 text-xl font-bold text-gray-900 dark:text-gray-300"> 2 - Tools and computational resources for the life sciences</p>
				<p class="dark:text-gray-400 text-sm">
					Discover the resources that ELIXIR, the European bioinformatics infrastructure, has at your disposal to help you through all the phases of biological data gathering, analysis and publication.

				</p>
<!--				<div class="mt-6">
					<a
						class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
						href="https://forms.gle/rKNQVqRCVUDNSa4o9"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:box-multiple-2" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 2
					</a>
				</div>
			</div>
			<div class="relative md:pt-5">
				<a href="https://forms.gle/rKNQVqRCVUDNSa4o9" rel="noopener">
					<img
						class="cover"
						src="/workshops/workshop2.png"
						alt="Workshop 2: The importance of machine learning in structural biology"
					/>
				</a> -->
			</div>
			<div class="pt-10 pb-8 md:col-span-2">
				<p class="mb-2 text-xl font-bold text-gray-900 dark:text-gray-300"> 3 - Workshop</p>
				<p class="dark:text-gray-400 text-sm">
					Coming soon!
				</p>
<!--				<div class="mt-6">
					<a
						class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
						href="https://forms.gle/AVSGZS5FqeoQaeWKA"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:box-multiple-3" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 3
					</a>
				</div> 
			</div>
			<div class="relative md:pt-5">
				<a href="https://forms.gle/AVSGZS5FqeoQaeWKA" rel="noopener">
					<img
						class="cover"
						src="/workshops/workshop3.png"
						alt="Workshop 3: Ontology Matching in the Biomedical Domain"
					/>
				</a>
			</div>
		</div>
			<h3 class="md:pt-8 pt-16 py-2 text-xl lg:text-xl text-secondary-600 font-bold font-heading dark:text-white">
				Important Note:
			</h3>
			<p>Please note that <b>each workshop has a maximum capacity of 25 participants</b>,
			and registrations will be accepted on a first-come, first-served basis. Therefore, we encourage you to register as soon as possible to secure your spot in your preferred workshop.</p>
					
	</div>
		
</section> 
-->