---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---


<section class="dark:bg-gray-900">
	<div class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl ">
		<div class="md:pb-6 md:pr-16 pb-6">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading dark:text-white">
				Workshops
			</h2>
			<p class="dark:text-gray-400">
				We are excited to invite you to attend the upcoming Workshops of the Bioinformatic Open Days!
			</p>
			<p>To select your preferred workshop, please click on one to access the registration form for the workshop of your choice:
			</p>
		</div>
		<div class="grid gap-10 row-gap-10 md:grid-cols-3">
				<div class="pt-1 pb-8 col-span-2">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-gray-300"> "1: Introduction to Chemoinformatics using DeepMol"</p>
					<p class="dark:text-gray-400 text-sm">
						The aim of this workshop is to introduce the audience to the field of Chemoinformatics, especially in the area of drug discovery. The workshop will focus on key topics such as chemical compound representations, standardization, and feature generation. Participants will also learn about techniques for handling imbalanced data, training and evaluating ML/DL models, and understanding model explainability.
						<br>
						In this workshop, we will use DeepMol (https://github.com/BioSystemsUM/DeepMol), a Python-based machine learning and deep-learning framework for drug discovery. To fully participate, attendees must have a basic understanding of Python programming. 
						<br>
						Join us for a hands-on exploration of how chemoinformatics can be used to tackle real-world drug discovery problems.
					</p>
					<div class="mt-6">
						<a
							class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
							href="https://forms.gle/gmrwwCMLnmU3d1W98"
							target="_blank"
							rel="noopener"
						>
							<Icon name="tabler:box-multiple-1" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 1
						</a>
					</div>
				</div>
				<div class="relative pt-5">
					<a href="https://forms.gle/gmrwwCMLnmU3d1W98" rel="noopener">
						<img
							class="cover"
							src="/workshops/workshop1.png"
							alt="Workshop 1: Introduction to Chemoinformatics using DeepMol"
						/>
					</a>
				</div>	
				<div class="pt-10 pb-8 col-span-2">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-gray-300"> "2: The importance of machine learning in structural biology"</p>
					<p class="dark:text-gray-400 text-sm">
						Did you know that Machine Learning is being used in Structural Biology?
						<br>
						In this workshop we will guide you in a simple Machine Learning pipeline to predict protein residues that interact with a ligand. You will learn the basic steps of a Machine Learning project and how to apply them to structural biology data.
						<br>
						You do not want to miss it!

					</p>
					<div class="mt-6">
						<a
							class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
							href="https://forms.gle/rKNQVqRCVUDNSa4o9"
							target="_blank"
							rel="noopener"
						>
							<Icon name="tabler:box-multiple-2" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 2
						</a>
					</div>
				</div>
				<div class="relative pt-5">
					<a href="https://forms.gle/rKNQVqRCVUDNSa4o9" rel="noopener">
						<img
							class="cover"
							src="/workshops/workshop2.png"
							alt="Workshop 2: The importance of machine learning in structural biology"
						/>
					</a>
				</div>
				<div class="pt-10 pb-8 col-span-2">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-gray-300"> "3: Ontology Matching in the Biomedical Domain"</p>
					<p class="dark:text-gray-400 text-sm">
						Ontology matching is the process of defining correspondences between two or more related ontologies, which can be used to either map or integrate them. This is critical to ensure data findability and interoperability when datasets are described using different ontologies, a problem that is increasingly more common in the biomedical domain due to the prolific development of ontologies therein.
						<br>
						Biomedical ontologies pose unique challenges to ontology matching due to their distinct profile. In this hands-on tutorial, we overview these challenges, the state-of-the-art solutions to address them, the ontology matching tools that implement such solutions, and their performance in independent evaluation. Furthermore, we discuss the role of the user in validating ontology alignments and/or performing interactive matching. Finally, we review current infrastructures, initiatives and applications involving ontology matching.

					</p>
					<div class="mt-6">
						<a
							class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800 mb-4 sm:mb-0"
							href="https://forms.gle/AVSGZS5FqeoQaeWKA"
							target="_blank"
							rel="noopener"
						>
							<Icon name="tabler:box-multiple-3" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 3
						</a>
					</div>
				</div>
				<div class="relative pt-5">
					<a href="https://forms.gle/AVSGZS5FqeoQaeWKA" rel="noopener">
						<img
							class="cover"
							src="/workshops/workshop3.png"
							alt="Workshop 3: Ontology Matching in the Biomedical Domain"
						/>
					</a>
				</div>
			</div>
				<h3 class="pt-8 py-2 text-xl lg:text-xl text-secondary-600 font-bold font-heading dark:text-white">
					Important Note:
				</h3>
				<p>Please note that <b>each workshop has a maximum capacity of 25 participants</b>,
				and registrations will be accepted on a first-come, first-served basis. Therefore, we encourage you to register as soon as possible to secure your spot in your preferred workshop.</p>
						
	</div>
		
</section>
