
---
import { Icon } from 'astro-icon';
---


<section class="dark:bg-gray-900">
    <div class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl ">
        <div class="md:pb-6 md:pr-16 pb-6">
            <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading dark:text-white">
                Workshops
            </h2>
            <p class="dark:text-gray-400">
                We are excited to invite you to attend the upcoming Workshops of the Bioinformatics Open Days!
            </p>
        </div>
        <div class="relative md:pt-5 col-span-full">
            <img
                class="cover"
                src="/workshops/BOD_Workshops.png" 
            />     
			<!-- <div class="mt-6">
                <p>To select your preferred workshop, please click on one to access the registration form for the workshop of your choice:</p>
            </div>			
            <div class="mt-6">
                <div class="grid gap-10 row-gap-10 md:grid-cols-3">
                    <div>
                        <!-- Button for Workshop 1 -->
                        <!-- <a
                            class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800"
                            href="https://forms.gle/gmrwwCMLnmU3d1W98"
                            target="_blank"
                            rel="noopener"
                        >
                            <Icon name="tabler:box-multiple-1" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 1
                        </a> -->
                    </div>
                    <div>
                        <!-- Button for Workshop 2 -->
                        <!-- <a
                            class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800"
                            href="https://forms.gle/rKNQVqRCVUDNSa4o9"
                            target="_blank"
                            rel="noopener"
                        >
                            <Icon name="tabler:box-multiple-2" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 2
                        </a> -->
                    </div>
                    <div>
                        <!-- Button for Workshop 3 -->
                        <!-- <a
                            class="btn text-white bg-black dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-800"
                            href="https://forms.gle/AVSGZS5FqeoQaeWKA"
                            target="_blank"
                            rel="noopener"
                        >
                            <Icon name="tabler:box-multiple-3" class="w-5 h-5 mr-1 -ml-1.5" /> Registration Workshop 3
                        </a> -->
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <h3 class="md:pt-8 pt-16 py-2 text-xl lg:text-xl text-secondary-600 font-bold font-heading dark:text-white">
            Important Note:
        </h3>
        <p>Please note that <b>each workshop has a maximum capacity of 25 participants</b>,
        and registrations will be accepted on a first-come, first-served basis. Therefore, we encourage you to register as soon as possible to secure your spot in your preferred workshop.</p> -->
    </div> 
</section>