---
import { t, changeLanguage } from 'i18next';
import { Trans } from 'astro-i18next/components';
import { Image } from 'astro:assets';

import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/ui/Headline.astro';

import laptop from '~/assets/images/laptop.png';
import successFactors from '~/assets/images/success-factors.svg';
import Content from '~/components/widgets/Content.astro';

changeLanguage('en');

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: laptop,
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <Trans i18nKey="title">
        About <span class="text-accent dark:text-white highlight">Sofistic.AI</span>
      </Trans>
    </Fragment>
  </Hero>

  <Headline title={t('about.origin.title')} subtitle={t('about.origin.description')} />

  <!-- Features3 Widget ************** -->

  <Content
    title={t('about.vision.title')}
    items={[
      {
        description: t('about.vision.description1'),
      },
      {
        description: t('about.vision.description2'),
      },
      {
        description: t('about.vision.description3'),
      },
    ]}
    withoutIcons
  >
    <Fragment slot="image">
      <Image
        class="mx-auto w-full"
        width={500}
        height={500}
        widths={[400, 768]}
        sizes="(max-width: 768px) 100vw, 432px"
        src={successFactors}
        alt="Vision Illustration"
      />
    </Fragment>
  </Content>

  <Headline title={t('about.mission.title')}>
    <Fragment slot="subtitle">
      <span class="text-primary dark:text-white highlight italic text-2xl">"{t('about.mission.quote')}"</span>
      <br /><br />
      {t('about.mission.description')}
    </Fragment>
  </Headline>
</Layout>
