---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Tentang MS Foam
    </Fragment>

    <!-- <Fragment slot="subtitle">
      Donec efficitur, ipsum quis congue luctus, mauris magna convallis mauris, eu auctor nisi lectus non augue. Donec
      quis lorem non massa vulputate efficitur ac at turpis. Sed tincidunt ex a nunc convallis, et lobortis nisi tempus.
      Suspendisse vitae nisi eget tortor luctus maximus sed non lectus.
    </Fragment> -->
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Values"
    subtitle="Nilai-nilai yang kami pegang sebagai perusahaan."
    columns={2}
    isBeforeContent={true}
    items={[
      {
        title: 'Nurturing',
        description:
          'Kami memperhatikan kebutuhan dan merawat hubungan kami dengan seluruh customer, supplier, dan karyawan kami.',
        icon: 'tabler:letter-n',
      },
      {
        title: 'Integrity',
        description:
          'Kejujuran dan kepastian adalah kunci utama perusahaan kami yang membuat kami dapat dipercaya oleh seluruh customer.',
        icon: 'tabler:letter-i',
      },
      {
        title: 'Communication',
        description:
          'Kami selalu membuka jalur komunikasi terhadap seluruh karyawan, supplier, dan customer kami. Tanpa sekat.',
        icon: 'tabler:letter-c',
      },
      {
        title: 'Excellence',
        description:
          'Memberi yang terbaik di bidang yang kami paling kuasai. Selalu berkembang, dan meningkatkan kualitas produk dan layanan.',
        icon: 'tabler:letter-e',
      },
    ]}
  />
  <section class="flex justify-between flex-col sm:flex-row max-w-5xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
    <div class="mx-auto px-6 sm:px-6 max-w-5xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8">
    <p>PT. Multi Sukses Foam adalah sebuah perusahaan lokal yang memproduksi busa poliuretan (polyurethane foam / PU foam) berkualitas dan melayani ukuran standar atau custom.</p>
    <p>
  Sejak tahun 2004, kami sudah memulai produksi berbagai jenis density dan ukuran untuk pelanggan-pelanggan kami. Selama perjalanan itu, para pelanggan pun senang dengan produk dan pelayanan kami.</p>
  <p>
  Bahkan beberapa dari mereka menyebut kami sebagai hidden gem dalam industri ini. Perusahaan kecil yang mampu memproduksi busa kualitas ekspor dalam jumlah kecil.</p>
  <p>
  Tetapi industri poliuretan di seluruh dunia selalu berkembang. Penggunaan bahan baku yang lebih ramah lingkungan, adalah salah satu contoh yang akan menggebrak industri ini ke depannya.</p>
  <p>
  Ini membuat kami untuk terus belajar bagaimana melakukan yang terbaik tidak hanya untuk para pelanggan kami, tapi juga untuk lingkungan.</p>
  <p>
  Bersama-sama dengan kalian semua.</p>
  </div>
  </section>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Mulai Beroperasi', amount: '2004' },
      { title: 'Industri Terlayani', amount: '6' },
      { title: 'Pelanggan', amount: '50+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Whatsapp',
        href: 'https://wa.me/62881082916666/',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">
      Penjelasan kami kurang jelas?
    </Fragment>

    <Fragment slot="subtitle">
      Hubungi kami melalui Whatsapp untuk informasi lebih lanjut.
    </Fragment>
  </CallToAction>

  
</Layout>
