---
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://cdn.trieve.ai/trieve-team.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Democratizing high quality<br />
      <span class="text-accent highlight"> Retrieval</span>
    </Fragment>

    <Fragment slot="subtitle">
      Search optimization is an incredibly difficult problem for most companies. We are here to help you with that.
      Everyone should be able to have a great search experience.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Content
    title="Our values"
    subtitle="We believe in transparency."
    items={[
      {
        title: 'Open Source',
        description:
          'Not only can you view all of our code, but you can also join our internal communication channels and see how we work. Everything is coordinated in the open.',
      },
      {
        title: 'Anti Lock-In',
        description:
          'We will export your data from postgresql and Qdrant anytime you ask such that you are able to offboard from our API. We believe in data portability.',
      },
      {
        title: 'Communication',
        description:
          'Call us and we will answer the phone. Especially while we are a small company, we will make it easy to talk to us like humans.',
      },
    ]}
    image={{
      src: 'https://cdn.trieve.ai/trieve-logo.png',
      alt: 'Open source principles',
    }}
  />
</Layout>
