---
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Democratizing high quality<br />
      <span class="text-accent dark:text-white highlight"> Retrieval</span>
    </Fragment>

    <Fragment slot="subtitle">
      Search optimization is an incredibly difficult problem for most companies. We are here to help you with that. Everyone should be able to have a great search experience.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="We believe in transparency."
    items={[
      {
        title: 'Open Source',
        description:
          'Not only can you view all of our code, but you can also join our internal communication channels and see how we work. Everything is coordinated in the open.',
      },
      {
        title: 'Anti Lock-In',
        description:
          'We will export your data from postgresql and Qdrant anytime you ask such that you are able to offboard from our API. We believe in data portability.',
      },
      {
        title: 'Communication',
        description:
          'Call us and we will answer the phone. Especially while we are a small company, we will make it easy to talk to us like humans.',
      },
    ]}
  />
</Layout>
