---
// we are in hybrid mode and need to opt this page out of prerendering makig it server side rendered (SSR)
// See https://github.com/dorukgezici/astro-decap-cms-oauth?tab=readme-ov-file#manual-installation
// See https://docs.astro.build/en/guides/server-side-rendering/
export const prerender = false;
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>Content Manager</title>
  <body>
    <!-- Include the script that builds the page and powers Decap CMS -->
    <script src="https://unpkg.com/decap-cms@^3.1.10/dist/decap-cms.js"></script>
  </body>
</html>
