---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import PricingCalculatorTwo from '~/components/widgets/PricingCalculatorTwo';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <PricingCalculatorTwo client:only="react" />
  </div>

  <CallToAction
    title="Still unsure? Derisk with a custom demo!"
    subtitle="Get a proof of concept with a validation schedule to evaluate Trieve"
    actions={[
      {
        variant: 'primary',
        text: 'Request demo',
        href: '/request-demo',
      },
    ]}
  />
</Layout>
