---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <!-- <HeroText tagline="Contact" title="Let's Connect!" /> -->

  <!-- TODO: hook up form to server, otherwise hide it. -->
  <!-- <ContactUs
    title="Drop us a message today!"
  subtitle=`Explore our FAQ section for answers to common questions. If you still have questions, please contact us using the form below. If you'd like to book an appointment, please visit our <a href="https://my-business-restorativebodyworkatx.square.site/" class="text-blue-500 hover:underline">booking site</a>.`
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    description="We will typically respond within 24 business hours. Thank you!"
  /> -->

  <Features2
    title="Contact information, location, and hours."
    items={[
      {
        title: 'Hours',
        description: `
          <i>By appointment only.</i></br>
          Sunday: 10am - 5pm</br>
          Monday: 10am - 7pm</br>
          Tuesday: Closed</br>
          Wednesday: Closed</br>
          Thursday: Closed</br>
          Friday: Closed</br>
          Saturday: 10am - 5pm</br>
          `,
          icon: 'tabler:clock'
      },

      {
        title: 'Contact',
        description: '<a href="tel:+15129203103">(512) 920-3103</a></br><a href="mailto:info@restorativebodyworkatx.com">info@restorativebodyworkatx.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '<a href="https://www.google.com/maps?q=2111+Dickson+Drive+%2314,+Austin,+TX+78704">2111 Dicken Drive #14, Austin, TX 78704</a>',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
