---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
// import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="C o n t a c t" title="Let's Connect!" />

  <!-- <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our team are all volunteers but typically respond within 24 business hours."
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: '🐂 Bovine & 🐑 Ovine support',
        description:
          'John Murry: 07711 261 065 <br/><a href="mailto:bovine@dundonald-show.org.uk?subject=Mail from Dundonald Show WebSite&amp;body=For the attention of the Dundonald Show Bovine/Ovine team">Bovine@dundonald-show.org.uk</a>',
      },
      {
        title: '🐕 Canine support',
        description:
          'Maggie McNamara: 07986 288 110 <br/><a href="mailto:canine@dundonald-show.org.uk?subject=Mail from Dundonald Show WebSite&amp;body=For the attention of the Dundonald Show Canine team">Canine@dundonald-show.org.uk</a>',
      },
      {
        title: '🐎 Equine support',
        description:
          'Julie Stewart: 07808 774 174 <br/><a href="mailto:equine@dundonald-show.org.uk?subject=Mail from Dundonald Show WebSite&amp;body=For the attention of the Dundonald Show team">Equine@dundonald-show.org.uk</a>',
      },
      {
        title: 'Phone',
        description: 'Maggie McNamara: 07986 288 110 <br/> And on show day, John Murry: 07711 261 065',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description:
          '<a href="mailto:info@dundonald-show.org.uk?subject=Mail from Dundonald Show WebSite&amp;body=For tthe attention of the Dundonald Show team">info@dundonald-show.org.uk</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description:
          '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6037.983007279328!2d-4.648817447698925!3d55.57288863065822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4889d11c16c22939%3A0xc8718b598af60797!2sDundonald%20Show!5e1!3m2!1sen!2suk!4v1743440379365!5m2!1sen!2suk" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>',
        // Dundonald Camp Track, Ayr Road, Irvine (A78), KA11 5AX
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
