---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Logos from '~/components/widgets/Logos.astro';

const metadata = {
  title: 'Trieve provides AI-native conversational discovery solutions for ecommerce',
  ignoreTitleTemplate: true,
};

const tabs = [
  {
    iconName: 'tabler:basket',
    text: 'Recommendations',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/personalized-recommendations.gif',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/personalized-recommendations.gif',
    link: 'https://trieve.ai/request-demo',
  },
  {
    iconName: 'tabler:search',
    text: 'Search',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/ecom-search-v2.gif',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/ecom-search-v2.gif',
    link: 'https://trieve.ai/request-demo',
  },
  {
    iconName: 'tabler:sparkles',
    text: 'Conversational Discovery',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/conversational-discovery.gif',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/conversational-discovery.gif',
    link: 'https://trieve.ai/request-demo',
  },
  {
    iconName: 'tabler:chart-bar',
    text: 'Analytics',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/hn-search-analytics.webp',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/hn-search-analytics.webp',
    link: 'https://trieve.ai/request-demo',
  },
  {
    iconName: 'tabler:code',
    text: 'API',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/dark-api.webp',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/light-api.webp',
    link: 'https://docs.trieve.ai/api-reference',
  },
];
---

<meta property="og:title" content="Trieve" />
<meta property="og:site_name" content="" />
<meta property="og:url" content="https://search.trieve.ai" />
<meta property="og:description" content="" />
<meta property="og:type" content="" />
<meta property="og:image" content="https://cdn.trieve.ai/trieve-og.png" />
<script is:inline defer data-domain="trieve.ai" src="https://plausible.trieve.ai/js/script.js"></script>

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started Free',
        href: 'https://dashboard.trieve.ai',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      {
        variant: 'secondary',
        text: 'Request a demo',
        icon: 'tabler:presentation',
        href: '/request-demo',
      },
    ]}
    tabs={tabs}
  >
    <Fragment slot="title"> Conversational Discovery for any Ecommerce Experience </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Discovery isn't just search and recommendations. Consumers coming from Google, Bing, and Perplexity all expect
        GenAI. <br />
      </span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Offer Modern Discovery Experiences"
    title="All major search engines offer GenAI and now you can too"
    items={[
      {
        title: 'Allow Exploration of Your Entire Inventory',
        description:
          'Keyword search is no longer enough. Let your customers explore your entire inventory with GenAI sales agent.',
      },
      {
        title: 'Peronalize Based on User Intent',
        description:
          'Our AI tracks user intent across your site just like a sales associate on the floor. Each conversation is unique.',
      },
      {
        title: '24/7/365 Sales Associate',
        description:
          'Our AI is always on and always ready to help. No more waiting for a sales associate to be available.',
      },
    ]}
    image={{
      src: 'https://cdn.trieve.ai/landing-tabs/conversational-discovery-preview.png',
      alt: 'Visual of Trieve conversational discovery',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Replicate the brick and mortar sales experience with personalized GenAI
      </h3>
      We help companies build unfair competitive advantages through their search, discovery, and RAG
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Offer each individual visitor a personalized experience"
    items={[
      {
        title: 'Step 1: Our AI observes how your customers interact with your site',
        description:
          'Based on purchase history, search history, and session-specific interactions, our AI builds a profile of each visitor.',
        icon: 'tabler:database-export',
      },
      {
        title: 'Step 2: Request recommendations, search results, or GenAI completions from our API',
        description: 'Trieve offers an athletic 70+ route API that can be integrated into any stack.',
        icon: 'tabler:git-merge',
      },
      {
        title: 'Step 3: Measure the impact of GenAI on your bottom line',
        description:
          'Our analytics dashboard shows you how GenAI is impacting your bottom line and tells you how it plans to improve itself.',
        icon: 'tabler:telescope',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://cdn.trieve.ai/landing-tabs/personalized-recommendations.png',
      alt: 'Image of personalized recs',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started Free',
        href: 'https://dashboard.trieve.ai',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      {
        variant: 'secondary',
        text: 'Request a demo',
        icon: 'tabler:presentation',
        href: '/request-demo',
      },
    ]}
  >
    <Fragment slot="title">Take control of your discovery.</Fragment>

    <Fragment slot="subtitle">AI-native, end-to-end, solution for the trends of today and tomorrow</Fragment>
  </CallToAction>
</Layout>
