---
import CallToAction from '../components/widgets/CallToAction.astro';
import Content from '../components/widgets/Content.astro';
import Features2 from '../components/widgets/Features2.astro';
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';

const metadata = {
  title: 'Trieve Legal - search platform for litigation teams and firms',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Trieve Legal"
    title="Trusted and leveraged by Big Law, Boutiques, and Fortune 500 In-House Counsel"
    subtitle="Trieve offers a simple and powerful search platform for querying production loadfiles and internal datasets without the time-draining complications."
    actions={[{ variant: 'primary', target: '_blank', text: 'Book Demo', href: 'https://cal.com/nick.k/meet' }]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Trieve Legal Is The Ultimate Search Platform For Litigation Teams And Firms"
    subtitle="Powered by AI, Trieve indexes and organizes your data, making it easy to search, analyze, and share."
    columns={2}
    items={[
      {
        title: 'Straightforward and Intuitive',
        description:
          'Trieve is ideal for senior attorneys who value powerful tools without the learning curve. Our tool respects your expertise, demanding no workarounds or jargon for it to work.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Speed Through Load Files',
        description:
          "Quickly navigate through opposing counsel's load files and find all the best exhibits and themes, for informed, timely decisions, maintaining momentum and building advantages.",
        icon: 'tabler:run',
      },
      {
        title: 'Right Tool for the Job',
        description: `Fundamentally different from eDiscovery platforms, Trieve is designed specifically for searching through production load files and not for document review.`,
        icon: 'tabler:check',
      },
      {
        title: 'Secure and Compliant',
        description:
          'Host your data on-premise or in your own private cloud or have Trieve host it for you. We follow SOC 2, ISO27001, and HIPAA compliance standards and requirements and commit to a robust DPA with all of our customers.',
        icon: 'tabler:lock',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Sovereignty Assured',
        description:
          'Your data remains under your domain, on-premise or in your own private cloud, ensuring that your data sovereignty is never compromised.',
        icon: 'tabler:key',
      },
      {
        title: 'Confidential Collaboration',
        description:
          'We offer enterprise-grade access controls and audit trails, ensuring that datasets are properly accessible to only the correct members of your teams, upholding confidentiality.',
        icon: 'tabler:settings',
      },
      {
        title: 'Organized Insights',
        description: 'Navigate your findings and keep information organized and accessible within your team.',
        icon: 'tabler:presentation',
      },
      {
        title: '24/7 Support',
        description: 'Our US-based team is your silent partner, available 24/7, ensuring seamless continuity.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://cdn.trieve.ai/national-corporate-team.jpeg',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Standard Features</h3>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book a Demo',
        href: 'https://cal.com/nick.k/meet',
      },
      {
        variant: 'secondary',
        text: 'See in Action',
        href: 'https://enron-search.arguflow.ai',
      },
    ]}
    title="Chat with us"
    subtitle="Ask us questions, learn about how our software functions, and see if we are a good fit for your firm."
  />
</Layout>
