---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Neeraj Singh - Cybersecurity Engineer & Software Testing Professional',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Download CV',
        href: '#',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Contact Me', href: '/contact' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Neeraj Singh Profile Image' }}
  >
    <Fragment slot="title">
      Hi, I'm <span class="text-accent dark:text-white">Neeraj Singh</span>.<br/>
      Cyber Security enthusiast
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Specialized in Cyber Security and Software Testing</span>
      <span class="block mb-2 mt-1 text-gray-600 dark:text-slate-400">
        I'm Neeraj Singh Panghal, author of Neerajlovecyber.com. A budding Cybersecurity Enthusiast who loves to play CTFs, HackTheBox, and TryHackMe. 
        I am always eager to learn and develop myself.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Philosophy:" description="Simplicity, Best Practices and High Performance" />

 

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
