---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Psikopop - Belajar Psikologi!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Coba Sekarang',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
      },
      { text: 'Pelajari', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Belajar psikologi, belajar memahami diri sendiri. <span class="text-accent dark:text-white highlight">
        Gratis
      </span> bersama kami.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Psikopop</span> adalah platform belajar psikologi. Kami membantu kamu memahami diri,
        menerima diri, dan mengembangkannya.
      </span>
    </Fragment>
  </Hero>

  <Content
    isReversed
    tagline=""
    title="Pahami Kepribadian Kamu Lebih Jauh."
    items={[
      {
        title: 'Simulasi Tes Rekrutmen',
        description:
          'Tidak perlu beli buku atau les untuk belajar. Psikopop menyediakan berbagai simulasi tes yang sering ada dalam rekrutmen.',
      },
      {
        title: 'Feedback dan Variasi Soal',
        description: 'Feedback pada jawaban mempermudah kamu mengevaluasi diri. Kamu semakin matang dan siap.',
      },
      {
        title: 'Tanpa Perlu Download Aplikasi',
        description: 'Kamu nggak perlu download apapun untuk memulai. Hemat penyimpanan, ramah untuk semua gadget.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1551818567-d49550a81408?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tes Kompetensi Online</h3>
      Memahami kompetensi kamu dan mengasahnya, supaya kamu lebih siap menghadapi tes sesungguhnya.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1710106461016-233d3cea733c?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Memahami kepribadian kamu, yang membuatmu unik dan berbeda.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Memahami istilah-istilah di dalam psikologi, memahami yang sedang kamu rasakan.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features2
    title="Uji Kesiapanmu Menjalani Rekrutmen!"
    items={[
      {
        title: 'Tes Silogisme',
        description: 'Menguji kemampuan dalam menarik kesimpulan.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Tes Ketelitian',
        description: 'Menguji ketelitian dan daya ingat kamu.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Tes Koran Kraeplin',
        description:
          'Sanggup bekerja di bawah tekanan? Lihat bagaimana sikap kamu dalam menghadapi tekanan dalam tes ini.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Tes Koran Pauli',
        description: 'Latih mempertahankan konsentrasi dalam jangka panjang melalui tes Pauli.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Tes Deret Angka',
        description: 'Uji kemampuan kuantitatif kamu dalam tes ini.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Tes Hubung Gambar',
        description:
          'Tes spasial yang selalu ada dalam berbagai rekrutmen. Jadilah lebih siap dengan berlatih di sini.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Tes DISC',
        description: 'Apakah kepribadianmu cocok dengan profesi impianmu? Cari tahu di sini.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Simulasi Keswa',
        description: 'Keswa adalah bagian tes kepribadian dalam scaba dan tamtama. Yuk berlatih di sini!',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Simulasi EPPS',
        description: 'Yuk berlatih tes EPPS di sini!',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features2
    title="Pahami Kepribadian Kamu Lebih Jauh di Sini."
    items={[
      {
        title: 'Tes MBTI',
        description: 'Apa sih kepribadian MBTI kamu? Cari tahu di sini.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Tes Kepribadian Tipe A dan B',
        description: 'Dalam bekerja, kamu tipe A atau tipe B? Cari tahu di sini.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Tes Kepemimpinan',
        description: 'Seperti apa sih gaya kepemimpinan kamu?',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Tes Love Language',
        description: 'Gimana cara kamu mengekspresikan cinta?',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Tes Motivasi',
        description: 'Apa sih yang paling memotivasi kamu dalam menjalani hidup? Cari tahu dan kembangkan di sini.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Tes Penyebab Stres',
        description: 'Hal apa sih yang paling bikin kamu merasa tertekan? Cari tahu di sini.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Tes Kemungkinan Sukses',
        description: 'Apakah kamu sudah memiliki kebiasaan yang tepat untuk sukses? Coba cari tahu di sini.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Tes Kecakapan Komunikasi',
        description: 'Selancar apa kamu mengutarakan perasaan? Cari tahu dan kembangkan di sini.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Simulasi Tes IQ dan EQ',
        description: 'Lihat kombinasi IQ dan EQ kamu di sini.',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Pahami diri kamu lebih jauh di sini." />
</Layout>
