---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'BSides Chennai',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[]}
    image={{ src: '~/assets/images/chennai.svg', alt: 'Chennai', width: 1400, height: 550 }}
  >
    <Fragment slot="title">
    BSides Chennai - 2024
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">BSides Chennai</span> is a community-led framework for people in chennai who are interested in the world of <span class="font-semibold">Cybersecurity</span>.</span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="What you can expect at Conference"
    subtitle="From one of the most professional and collaborative community in Chennai."
    items={[
      {
        title: 'Technical Talks',
        description:
          'Brief discussions and presentations on cutting edge technologies delivered by SMEs from cyber security industry.',
        icon: 'tabler:microphone-2',
      },
      {
        title: 'CxO Panel Discussion',
        description:
          'Top-tier industry experts with backgrounds as CISOs, CEOs, VPs, and SVPs are engaged in discussions regarding diverse security challenges prevalent in the industry.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Vendor Booths',
        description:
          'A one stop market place where you can connect with various vendors of cybersecurity technologies / solutions available in the industry',
        icon: 'tabler:building-store',
      },
      {
        title: 'Capture The Flag',
        description:
          'A cool way to showcase your cybersecurity skills by participating and hunting down the flags in our challenges across multiple levels and categories.',
        icon: 'tabler:flag',
      },
      {
        title: 'Security Trainings',
        description:
          "At BSides, we strive to give back to the community by equipping the participants to provide with the right skills with hands-on knowledge through various sessions.",
        icon: 'tabler:school',
      },
      {
        title: 'Security Villages',
        description:
          'An ultimate environment to discuss on various topics like career consulting, lockpicking, social engineering, hardware hacking and etc.',
        icon: 'tabler:speakerphone',
      },
    ]}
  />

  <!-- 
  <Content
    isReversed
    tagline=""
    title="Call for papers [ 2024 ]"
    items={[
      {
        title: '01 January 2024',
        description:
          'Call for paper opens',
      },
      {
        title: '15 April 2024',
        description:
          'Call for papers closes',
      },
      {
        title: '30 April 2024',
        description:
          'Speakers will be announced publicly',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"></h3>
       Now is the time to submit your talk for consideration at this early next year’s event. Whether you are a seasoned pro or first-time speaker looking for the opportunity to level up, we can’t wait to hear from you!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  -->


  <!-- Steps Widget ****************** -->

  <Steps
    title="Call For Papers - Timeline"
    items={[
      {
        title: '<span class="font-medium">01 January 2024</span>',
        description:
          "Call for paper will be open for hackers to submit their abstract.",
        icon: 'tabler:speakerphone',
      },
      {
        title: '<span class="font-medium">15 April 2024</em>',
        description:
          "Call for papers will be closed and we will be evaluating the submissions.",
        icon: 'tabler:search',
      },
      {
        title: '<span class="font-medium">10 May 2024</span>',
        description:
          'Speakers list will be announced publicly.',
        icon: 'tabler:news',
      },
      {
        title: 'Get Ready !',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->
  <!--
  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  -->
  <!-- HighlightedPosts Widget ******* -->

  <!--
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
  -->


  <!-- FAQs Widget ******************* -->
  <!--
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
  -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Followers', amount: '100+' },
      { title: 'Registrations', amount: '0' },
      { title: 'Workshops', amount: '0' },
      { title: 'Vilages', amount: '0' },
    ]}
  />

</Layout>
