---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Brands from '~/components/widgets/Brands.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Clery Neyra',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    actions={[
      { variant: 'primary', target: '_blank', text: 'Leer Blog', href: '/blog' },
      // { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '/Clery.png',
      alt: 'Clery Neyra',
    }}
  >
    <Fragment slot="title">
      Clery Neyra: <br />
      <span class="text-accent dark:text-white highlight">Dirección humana</span> <br />
      en TI
    </Fragment>

    <Fragment slot="subtitle">
      Directora de tecnología, mamá y experta en transformación digital
    </Fragment>
  </Hero2>


  <!-- Features3 Widget ************** -->

  <Features3
    title="Mi propósito"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Ayudar a organizaciones de educación',
        description: 'Lidero equipos de tecnología con un sentido humano que logre sus objetivos.',
      },
      {
        title: 'Ayudar a organizaciones de educación',
        description: 'Lidero equipos de tecnología con un sentido humano que logre sus objetivos.',
      },
      {
        title: 'Ayudar a organizaciones de educación',
        description: 'Lidero equipos de tecnología con un sentido humano que logre sus objetivos.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    isReversed
    items={[
      {
        title: 'Objetivo:',
        description:
          'Quiero que conozcas más sobre mi y mi trabajo, donde encontrarás mucho para descubrir.',
      },
    ]}
    image={{
      src: '/Clery2.png',
      alt: 'Tech Design Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Hola, soy Clery Neyra: <br /><span class="text-2xl">Una directora de tecnología centrada en las personas.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Brands Widget ****************** -->

  <Brands
    title="Colaboración"
    subtitle="Organizaciones que he liderado."
    icons={[]}
    images={[
      {
        src: '/upc.png',
        alt: 'UPC',
      },
      {
        src: '/aiep.png',
        alt: 'AIEP',
      },
      {
        src: '/kpmg.png',
        alt: 'KPMG',
      },
      {
        src: '/bcp.png',
        alt: 'BCP',
      },
    ]}
  />


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Explora insights y artículos"
  />


  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
