---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Top Stream Media - Revolutionizing Online Streaming',
  metaDescription:
    'Experience the future of online streaming with Top Stream Media. Discover our innovative solutions for a seamless viewing experience.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Demo',
        href: '/pricing',
        icon: 'tabler:list',
        class: 'mx-2',
      },
      // { text: 'Learn more', href: '#features', class: 'mx-2' },
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'Top Stream Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Top Stream </span>Media
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Top Stream</span> is an unparalleled pricing and pinpoint ad placement platform.</span
      >
      Top Stream maximizes your ROI with targeted campaigns that reach the right audience at the right price.
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Publishers, Networks and Inventory Available"
    subtitle="Peeling back the hidden layers: Premion, Omnicom Group, Amazon Ads Prime, Effectv"
    items={[
      {
        title: 'Sales Managers',
        description:
          'Every "layer" of interaction needs to be paid in order for the process to run, therefore that cost is pushed on to the client budget.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Direct to Bergie Digital - Our Client',
        description:
          'We are sharing the cost of the actual ad spend directly to you without adding fees and any additional money to pay multiple layers of middle men. You get what YOU pay for.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Sales Representatives',
        description:
          'Every "layer" of interaction needs to be paid in order for the process to run, therefore that cost is pushed on to the client budget.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Why Top Stream?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How can you beat any other competitive pricing?',
        description:
          'We purchase the ad inventory for the same price as any of our competitors, we simply do not have the overhead or the need for the margins that our competitors add to the retail price of their offering. We strongly feel that a lower price for the exact same product is a compelling reason to try our services.',
      },
      {
        title: 'How can you provide pinpoint placement?',
        description:
          'Most of our competitors can offer the same pinpoint placement that we can, they just choose not to offer this service, or charge even more for placement. It takes added effort to place ads in specific positions within a football game or any other program, it is time consuming to build a pinpoint campaign.  We feel that offering this pinpoint service along with our pricing advantage creates an even more compelling reason to try our services.',
      },
      {
        title: 'How can you offer more filters than other companies?',
        description:
          'With over 27,000 different filters dealing with everything from sex, age, income, zip code, credit score etc, it can be overwhelming to build a successful campaign. Our competitors may charge extra to use them, or simply only offer a select few to choose from. It takes extra work on our part to work with you to select the correct filters for your ad campaign.  We will take the time, as your ROI is dependent on it.',
      },
      {
        title: 'Do you track activity to my website?',
        description:
          'We provide the technology for you to allow us to track all of activity we generate to your website. NEED TO ADD MORE CONTENT HERE AS I NEED SPECIFICS ON WHAT WE CAN DO. ',
      },
      {
        title: 'PLACEHOLDER: How does Top Stream ensure brand safety and ad quality?',
        description:
          'PLACEHOLDER: Top Stream takes brand safety and ad quality extremely seriously. Our advanced filtering technology and human moderation team work together to ensure that only high-quality, brand-safe ads are displayed on your site or app. You can trust Top Stream to protect your reputation and your users.',
      },
      {
        title: 'PLACEHOLDER: What kind of support can I expect from Top Stream?',
        description:
          "PLACEHOLDER: At Top Stream, we're dedicated to providing world-class support to our publishers. From onboarding to optimization, our team is always available to help you succeed. Whether you need technical assistance, ad optimization tips, or simply have a question, we're here to help.",
      },
    ]}
  />

      <!-- Note Widget ******************* -->

      <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Top Stream"
    subtitle="Unlock the full potential of your ad revenue with Top Stream's cutting-edge technology and expert team."
    items={[
      {
        title: 'Advanced Ad Optimization',
        description: `We allow you access to thousands of behavioral charchateristics so that you can clearly define your ad to reach your optimum customer.`,
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Reporting and Analytics',
        description:
          'We will provide you with comprehensive reporting that will allow you to see your reach as well as your engagement to your website.  Reporting is the best way to not only calculate your ROI, but allow you to better understand your target market.',
        icon: 'tabler:components',
      },
      {
        title: 'Dedicated Support Team',
        description:
          'Our expert support team is always available to help you with any questions or issues you may have.',
        icon: 'tabler:help',
      },
      {
        title: 'Constant Innovation and Updates',
        description:
          'Top Stream is committed to staying at the forefront of ad streaming technology, with new features and updates released regularly.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Why Top Stream?"
    title="Top Stream Media: Taking your ads to the next level"
    items={[
      {
        title: 'Pin point placement',
        description: 'You pick your audience AND your placement. Guaranteed.',
      },
      {
        title: 'Maximum Impact',
        description: 'Our software is equipped for precise ad placements to deliver the maximum impact for your brand.',
      },
    ]}
    image={{
      src: '~/assets/images/topstream-ott.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The competitors edge</h3>
      Our minimum overhead and conservative margins allow us to pass the savings on to you. Our prices per CPM are a fraction
      of our competitors, especially with live sports.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Unparalleled CPM Pricing',
        description: `Top Stream Media offers a unique advantage in the OTT advertising industry: dramatically undercutting existing CPM prices while ensuring optimal ad placement.`,
      },
      {
        title: 'Targeted Ad Placement',
        description:
          'Our ads reach your target audience with precision, whether they are at home, on their mobile device, or on the go.',
      },
    ]}
    image={{
      src: '~/assets/images/topstream-mobile-network.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts title="Find out more content in our Blog" /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      // { title: 'Customers', amount: '132K' },
      // { title: 'Stars', amount: '24.8K' },
      // { title: 'Ads', amount: '10.3K' },
      // { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Demo',
        href: '/pricing',
        icon: 'tabler:list',
      },
    ]}
  >
    <Fragment slot="title">
      Top Stream <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Media</span>
    </Fragment>

    <Fragment slot="subtitle">
      Top Stream: Low Price + Pinpoint Placement = Maximum ROI.<br class="hidden md:inline" /> Unlock your ad potential today.
    </Fragment>
  </CallToAction>
</Layout>
