---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Button from '~/components/ui/Button.astro';
const metadata = {
  title: 'Life.Dental - Implant and Cosmetic Dentist in Dunwoody',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Schedule a free consultation',
        href: '/contact',
        icon: 'tabler:link',
      }
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-green">Trust, Compassion, and Expertise</span>  
    </Fragment>

    <Fragment slot="subtitle">
      <span class="text-justify text-black">Your journey to a healthier, brighter smile starts here with our expert and caring team.</span> 
    </Fragment>
  </Hero>

 


  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Our Mission',
        description:
          'We understand that visiting the dentist can be daunting for many, which is why our approach is centered on creating a stress-free, personalized experience.',
      },
      {
        title: 'A Commitment to Innovation and Care',
        description:
          'Our team stays at the forefront of dental innovation, continuously updating our skills and equipment to offer you the most advanced treatments available. From digital X-rays that reduce radiation exposure to state-of-the-art laser dentistry, we are equipped to handle all your dental needs with precision and care.',
      },
      {
        title: 'Your Comfort is Our Priority',
        description:
          'At Life.Dental, your comfort and satisfaction are our top priorities.Our goal is not just to care for your teeth but to make every visit a positive experience that leaves you smiling.',
      },
    ]}
    image={{
      src: '~/assets/images/womanlaughing.jpg',
      alt: 'beautiful smile',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Welcome to Life Dental: Where Your Smile is Our Priority</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
  id="about"
  
  image={{
    src: 'src/assets/images/Dr.Ken.jpg',
    alt: 'Dr.Ketan Ginoya',
    loading: 'eager',
  }}
>
  <Fragment slot="content">
    <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Dr.Ketan Ginoya </h2> <br/>
  <p>Meet Dr. Ketan Ginoya: Where Expertise Meets Care</p><br/>

<p>Dr. Ketan Ginoya is a seasoned and caring dentist with over a decade of experience in creating healthy, beautiful smiles. A proud graduate of Boston University Goldman School of Dental Medicine, where he earned his degree with honors in 2011, Dr. Ginoya has made it his mission to help every patient achieve the best in oral health.</p><br/>

<p>But Dr. Ginoya’s journey didn’t start there. He also holds a Bachelor of Dental Surgery from Rajiv Gandhi University of Health and Science in Bangalore, India. His passion for learning didn’t stop after graduation—he earned a Fellowship in the Academy of General Dentistry (FAGD), highlighting his deep commitment to staying at the top of his field.</p><br/>

<p>Dr. Ginoya believes that learning never ends. He’s an active member of the American Dental Association and the Academy of General Dentistry, and he plays an important role as a Kois Center Mentor, guiding other dentists to reach new heights in their practice.</p><br/>


   <Button
      variant="tertiary"
      text="More"
      icon="tabler:arrow-right"
      class="px-6 py-3 bg-blue-500 text-white" 
      href="/dr-Ketan"
    />
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


<Testimonials
    title="Patient testimonials"
    subtitle="Discover what patients have to say about their experiences working with us."
    testimonials={[
      {
        testimonial: `The staff was friendly, knowledgeable and caring. They always had a smile to share.  Dr Ketan was very professional and patient with me.`,
        name: 'Jim',
        image: {
          alt: 'Jim ',
        },
      },
      {
        testimonial: `Excellent coordination from staff and removal of wisdom tooth from Dr.Ken. Highly recommend this dental practice to anyone`,
        name: 'Paul',
        image: {
          alt: 'Paul',
        },
      },
      {
        testimonial: ` Dr. Ketan and staff are very professional and competent! This is patient centered dentistry. I am pleased with the work they did in making a crown for a front tooth.`,
        name: 'Diane',
        image: {
          alt: 'Patient testimonial',
        },
      },
   
    ]}
  />
  <!-- Content Widget **************** -->

  


  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Services"
    items={[
      {
        title: 'Implant',
        description: 'Secure your smile with dental implants, the permanent solution for missing teeth that restores function and confidence.',
        icon: 'healthicons:odontology-implant',
      },
      {
        title: 'Cosmetic Dentistry',
        description:
          'Enhance your smile with cosmetic dentistry, designed to make a lasting first impression with every interaction.',
          icon:'healthicons:dental-hygiene-outline',
      },
      {
        title: 'Crown',
        description:
          'Restore strength and beauty to damaged teeth with custom dental crowns, offering protection and natural appearance.',
          icon:'healthicons:heart-outline',
      },
      {
        title: 'Invisalign',
        description:
          'Straighten your teeth discreetly with Invisalign—clear aligners that fit your lifestyle without the need for braces.',
          icon:'healthicons:heartbeat-outline',
      },
      {
        title: 'Emergency',
        description:
          'Get immediate care for unexpected dental issues with our prompt and reliable emergency services.',
          icon:'healthicons:accident-and-emergency-outline',
      },
      {
        title: 'More',
        description: 'Discover our full range of dental services, from routine care to advanced treatments, tailored just for you.',
        icon:'healthicons:tooth',
      },
     
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How often should I visit the dentist?',
        description:
"It is recommended to visit the dentist every six months for a routine check-up and cleaning. Regular visits help to detect and treat any dental issues early, ensuring optimal oral health."      },
      {
        title: 'What should I do if I have a dental emergency?',
        description:
        "If you have a dental emergency, such as a toothache, broken tooth, or lost filling, contact our office immediately. We prioritize emergency cases and will make every effort to see you as soon as possible."
      },
      {
        title: 'How can I improve the whiteness of my teeth?',
        description:
        "Teeth whitening treatments are a popular option to enhance the brightness of your smile. We offer both in-office and take-home whitening options. Additionally, maintaining good oral hygiene and avoiding stain-causing foods and beverages can help keep your teeth white."
      },
      {
        title: "What are the benefits of dental implants?",
        description:
        "Dental implants are a durable and natural-looking solution for replacing missing teeth. They provide strong support for dental prosthetics, improve chewing function, and help maintain jawbone health by preventing bone loss."
      },
      {
        title: ' How can I prevent gum disease?',
        description:
        "The best way to prevent gum disease is to maintain good oral hygiene practices, including brushing twice a day, flossing daily, and visiting the dentist regularly. Avoiding tobacco products and managing conditions like diabetes can also reduce your risk."
      },
      {
        title: 'What is a dental crown, and why might I need one?',
        description:
        "A dental crown is a cap placed over a damaged or decayed tooth to restore its shape, strength, and appearance. You may need a crown if you have a large cavity, a cracked tooth, or after a root canal treatment."
      },
    ]}
  />
</Layout>
