---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Logos from '~/components/widgets/Logos.astro';

const metadata = {
  title:
    'AI-First infrastructure API for search, recommendations, and RAG that combines language models with tools for fine tuning ranking and relevance',
  ignoreTitleTemplate: true,
};

const tabs = [
  {
    iconName: 'tabler:search',
    text: 'Search',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/dark-mode-docsearch.webp',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/light-mode-docsearch.webp',
    link: 'https://trieve.ai/request-demo',
  },
  {
    iconName: 'tabler:sparkles',
    text: 'AI Chat',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/dark-mode-aichat.webp',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/light-mode-aichat.webp',
    link: 'https://trieve.ai/request-demo',
  },
  {
    iconName: 'tabler:basket',
    text: 'Recommendations',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/recommendations.webp',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/recommendations.webp',
    link: 'https://trieve.ai/request-demo',
  },
  {
    iconName: 'tabler:chart-bar',
    text: 'Analytics',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/hn-search-analytics.webp',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/hn-search-analytics.webp',
    link: 'https://trieve.ai/request-demo',
  },
  {
    iconName: 'tabler:code',
    text: 'API',
    darkImage: 'https://cdn.trieve.ai/landing-tabs/dark-api.webp',
    lightImage: 'https://cdn.trieve.ai/landing-tabs/light-api.webp',
    link: 'https://docs.trieve.ai/api-reference',
  },
];
---

<meta property="og:title" content="Trieve" />
<meta property="og:site_name" content="" />
<meta property="og:url" content="https://search.trieve.ai" />
<meta property="og:description" content="" />
<meta property="og:type" content="" />
<meta property="og:image" content="https://cdn.trieve.ai/trieve-og.png" />
<script is:inline defer data-domain="trieve.ai" src="https://plausible.trieve.ai/js/script.js"></script>

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started Free',
        href: 'https://dashboard.trieve.ai',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      {
        variant: 'secondary',
        text: 'Talk to a Founder',
        icon: 'tabler:calendar',
        'data-cal-link': 'nick.k/meet',
        'data-cal-namespace': 'meet',
        'data-cal-config': '{"layout":"month_view"}',
      },
    ]}
    tabs={tabs}
  >
    <Fragment slot="title">
      Make your discovery
      <span class="highlight"> delightful </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">All-in-one</span> solution for search, recommendations, RAG and analytics. Relevant out
        of the box with automatic continuous improvement based on dozens of feedback signals.
      </span>
    </Fragment>
  </Hero>

  <Logos
    tagline={`<p class="text-black">
        Powering search experiences across categories. See our
        <a class="underline" href="/tag/success-story/"> customer success stories</a>.
      </p>`}
    logos={[
      { src: 'https://cdn.trieve.ai/customer-logos/mintlify-logo.svg' },
      { src: 'https://cdn.trieve.ai/customer-logos/vapi-logo.png' },
      { src: 'https://cdn.trieve.ai/customer-logos/signoz-logo.svg' },
      { src: 'https://cdn.trieve.ai/customer-logos/parcelhero.webp' },
      { src: 'https://cdn.trieve.ai/customer-logos/billtrack50logo.svg' },
      { src: 'https://cdn.trieve.ai/customer-logos/hostai-logo.webp' },
      { src: 'https://cdn.trieve.ai/customer-logos/openmart-logo.svg' },
      { src: 'https://cdn.trieve.ai/customer-logos/agentic-labs-logo.png' },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="End-to-end"
    title="Trieve Coordinates, You Scale"
    subtitle="Billion-scale search, discovery, and RAG experiences within the same API"
    items={[
      {
        title: 'Semantic Vector Search',
        description:
          'For when you need more than just full-text search. Trieve supports semantic vector search out of the box. ',
        icon: 'tabler:file-vector',
      },
      {
        title: 'BM25 & SPLADE Full-Text Search',
        description: 'Choose between the leading state-of-the-art retrieval models for full-text search.',
        icon: 'tabler:file-typography',
      },
      {
        title: 'Stock and Custom Embedding models',
        description: 'Our modular infrastructure offers several models and bring your own embedding model.',
        icon: 'tabler:3d-cube-sphere',
      },
      {
        title: 'Hybrid Search',
        description:
          'Get the best of both worlds. Trieve supports hybrid search, combining full-text search and semantic vector search with cross-encoder re-ranker models.',
        icon: 'tabler:arrows-join',
      },
      {
        title: 'Merchandising & Relevance tuning',
        description: 'Tune and boost search results to hit your KPIs via the API or no-code dashboard.',
        icon: 'tabler:military-rank',
      },
      {
        title: 'Sub-sentence Highlighting',
        description:
          'Search results can get long. Sub-sentence highlights show users exactly what they are looking for, quick.',
        icon: 'tabler:binoculars',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Build Fast and Don't Break Things"
    title="Manage ingestion, embeddings and analytics with ease"
    items={[
      {
        title: 'Private Open-Source Models',
        description: 'We use open source embedding models and LLMs running in our own servers. Data is never leaked.',
      },
      {
        title: 'Batteries Included',
        description:
          'Our API surface covers chunking, ingestion, search, recommendations, RAG, and even a little front-end.',
      },
      {
        title: 'Self-Hostable',
        description:
          'Sensitive data? Need maximum performance? Host Trieve yourself with terraform templates and no external dependencies.',
      },
    ]}
    image={{
      src: 'https://cdn.trieve.ai/battery-4-square.png',
      alt: 'Visual of Trieve features',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Built on the best foundations</h3>
      We help companies build unfair competitive advantages through their search, discovery, and RAG experiences
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Set up industry-leading search in 30 minutes"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Add Existing Data</span>',
        description:
          'Upload individual chunks or entire documents that get chunked by our algorithms via our API or no-code dashboard.',
        icon: 'tabler:database-export',
      },
      {
        title: 'Step 2: <span class="font-medium">Integrate our API</em>',
        description: 'Add calls to our API on your create and update routes to keep your data current.',
        icon: 'tabler:git-merge',
      },
      {
        title: 'Step 3: <span class="font-medium">Search, Recommend, or Generate</span>',
        description:
          'Test and tune search, recommendations, and chat quality with our search playground, then integrate the API calls into your product.',
        icon: 'tabler:telescope',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://cdn.trieve.ai/db-4-square.png',
      alt: 'Steps to use',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started Free',
        href: 'https://dashboard.trieve.ai',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      {
        variant: 'secondary',
        text: 'Talk to a Founder',
        icon: 'tabler:calendar',
        'data-cal-link': 'nick.k/meet',
        'data-cal-namespace': 'meet',
        'data-cal-config': '{"layout":"month_view"}',
      },
    ]}
  >
    <Fragment slot="title">Take control of your search.</Fragment>

    <Fragment slot="subtitle">AI-native, end-to-end, self-hostable API for the trends of today and tomorrow</Fragment>
  </CallToAction>
</Layout>
