---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
const metadata = {
  title: 'Life.Dental - Implant and Cosmetic Dentist in Dunwoody',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Schedule a free consultation',
        href: '/ContactUs',
        icon: 'tabler:link',
      }
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-green">Trust, Compassion, and Expertise</span>  
    </Fragment>

    <Fragment slot="subtitle">
      <span class="text-justify text-black">Your journey to a healthier, brighter smile starts here with our expert and caring team.</span> 
    </Fragment>
  </Hero>

 


  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Our Mission',
        description:
          'We understand that visiting the dentist can be daunting for many, which is why our approach is centered on creating a stress-free, personalized experience.',
      },
      {
        title: 'A Commitment to Innovation and Care',
        description:
          'Our team stays at the forefront of dental innovation, continuously updating our skills and equipment to offer you the most advanced treatments available. From digital X-rays that reduce radiation exposure to state-of-the-art laser dentistry, we are equipped to handle all your dental needs with precision and care.',
      },
      {
        title: 'Your Comfort is Our Priority',
        description:
          'At Life.Dental, your comfort and satisfaction are our top priorities.Our goal is not just to care for your teeth but to make every visit a positive experience that leaves you smiling.',
      },
    ]}
    image={{
      src: 'src/assets/images/womanlaughing.jpg',
      alt: 'beautiful smile',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Welcome to Life Dental: Where Your Smile is Our Priority</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
  id="about"
  
  image={{
    src: 'src/assets/images/Dr.Ken.jpg',
    alt: 'Dr.Ketan Ginoya',
    loading: 'eager',
  }}
>
  <Fragment slot="content">
    <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Dr.Ketan Ginoya </h2> <br/>

<p>Dr. Ketan Ginoya is a highly skilled and compassionate general dentist with over a decade of experience in delivering exceptional dental care. Graduating with honors from the prestigious Boston University Goldman School of Dental Medicine in 2011, Dr. Ginoya has since dedicated his career to helping patients achieve optimal oral health and beautiful smiles.</p><br/>

<p>With a foundation in dental excellence, Dr. Ginoya also holds a Bachelor of Dental Surgery degree from  Rajiv Gandhi University of Health and Science, Bangalore, India. Demonstrating a commitment to lifelong learning, Dr. Ginoya has earned the Fellowship in the Academy of General Dentistry (FAGD), a testament to his extensive knowledge and expertise in the field.</p><br/>

<p>A strong advocate for continuous education and professional growth, Dr. Ginoya is an active member of several esteemed organizations, including the American Dental Association and the Academy of General Dentistry. His dedication to advancing his skills is reflected in his role as a Kois Center Mentor, where he guides other dental professionals in achieving clinical excellence.</p> <br/>

<p>Dr. Ginoya has completed extensive continuing education, including advanced training in implantology with Dr. Arun Garg, esthetic dentistry with Dr. Frank Spears at Spears Education, and comprehensive courses in composite techniques, hard and soft tissue augmentation, and zygomatic implants. His expertise in these areas allows him to offer cutting-edge dental solutions tailored to the unique needs of each patient.</p><br/>

<p>Whether it's enhancing a patient's smile with Invisalign, performing bone grafting, or conducting maxillary sinus augmentations, Dr. Ginoya combines his vast clinical experience with a patient-centered approach to ensure the best outcomes.</p> <br/>

<p>When you choose Dr. Ketan Ginoya, you are choosing a dentist who is not only deeply knowledgeable but also genuinely invested in your oral health and well-being. With a passion for dentistry and a commitment to excellence, Dr. Ginoya is dedicated to helping you achieve the smile you've always wanted.</p>
<br/>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


<Testimonials
    title="Patient testimonials"
    subtitle="Discover what patients have to say about their experiences working with us."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Tim',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Karen',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Jason',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
   
    ]}
  />
  <!-- Content Widget **************** -->

  


  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Services"
    items={[
      {
        title: 'Implant',
        description: 'Secure your smile with dental implants, the permanent solution for missing teeth that restores function and confidence.',
        icon: 'healthicons:odontology-implant',
      },
      {
        title: 'Cosmetic Dentistry',
        description:
          'Enhance your smile with cosmetic dentistry, designed to make a lasting first impression with every interaction.',
          icon:'healthicons:dental-hygiene-outline',
      },
      {
        title: 'Crown',
        description:
          'Restore strength and beauty to damaged teeth with custom dental crowns, offering protection and natural appearance.',
          icon:'healthicons:heart-outline',
      },
      {
        title: 'Invisalign',
        description:
          'Straighten your teeth discreetly with Invisalign—clear aligners that fit your lifestyle without the need for braces.',
          icon:'healthicons:heartbeat-outline',
      },
      {
        title: 'Emergency',
        description:
          'Get immediate care for unexpected dental issues with our prompt and reliable emergency services.',
          icon:'healthicons:accident-and-emergency-outline',
      },
      {
        title: 'More',
        description: 'Discover our full range of dental services, from routine care to advanced treatments, tailored just for you.',
        icon:'healthicons:tooth',
      },
     
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How often should I visit the dentist?',
        description:
"It is recommended to visit the dentist every six months for a routine check-up and cleaning. Regular visits help to detect and treat any dental issues early, ensuring optimal oral health."      },
      {
        title: 'What should I do if I have a dental emergency?',
        description:
        "If you have a dental emergency, such as a toothache, broken tooth, or lost filling, contact our office immediately. We prioritize emergency cases and will make every effort to see you as soon as possible."
      },
      {
        title: 'How can I improve the whiteness of my teeth?',
        description:
        "Teeth whitening treatments are a popular option to enhance the brightness of your smile. We offer both in-office and take-home whitening options. Additionally, maintaining good oral hygiene and avoiding stain-causing foods and beverages can help keep your teeth white."
      },
      {
        title: "What are the benefits of dental implants?",
        description:
        "Dental implants are a durable and natural-looking solution for replacing missing teeth. They provide strong support for dental prosthetics, improve chewing function, and help maintain jawbone health by preventing bone loss."
      },
      {
        title: ' How can I prevent gum disease?',
        description:
        "The best way to prevent gum disease is to maintain good oral hygiene practices, including brushing twice a day, flossing daily, and visiting the dentist regularly. Avoiding tobacco products and managing conditions like diabetes can also reduce your risk."
      },
      {
        title: 'What is a dental crown, and why might I need one?',
        description:
        "A dental crown is a cap placed over a damaged or decayed tooth to restore its shape, strength, and appearance. You may need a crown if you have a large cavity, a cracked tooth, or after a root canal treatment."
      },
    ]}
  />



  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book an Appointment',
        href: './contact',
        icon: 'tabler:link',
      },
    ]}
  >  </CallToAction>
</Layout>
