---
	import Layout from '~/layouts/Layout.astro';
---

<Layout title="Tailwind Astro">
	<main>
		<h1 class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight dark:text-white text-gradient">Tailwind Astro</h1>
		<p class="mt-6 text-lg text-slate-600 max-w-3xl mx-auto dark:text-slate-400">
			Lorem ipsum lorem
		</p>
	</main>
</Layout>

<style>
</style>