---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction={{ text: 'EMPIEZA AHORA', href: 'https://app.cimadent.cl/register' }}
    callToAction2={{ text: 'Descubre más', href: '#caracteristicas' }}
    image={{ src: import('~/assets/images/hero-cimadent-2.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Transforma tu <span id="rotatingWord" class="transition-all duration-500 ease-in-out text-primary"
        >Práctica Dental</span
      > con CIMADent
    </Fragment>

    <Fragment slot="subtitle">
      Descubre el poder de nuestro software dental fácil de usar y asequible para gestionar pacientes y citas.
      ¡Experimenta la revolución CIMADent!
    </Fragment>
  </Hero>

  <Features
    highlight="INNOVACIÓN EN GESTIÓN DENTAL A TU ALCANCE"
    title="Potencia tu práctica dental en cada etapa"
    subtitle="CIMADent es un revolucionario software dental diseñado para empoderar a profesionales y clínicas en la administración de pacientes y citas. Nuestra plataforma se destaca por su facilidad de uso, asequibilidad y soporte para múltiples consultorios, convirtiéndola en la solución perfecta para optimizar tu práctica dental. "
    items={[
      {
        title: 'Eficiencia sin precedentes',
        description:
          'Aumenta la productividad de tu práctica dental simplificando la gestión de pacientes, citas e información clínica.',
        icon: 'ph:battery-full-bold',
      },
      {
        title: 'Diseño intuitivo y fácil de usar',
        description:
          'Navega por CIMADent con facilidad y rapidez, garantizando un aprendizaje ágil para profesionales y administradores.',
        icon: 'ph:app-window-bold',
      },
      {
        title: 'Poderoso y económico',
        description:
          'Disfruta de una solución rentable y eficaz en comparación con otros softwares dentales del mercado.',
        icon: 'ph:money-bold',
      },
      {
        title: 'Gestión multi-sucursal',
        description:
          'Administra múltiples consultorios o clínicas con una sola cuenta, optimizando el seguimiento de la información en diferentes ubicaciones.',
        icon: 'ph:buildings-duotone',
      },
      {
        title: 'Personalización a tu medida',
        description:
          'Adapta CIMADent según las necesidades específicas de tu práctica dental, ya seas un profesional independiente o una clínica.',
        icon: 'ph:gear-bold',
      },
      {
        title: 'Soporte cercano y confiable',
        description:
          'Cuenta con un equipo de soporte dedicado para resolver tus dudas y asegurar una experiencia fluida con CIMADent.',
        icon: 'ph:chat-bold',
      },
      {
        title: 'Seguridad en la nube',
        description:
          'Tus datos están protegidos y almacenados en Amazon Web Services (AWS), una de las plataformas en la nube más seguras y confiables.',
        icon: 'ph:cloud-check-bold',
      },
      {
        title: 'Siempre contigo',
        description:
          'Accede a CIMADent desde cualquier dispositivo con nuestras aplicaciones móviles y de escritorio, facilitando la gestión de tu práctica en cualquier momento y lugar.',
        icon: 'ph:device-mobile-bold',
      },
    ]}
  />

  <img src="/assets/borde-1.svg" alt="Borde 1" />

  <Content
    highlight=""
    title=""
    images={[
      { id: 1, src: '/assets/confirmacion-agendamiento.png', alt: 'Recordatorios automáticos' },
      { id: 2, src: '/assets/confirmacion-cita.png', alt: 'Confirmaciones instantáneas' },
      { id: 3, src: '/assets/envio-presupuesto.png', alt: 'Comunicación ágil' },
    ]}
    items={[
      {
        title: 'Recordatorios automáticos',
        description:
          'Envía recordatorios de citas a tus pacientes por correo electrónico o WhatsApp, minimizando faltas y cancelaciones de última hora.',
        id: 1,
      },
      {
        title: 'Confirmaciones instantáneas',
        description:
          'Los pacientes reciben confirmaciones automáticas al agendar citas, asegurando su compromiso y mejorando la experiencia.',
        id: 2,
      },
      {
        title: 'Comunicación ágil',
        description:
          'Facilita el envío de presupuestos, recetas y otros documentos relevantes a tus pacientes a través de WhatsApp y correo electrónico.',
        id: 3,
      },
    ]}
  >
    <Fragment slot="content">
      <a href="/notificaciones-y-alertas"
        ><h3 class="text-2xl font-bold text-third dark:text-white sm:text-3xl mb-2">
          Comunicación eficiente y dinámica
        </h3>
        Optimiza tus citas y comunicaciones con pacientes gracias a nuestras notificaciones y alertas automatizadas, manteniéndote
        siempre informado y en control.
      </a>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    images={[
      { id: 1, src: '/assets/calendario-por-hora.png', alt: 'Vista personalizada' },
      { id: 2, src: '/assets/calendario-confirma-cancela.png', alt: 'Funciones de programación avanzada' },
      { id: 3, src: '/assets/reservas-online.png', alt: 'Reservas online en tiempo real' },
    ]}
    items={[
      {
        title: 'Vista personalizada',
        description:
          'Consulta las citas por sala de atención o por profesional, ofreciendo una visión organizada y clara de tu agenda.',
        id: 1,
      },
      {
        title: 'Funciones de programación avanzada',
        description:
          'Programa, confirma, cancela y elimina citas fácilmente, optimizando la gestión del tiempo de los profesionales y mejorando la experiencia del paciente.',
        id: 2,
      },
      {
        title: 'Reservas online en tiempo real',
        description:
          'Permite a tus pacientes reservar citas desde la comodidad de su hogar, sin necesidad de llamar a la consulta, y sincroniza automáticamente con tu agenda.',
        id: 3,
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <a href="/calendario"
        ><h3 class="text-2xl font-bold text-third dark:text-white sm:text-3xl mb-2">
          Organiza tu tiempo como un profesional
        </h3>
        El calendario y la agenda online de CIMADent te permiten manejar tus citas y la disponibilidad de profesionales y
        salas de atención de manera eficiente y sin complicaciones.
      </a>
    </Fragment>
  </Content>

  <Content
    highlight=""
    title=""
    isAfterContent
    images={[
      { id: 1, src: '/assets/configuracion-personalizada.png', alt: 'Configuración personalizada' },
      { id: 2, src: '/assets/gestion-usuarios-avanzada.png', alt: 'Gestión de usuarios avanzada' },
      { id: 3, src: '/assets/multi-clinica.png', alt: 'Multi-clínica simplificado' },
    ]}
    items={[
      {
        title: 'Configuración personalizada',
        description:
          'Ajusta tipos de citas, salas de atención, tarifas y más según las necesidades específicas de tu práctica dental.',
        id: 1,
      },
      {
        title: 'Gestión de usuarios avanzada',
        description:
          'Establece permisos y roles personalizados para diferentes usuarios, garantizando el acceso adecuado a la información y mejorando la seguridad.',
        id: 2,
      },
      {
        title: 'Multi-clínica simplificado',
        description:
          'Administra múltiples consultorios o clínicas desde una sola cuenta, facilitando el monitoreo y la gestión de la información en diferentes ubicaciones.',
        id: 3,
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <a href="/administracion-y-configuracion">
        <h3 class="text-2xl font-bold text-third dark:text-white sm:text-3xl mb-2">
          Administración personalizada y flexible
        </h3>
        Personaliza y configura tu entorno de trabajo de acuerdo a tus necesidades, tanto para profesionales independientes
        como clínicas, y aprovecha al máximo las capacidades de CIMADent.
      </a>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    images={[
      { id: 1, src: '/assets/odontograma.png', alt: 'Historial dental completo y unificado' },
      { id: 2, src: '/assets/imagenes.png', alt: 'Imágenes y documentos a tu alcance' },
      { id: 3, src: '/assets/pagos.png', alt: 'Seguimiento de pagos eficiente' },
    ]}
    items={[
      {
        title: 'Historial dental completo y unificado',
        description:
          'Consulta fácilmente el historial dental del paciente, incluyendo odontograma, evoluciones y sesiones, para brindar una atención personalizada y efectiva.',
        id: 1,
      },
      {
        title: 'Imágenes y documentos a tu alcance',
        description:
          'Almacena y accede rápidamente a imágenes, recetas y otros documentos relevantes en la ficha clínica del paciente, agilizando la consulta y el diagnóstico.',
        id: 2,
      },
      {
        title: 'Seguimiento de pagos eficiente',
        description:
          'Lleva un registro detallado de los pagos realizados y pendientes, ayudando a mantener al día las finanzas de tu práctica y mejorando la relación con tus pacientes.',
        id: 3,
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <a href="/ficha-clinica">
        <h3 class="text-2xl font-bold text-third dark:text-white sm:text-3xl mb-2">
          Ficha Clínica completa y accesible
        </h3>
        Accede y gestiona toda la información clínica de tus pacientes en un solo lugar, de manera ordenada y eficiente,
        mejorando la atención y el seguimiento de sus tratamientos.
      </a>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    images={[
      { id: 1, src: '/assets/reporte-pacientes.png', alt: 'Información financiera actualizada' },
      { id: 2, src: '/assets/reporte-profesionales.png', alt: 'Evaluación del rendimiento en tiempo real' },
      { id: 3, src: '/assets/reporte-general.png', alt: 'Datos accesibles y comprensibles' },
    ]}
    items={[
      {
        title: 'Información financiera actualizada',
        description:
          'Analiza la recaudación y los pacientes con deuda para tomar decisiones informadas y planificar el crecimiento de tu práctica dental.',
        id: 1,
      },
      {
        title: 'Evaluación del rendimiento en tiempo real',
        description:
          'Monitorea el desempeño de profesionales y clínicas, identificando áreas de mejora y oportunidades de crecimiento para optimizar tu práctica.',
        id: 2,
      },
      {
        title: 'Datos accesibles y comprensibles',
        description:
          'Visualiza fácilmente la información relevante para la toma de decisiones y el seguimiento del progreso de tu práctica dental con gráficos y tablas claras y concisas.',
        id: 3,
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <a href="/reportes-y-analisis">
        <h3 class="text-2xl font-bold text-third dark:text-white sm:text-3xl mb-2">
          Análisis y reportes para potenciar tu práctica
        </h3>
        Evalúa el rendimiento de tu práctica dental con reportes detallados y análisis en tiempo real sobre ingresos, deudas
        y desempeño de profesionales, para tomar decisiones informadas y potenciar tu negocio.</a
      >
    </Fragment>
  </Content>

  <Features2
    title="CIMADent para Todos"
    subtitle="Desde profesionales independientes hasta clínicas dentales"
    highlight=""
    items={[
      {
        title: 'Profesionales Independientes',
        description:
          'CIMADent permite a los profesionales independientes optimizar su práctica dental al centralizar la información de sus pacientes, citas y reportes en un solo lugar. Adapta el software a tus necesidades específicas y mejora la comunicación con tus pacientes.',
        icon: 'ph:users-three-light',
        link: '/profesionales-independientes',
      },
      {
        title: 'Clínicas Dentales',
        description:
          'CIMADent proporciona a las clínicas dentales una solución integral para la gestión eficiente de múltiples profesionales, pacientes y consultorios. Facilita la administración y el seguimiento del rendimiento para tomar decisiones informadas y mejorar la calidad de la atención.',
        icon: 'ph:buildings',
        link: '/clinicas',
      },
    ]}
  />

  <LatestPosts
    title="Últimas novedades en nuestro Blog"
    information={`Descubre en el blog de CIMADent todas las novedades y actualizaciones que tenemos para ti, así como noticias de interés en el ámbito dental. ¡No te lo pierdas!`}
  />

  <div class="">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl md:text-5xl font-bold text-third leading-tighter mb-4 font-heading dark:text-white">
          Transforma tu práctica dental hoy
        </h2>
        <p class="mx-auto mt-6 max-w-xl leading-8 text-muted dark:text-slate-400 text-lg">
          Únete a los profesionales y clínicas que ya han optimizado su administración con CIMADent. Experimenta la
          eficiencia y simplicidad que nuestro software brinda. ¡No esperes más y da el salto hacia el éxito!
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="https://app.cimadent.cl/register"
            class="btn btn-primary rounded-md bg-primary hover:bg-primary px-3 py-2 text-sm font-medium text-white sm:mb-0"
            >Comienza tu prueba gratuita de 7 días</a
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
