---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pabrik Busa Tangerang & Jakarta | MS Foam',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Whatsapp',
        href: 'https://wa.me/62881082916666',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Comfort</span> That Lasts, <br />
      <span class="text-accent dark:text-white highlight">Service</span> That Excels.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">MS Foam (PT. Multi Sukses Foam)</span> memproduksi busa kualitas ekspor dengan ukuran standar dan custom. Memberi pelayanan premium dan pengiriman cepat.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Pelayanan Premium, Pengiriman Cepat</span><span class="sm:hidden">
      MS Foam (PT. Multi Sukses Foam) memproduksi busa kualitas ekspor dengan ukuran standar dan custom.</span>
    </Fragment>
  </Hero>

    <!-- Stats Widget ****************** -->

    <Stats
    title="Key Statistics"
    stats={[
      { title: 'Mulai Beroperasi', amount: '2004' },
      { title: 'Industri Terlayani', amount: '6' },
      { title: 'Pelanggan', amount: '50+' },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Artikel Terbaru"
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Apakah saya bisa membeli busa per lembar di MS Foam?',
        description:
          "Maaf, kami tidak menjual secara eceran, tetapi Anda bisa menghubungi beberapa pelanggan kami yang menjual produk kami. Silakan lihat daftar stockist kami.",
      },
      {
        title: 'Apakah saya bisa memesan ukuran khusus?',
        description:
          'Silakan hubungi kami agar kami bisa mendapatkan informasi lebih dalam mengenai ukuran yang dimaksud. Siapkan ukuran pasti dan jumlah quantity yang dibutuhkan agar proses bisa lebih cepat. Ada sample lebih baik.',
      },
      {
        title: 'Berapa jumlah minimum untuk bisa memesan busa di MS Foam?',
        description:
          "Pada umumnya, minimum pemesanan adalah 1 blok namun untuk jumlah per pieces nya memang tergantung dari ukuran yang dibutuhkan. Karena perhitungan busa menggunakan standar kubikasi, maka 1 blok untuk ukuran 10 cm akan lebih sedikit daripada ukuran 5 cm.",
      },
      {
        title: "Apakah ada biaya kirim untuk pengiriman busa?",
        description:
          "Jika pemesanan berjumlah 1 mobil dan area pengiriman masih di sekitar Jakarta, Bekasi, Bogor, dan Tangerang, maka gratis biaya kirim. Namun pemesanan di bawah 1 mobil atau di luar area pengiriman, maka ada biaya yang akan dikenakan.",
      },
      {
        title: 'Saya punya busa tapi tidak tahu density berapa, apa yang saya harus lakukan jika mau pesan?',
        description:
          "Siapkan sample dengan minimum ukuran 10 x 5 cm (tebalnya pasti bervariasi, namun panjang dan lebar ada minimum). Kirimkan ke kantor kami untuk diperiksa.",
      },
      {
        title: 'Bolehkah saya meminta price list untuk pemesanan?',
        description:
          "Hubungi kami langsung melalui Whatsapp atau e-mail untuk mendapatkan informasi mengenai price list.",
      },
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Whatsapp',
        href: 'https://wa.me/62881082916666/',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">
      Penjelasan kami kurang jelas?
    </Fragment>

    <Fragment slot="subtitle">
      Hubungi kami melalui Whatsapp untuk informasi lebih lanjut.
    </Fragment>
  </CallToAction>
</Layout>
