---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Advanced Relevance Semantic Search, Recommendation, and RAG API',
  ignoreTitleTemplate: true,
};
---

<meta property="og:title" content="Trieve" />
<meta property="og:site_name" content="" />
<meta property="og:url" content="https://search.trieve.ai" />
<meta property="og:description" content="" />
<meta property="og:type" content="" />
<meta property="og:image" content="https://cdn.trieve.ai/trieve-og.png" />

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started - free',
        href: 'https://dashboard.trieve.ai',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      {
        variant: 'secondary',
        text: 'Book a Demo',
        href: 'https://cal.com/nick.k/meet',
        target: '_blank',
        icon: 'tabler:calendar',
      },
    ]}
    image={{ src: 'https://cdn.trieve.ai/trieve-team.png', alt: 'Trieve Team Doing a Podcast' }}
  >
    <Fragment slot="title">
      Advanced relevance API for
      <span class="text-accent highlight">hybrid search</span><span class="hidden sm:block">, recommendations,</span> and
      RAG
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Trieve</span> is a performant, customizable and production-ready API for semantic and
        full-text search with re-ranker models, RAG, plus relevance tuning.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Trieve: Production-ready.</span>
      Use Trieve to show users what they're looking for every time.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Trieve"
    subtitle="Everything you could expect from a powerful modern API for search and RAG"
    items={[
      {
        title: 'Managed Embedding models',
        description: 'Bring your own embedding model or use one of our available open source defaults.',
        icon: 'tabler:3d-cube-sphere',
      },
      {
        title: 'SPLADE full-text neural search',
        description:
          'BM25 is great, but SPLADE is better. SPLADE is a state-of-the-art retrieval model for full-text search.',
        icon: 'tabler:file-typography',
      },
      {
        title: 'Semantic Vector Search',
        description:
          'Sometimes you need more than just full-text search. Trieve supports semantic vector search out of the box.',
        icon: 'tabler:file-vector',
      },
      {
        title: 'Hybrid Search',
        description:
          'Get the best of both worlds. Trieve supports hybrid search, combining full-text search and semantic vector search with cross-encoder re-ranker models.',
        icon: 'tabler:arrows-join',
      },
      {
        title: 'Merchandising Relevance tuning',
        description: 'Boost search results based on sales or popularity to show users what you know works.',
        icon: 'tabler:military-rank',
      },
      {
        title: 'Date Recency Biasing',
        description:
          'Relevance tuning is not just about the query. Trieve supports date recency biasing to ensure the most recent results are shown first.',
        icon: 'tabler:calendar',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Build What Matters Most"
    title="Trieve handles search and RAG so you can focus on building your unique features"
    items={[
      {
        title: 'Open Source Models',
        description: "Both our default embedding model and LLM are open source, we don't share your data.",
      },
      {
        title: 'Batteries Included',
        description:
          "Our API surface is large, the features are many, and the documentation is thorough. We've got you covered.",
      },
      {
        title: 'Host Yourself',
        description:
          "Sensitive data? Don't worry about vendor agreements, host yourself with terraform templates and no external dependencies.",
      },
    ]}
    image={{
      src: 'https://cdn.trieve.ai/battery-4-square.png',
      alt: 'Visual of Trieve features',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Built on the best foundations</h3>
      Gain a competitive advantage by incorporating AI powered search and RAG
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get an industry leading search UX setup in hours."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Add Existing Data</span>',
        description:
          'Send your data to the API. Either upload individual chunks or entire documents that get chunked by our algorithms.',
        icon: 'tabler:database-export',
      },
      {
        title: 'Step 2: <span class="font-medium">Integrate our API</em>',
        description: 'Add calls to our API on your create and update routes to keep your data up to date.',
        icon: 'tabler:git-merge',
      },
      {
        title: 'Step 3: <span class="font-medium">Search, Recommend, or Generate</span>',
        description:
          'Start testing search quality with our management Search UI and then integrate the search or RAG API calls into your product.',
        icon: 'tabler:telescope',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://cdn.trieve.ai/db-4-square.png',
      alt: 'Steps to use',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used features"
    subtitle="Provides frequently used endpoints for rounding out the full spectrum of search and RAG features."
    tagline="Components"
    items={[
      {
        title: 'Search',
        description:
          'Full-text search with an index built by SPLADE and semantic vector search with your choice of embedding model.',
        icon: 'flat-color-icons:search',
      },
      {
        title: 'RAG',
        description:
          'Build RAG experiences with our API that returns generated outputs with citations and manages message history.',
        icon: 'flat-color-icons:collaboration',
      },
      {
        title: 'Recommendations',
        description:
          'Recommendations are a great way to keep users engaged. Trieve supports recommendations based on user history and content similarity.',
        icon: 'flat-color-icons:multiple-inputs',
      },
      {
        title: 'Duplicate Handling',
        description:
          'Duplicate content is a common problem in knowledge management. Trieve has a novel approach to duplicate detection and merging.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Sub-sentence Highlighting',
        description:
          'Search results can be paragraphs long. Trieve supports sub-sentence highlighting to show users exactly what they are looking for.',
        icon: 'flat-color-icons:binoculars',
      },
      {
        title: 'Recency Biasing',
        description: 'Relevance tuning is not just about the query. Trieve supports date recency biasing.',
        icon: 'flat-color-icons:calendar',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: 'https://dashboard.trieve.ai',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      {
        variant: 'secondary',
        text: 'Book a Demo',
        href: 'https://cal.com/nick.k/meet',
        target: '_blank',
        icon: 'tabler:calendar',
      },
    ]}
  >
    <Fragment slot="title">The Best Search API</Fragment>

    <Fragment slot="subtitle">Use Trieve to show users what they're looking for every time.</Fragment>
  </CallToAction>
</Layout>
