---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
//import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
//import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
//import FAQs from '~/components/widgets/FAQs.astro';
//import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Contact from '~/components/widgets/Contact.astro';

const metadata = {
  title: "StationOne - Streamline your firefighting operations.",
  dontUseTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Sign Up', href: '/signup', icon: 'tabler:firetruck' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Streamline your
      <span class="text-secondary dark:text-white highlight"> firefighting</span> operations with StationOne   </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">StationOne</span> empowers firefighters by providing them with a digital platform that enhances their efficiency, safety, organisation, and access to information.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Platform Overview"
    title="Streamline your firefighting operations"
    subtitle="StationOne offers a range of features and tools to assist firefighters in both daily operations and while managing large-scale complex incidents."
    items={[
      {
        title: 'Planning',
        description:
          'Pre-Plans are an integral part of fire fighting operations but easily become out of date. Pre-Plans are typically paper documents, manually reviewed and subject to damage or loss.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Collaboration',
        description:
          'Allow businesses, residents and stakeholders to update critical information regarding their fire plans that is shared with fire services in real-time.',
        icon: 'tabler:message-dots',
      },
      {
        title: 'Operational & Briefings',
        description:
          'Paper based documentation is still widely used operationally. This creates an administrative burden and generates "information silos" risking crew safety.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Command & Control',
        description:
          'Ensure everyone is on the same page, a single source of truth is shared in real- time, up and down the chain of command.',
        icon: 'tabler:chevrons-up',
      },
      {
        title: 'Improved Efficiency',
        description:
          'Reduce time to complete required tasks, encouraging, introducing rigid process and automation of routine maintenance and compliance reporting.',
        icon: 'tabler:alarm',
      },
      {
        title: 'Equipment Management',
        description:
          'Equipment and Asset tracking is often done manually, this can be a time consuming process that is error prone. Leading to equipment getting lost or vital repairs getting overlooked.',
        icon: 'tabler:firetruck',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    tagline="Be prepared"
    title="Incident Pre-Plans"
    items={[
      {
        title: 'Ensure everyone has the same information',
        description:
          'All supporting appliances have a real-time, up to date version of the pre-plan providing them vital information en-route to the incident.',
      },
      {
        title: 'Get an overview of the incident en-route',
        description:
          'Ensure crews are familiar with the site plan, potential exposures, identify utlities isolation and fire service equipment.',
      },
      {
        title: 'Plan your initial attack',
        description:
          'Annotate the location map and share with all appliances en-route, detailing how initial attack crews will enter the premises and manage the incident.',
      },
    ]}
    image={{
      src: import('~/assets/images/feature-hero.png'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Critical information when you need it</h3>
      StationOne arms firefighters with all the important information as soon as they are in the truck. StationOne builds comprehensive pre-plans for high risk properties with real-time property owner and stakeholder collaboration.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    tagline="Engage your community"
    title="CommunityHub"
    items={[
      {
        title: 'Identify critical infrastructure on the property',
      },
      {
        title: 'Locate utility and PV isolation points',
      },
      {
        title: 'Understand occupancy and property use',
      },
      {
        title: 'Ensure properties are prepared for fire',
      },
      {
        title: 'Designate and Share areas of refuge',
      },
      {
        title: 'Share key emergency contacts',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
    >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Collaborate with your community</h3>
      Community Hub enables brigades to obtain valuable information about private residence.<br>Residents can add information to their property portfolio to assist brigades with their emergency response.
    </Fragment>
    </Content>

  <!-- Steps Widget ****************** -->
<!--
  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />
  -->

  <CallToAction
    id='signup'
    callToAction={{
      text: 'Sign Up',
      href: '/signup',
      icon: 'tabler:firetruck',
      //id='signup'
    }}
  >
    <Fragment slot="title">
      Join our <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">waitlist</span>
    </Fragment>

    <Fragment slot="subtitle">
      StationOne is still under active development, we are working hard to make our initial release available soon. <br><br>Join our waitlist to receive early access and updates about our initial release.
    </Fragment>
  </CallToAction>

  <!-- Features2 Widget ************** -->

  <Features2
    title="StationOne Features"
    subtitle="StationOne offers a range of features and tools to assist firefighters in both daily operations and while managing large-scale complex incidents."
    tagline="Features"
    id="details"
    items={[
      {
        title: 'Pre-Plans',
        description:
          'Develop, share and collaborate on pre-plans for significant risks.',
        icon: 'flat-color-icons:reading-ebook',
      },
      {
        title: 'Community Hub',
        description:
          'Engage with the community to ensure they are fire safe and prepared.',
        icon: 'flat-color-icons:home',
      },
      {
        title: 'Water Points',
        description:
          'Locate static water sources, maintained by brigades and property owners.',
        icon: 'flat-color-icons:collect',
      },
      {
        title: 'Hose Manager',
        description:
          'Manage your hose inventory including full service history and locations.',
        icon: 'flat-color-icons:neutral-trading',
      },
      {
        title: 'Inventory',
        description:
          'Equipment inventory, auditing and fault reporting.',
        icon: 'flat-color-icons:survey',
      },
      {
        title: 'Radio Simulator',
        description:
          'Train new recruits in our advanced radio simulator.',
        icon: 'flat-color-icons:assistant',
      },
      {
        title: 'Crew Manager',
        description:
          'Roster and manage duty crews and their tasks or build task forces.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Briefings',
        description:
          'Generate and share industry standard briefings electronically.',
        icon: 'flat-color-icons:briefcase',
      },
      {
        title: 'Firefighting Tools',
        description:
          'A range of useful tools, checklists and calculators to assist firefighters.',
        icon: 'flat-color-icons:support',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget *******************

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    tagline="FAQs"
    items={[
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: "What's an example of when you changed your mind?",
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
  -->

  <!-- Stats Widget ****************** 

  <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  />
-->

  <Contact
    id="contact"
    tagline="Get in Touch"
    title="Contact StationOne"
    subtitle="Do you want to know more about StationOne? Have questions or feedback on StationOne features? Interested in investing? Let's talk!"
    ></Contact>

</Layout>
