---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: import('~/assets/images/hero.png'), alt: 'Cloudsmart Unlimited DevOps' }}
    callToAction={{ text: 'Sign up now', href: 'https://app.cloudsmart.io'}}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Unlimited DevOps</span> for
      <span class="text-accent dark:text-white highlight"> Public Cloud</span> and
      <span class="text-accent dark:text-white highlight"> Kubernetes</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Cloudsmart</span> = DevOps engineering for Public Cloud APIs and Kubernetes</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Cloudsmart Unlimited DevOps</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    highlight="Everything as Code"
    title="Your DevOps Code Factory"
    subtitle="Built, tested and released for:"
    items={[
      [
        {
          title: 'Infrastructure as Code (IaC)',
          description:
            'Infrastructure as Code for Azure, Digital Ocean, AWS and GCP including Kubernetes clusters (AKS, DOKS, EKS, GKE respectively)',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Application Modernization',
          description:
            'Containerization for Javascript, Java (and other JVM languages), Go, Python, PHP',
          icon: 'tabler:rocket',
        },
      ],
      [
        {
          title: 'Continuous Integration (CI)',
          description:
            'Build, test and release for your Infrastructure and Containerized Applications',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Continuous Deployment (CD)',
          description:
            'Continuous Deployment of infrastructure changes, Kubernetes resources changes and containerized application (images) releases',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- <Content
    highlight="Coming Soon!"
    title="An Agile platform"
    items={[
      {
        title: 'Add user stories',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Collaborate with Cloudsmart engineers in real-time',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Get feedback on builds, deployments etc',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Platform for Planning and Collaboration</h3>
      Coming soon; An integrated platform hosting a Kanban board and collaboration platform (think Slack)
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  /> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Three Steps to Success"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Create a project in Github</span>',
        description:
          'A Project outlines your requirements at a high level.<br><br>Invite us as a Collaborator',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Break down the project into smaller chunks of work</em>',
        description:
          'In Agile, an Initiative is broken down into logical "Epics" that, themselves, are made up of more granular "user stories". In order to effectively do the required engineering, our engineers need to work through each user story, one at a time',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Define what "Done" looks like</span>',
        description:
          'In Agile planning, the Definition of Done is an agreed-upon set of items that must be completed before a project or user story can be considered complete.',
        icon: 'tabler:paint',
      },
      {
        title: 'Rinse and repeat.',
        description:
          'With our unique, Unlimited plans, you can simply add new projects as, and when, you like and an engineer will work through them, one at a time.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

 <!-- Note Widget ******************* -->

  <Note />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Partners"
    subtitle="Partners work with you on Solution Design (Day 0 ) and post-deployment maintainance, monitoring and optimizing (Day 2) leaving Cloudsmart to focus on delivering insane value for Day 1 code, build, test"
    highlight="Components"
    items={[
      {
        title: 'NextOps',
        description:
          'NextOps specialises in Application Modernization',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Your Name Here',
        description:
          'Apply here to get a DevOps Factory on-tap and with Whitelabelling',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'This block is intentionally blank',
        description:
          'Blocks look better in threes',
        icon: 'flat-color-icons:todo-list',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle=""
    highlight="FAQs"
    items={[
      [
        {
          question: 'Do you provide code to do XYZ?',
          answer:
            'We will work on code for any infrastructure supported by Public Cloud APIs.<br><br> For Applications, we are focused on containerized applications which includes modernizing legacy applications to run in containers and orchestrating the deployment and integration of those containers with any other services',
        },
        {
          question: "Can you help us with solution design?",
          answer:
            "Cloudsmart only provides 'Day 1' work, that is 'creating the infrastructure and application configuration'. 'Day 0' is the design phase which produces the product requirements that are the inputs Cloudsmart needs.<br><br> For Day 0 design work, we have a Partner Network that can assist",
        },
        {
          question: "Can you monitor and manage the solution",
          answer:
            "You will be please to know that this is called 'Day 2'. We don't currently plan to support Day 2 (maintainance, monitoring and optimizing) and, once again, we will refer you to our Partner Network."
        },
      ],
      [
        {
          question: 'What does "Unlimited" mean',
          answer:
            'Unlimited means you can add as many tasks as you like to your Product Backlog and a DevOps engineer will work through them, one at a time.',
        },
        {
          question: 'What if the engineer is slow?',
          answer:
            "For sure, some tasks can take longer and this is normal however, we should try to spot these tasks ahead of time and either break them down or re-priorise them. <br><br>We do this in a Planning Session ahead of starting work",
        },
        {
          question: 'I have paid for my Unlimited plan and would like a refund',
          answer:
            "If, for any reason you are not satisfied, we may issue a refund which would be pro-rated back from the time you cancel.<br><br> This would only apply if claimed prior to the delivery of work because, delivery ('handing over') implies your implicit acceptance per the Definition of Done created in initial Planning",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Sign up now',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Unlimited<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> DevOps</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
