---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Optimized semantic search and RAG',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/devflowinc/trieve',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      API for <span class="hidden xl:inline">building better</span>
      <span class="text-accent dark:text-white highlight"> AI search and RAG</span> at scale
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Trieve</span> is a performant, customizable and production-ready API for vector and full-text
        search, RAG, and relevance tuning.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Trieve: Production-ready.</span>
      Use Trieve to show users what they're looking for every time.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Trieve"
    subtitle="Everything you could expect from a powerful modern API for search and RAG"
    items={[
      {
        title: 'Managed Embedding models',
        description: 'Bring your own embedding model or use one of our available open source defaults.',
        icon: 'tabler:3d-cube-sphere',
      },
      {
        title: 'SPLADE full-text search',
        description:
          'BM25 is great, but SPLADE is better. SPLADE is a state-of-the-art retrieval model for full-text search.',
        icon: 'tabler:file-typography',
      },
      {
        title: 'Semantic Vector Search',
        description:
          'Sometimes you need more than just full-text search. Trieve supports semantic vector search out of the box.',
        icon: 'tabler:file-vector',
      },
      {
        title: 'Hybrid Search',
        description:
          'Get the best of both worlds. Trieve supports hybrid search, combining full-text search and semantic vector search.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Re-Rankers for Relevance tuning',
        description:
          'Use open source re-ranking models or build and tune your own to get the most relevant results possible.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Date Recency Biasing',
        description:
          'Relevance tuning is not just about the query. Trieve supports date recency biasing to ensure the most recent results are shown first.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Build What Matters Most"
    title="Trieve handles search and RAG so you can focus on building your unique features"
    items={[
      {
        title: 'Built on Qdrant',
        description: 'Benefiting from the performance and developer-friendly features of the best vector database.',
      },
      {
        title: 'RAG with all the LLMs of OpenRouter',
        description: "Quickly experiment and test with all the latest LLM's.",
      },
      {
        title: 'Host in your own cloud or on-prem',
        description:
          "Sensitive data? Don't worry about vendor agreements, host yourself with terraform templates and no external dependencies.",
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Built on the best foundations</h3>
      Gain a competitive advantage by incorporating AI powered search
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get an industry leading search UX setup in hours."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Add Existing Data</span>',
        description:
          "Send your data to the API. Either upload individual chunks or entire documents that get chunked by our algorithms.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Integrate our API</em>',
        description:
          "Add calls to our API on your create and update routes to keep your data up to date.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Search, Recommend, or Generate</span>',
        description:
          'Start testing search quality with our management Search UI and then integrate the search or RAG API calls into your product.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used features"
    subtitle="Provides frequently used endpoints for rounding out the full spectrum of search and RAG features."
    tagline="Components"
    items={[
      {
        title: 'Search',
        description: "Full-text search with an index built by SPLADE and semantic vector search with your choice of embedding model.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'RAG',
        description:
          "Build RAG experiences with our API that returns generated outputs with citations and manages message history.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Recommendations',
        description:
          'Recommendations are a great way to keep users engaged. Trieve supports recommendations based on user history and content similarity.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Duplicate Handling',
        description:
          "Duplicate content is a common problem in knowledge management. Trieve has a novel approach to duplicate detection and merging.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Sub-sentence Highlighting',
        description:
          'Search results can be paragraphs long. Trieve supports sub-sentence highlighting to show users exactly what they are looking for.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Recency Biasing',
        description: 'Relevance tuning is not just about the query. Trieve supports date recency biasing.',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
     The Best Search API
    </Fragment>

    <Fragment slot="subtitle">
      Use Trieve to show users what they're looking for every time.
    </Fragment>
  </CallToAction>
</Layout>
