---
import { t, changeLanguage } from 'i18next';
import { Trans } from 'astro-i18next/components';
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Headline from '~/components/ui/Headline.astro';
import { getPermalink } from '~/utils/permalinks';
import projections from '~/assets/images/projections.svg';
import dashboard from '~/assets/images/dashboard-screen.png';

changeLanguage('en');

const metadata = {
  title: 'Your Holistic Wealth Management Software',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero2
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: t('common.learnMore') ?? 'Learn more',
        href: getPermalink('/about'),
      },
    ]}
    image={{
      src: projections,
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <Trans i18nKey="home.title">
        Your <span class="text-accent highlight">Holistic</span> Wealth Management Software
      </Trans>
    </Fragment>

    <Fragment slot="subtitle">
      <Trans i18nKey="home.subtitle">
        Welcome to a new era of financial empowerment, where sophistication meets simplicity. <b>Sofistic.AI</b> is not just
        a software; it's your gateway to comprehensive and proactive wealth management, right at your fingertips.
      </Trans>
    </Fragment>
  </Hero2>

  <Headline title={t('home.headline.title')} subtitle={t('home.headline.text')} />

  <Features
    id="features"
    title={t('home.features.title')}
    subtitle={t('home.features.subtitle')}
    columns={2}
    items={[
      {
        title: t('home.features.360view.title'),
        description: t('home.features.360view.description'),
        icon: 'tabler:360-view',
      },
      {
        title: t('home.features.dataAggregation.title'),
        description: t('home.features.dataAggregation.description'),
        icon: 'tabler:chart-pie-4',
      },
      {
        title: t('home.features.cashFlowManagement.title'),
        description: t('home.features.dataAggregation.description'),
        icon: 'tabler:cash-banknote',
      },
      {
        title: t('home.features.insights.title'),
        description: t('home.features.dataAggregation.description'),
        icon: 'tabler:bulb',
      },
      {
        title: t('home.features.scenarioModeling.title'),
        description: t('home.features.dataAggregation.description'),
        icon: 'tabler:chart-histogram',
      },
      {
        title: t('home.features.bizDev.title'),
        description: t('home.features.dataAggregation.description'),
        icon: 'tabler:home-stats',
      },
    ]}
  />

  <Content
    title={t('home.benefits.title')}
    subtitle={t('home.benefits.subtitle')}
    isReversed
    items={[
      {
        title: t('home.benefits.smartInsights.title'),
        description: t('home.benefits.smartInsights.description'),
      },
      {
        title: t('home.benefits.consolidatedSystem.title'),
        description: t('home.benefits.consolidatedSystem.description'),
      },
      {
        title: t('home.benefits.timeOptimization.title'),
        description: t('home.benefits.timeOptimization.description'),
      },
    ]}
    image={{
      src: dashboard,
      alt: 'Sofistic.AI Web App',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps2
    id="contact"
    title={t('home.contactUs.title')}
    subtitle={t('home.contactUs.subtitle')}
    items={[
      {
        title: t('home.contactUs.email'),
        description: `<a title="Email" href="mailto:support@sofistic.ai">support@sofistic.ai</a>`,
        icon: 'tabler:mail',
      },
      {
        title: t('home.contactUs.call'),
        description: `<a title="Call" href="tel:+1 (234) 567-890">+1 (234) 567-890</a>`,
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
