---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Evan Harmon',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        text: 'Memex',
        href: 'https://www.evanharmon.com/Memex',
        target: '_blank',
        icon: 'tabler:sitemap',
      },
      { text: 'Projects', href: '#projects' },
      { text: 'Contact Me', href: '/contact' },
      { text: 'Meet With Me', href: 'https://fantastical.app/evanharmon' },
    ]}
    image={{ src: '~/assets/images/flammarion.jpeg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title"> Evan Harmon </Fragment>

    <Fragment slot="subtitle">
      <span>Coding cantankerous contraptions and proffering philosophical piffle since the Tokugawa shogunate.</span>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Projects"
    id="projects"
    items={[
      {
        title: 'HarmonOps',
        description:
          'Various scripts, dotfiles, automation, and IaC for my developer environment and homelab infrastructure with self-hosted apps, Raspberry Pis, Dockerfiles, etc.',
        icon: 'flat-color-icons:template',
        href: 'https://github.com/evanharmon1/harmon-ops',
      },
      {
        title: 'Memex',
        description:
          "I use the Obsidian app for my day-to-day notes as a PKM/zettelkasten and share them here as a so-called 'digital garden'",
        icon: 'flat-color-icons:gallery',
        href: 'https://evanharmon.com/Memex',
      },
      {
        title: 'Triplicate Group',
        description: 'Co-founded by myself and Cayden Sommer',
        icon: 'flat-color-icons:approval',
        href: 'https://triplicategroup.com',
      },
      {
        title: 'Contraption Labs',
        description: 'Technology company',
        icon: 'flat-color-icons:document',
        href: 'https://contraptionlabs.com',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Blog" />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Contraptions', amount: '132K' },
      { title: 'Bits', amount: '24.8K' },
      { title: 'Qualia', amount: '10.3K' },
      {
        title:
          'Number of times that people have had an interaction with me in which they have found that experience and/or me and/or their general outlook on life thereafter simply delightful',
        amount: '48.4K',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      { text: 'Contact Me', href: '/contact' },
      { text: 'Meet With Me', href: 'https://fantastical.app/evanharmon' },
    ]}
  >
    <Fragment slot="title"> Let's Talk! </Fragment>
  </CallToAction>
</Layout>
