---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import CustomStyles from '~/components/CustomStyles.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const waitlistForm = 'https://airtable.com/shrS5CDFSytFvbRoB';
---

<CustomStyles />

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero2
    callToAction={{
      text: 'Join the waitlist',
      href: waitlistForm,
      icon: 'tabler:arrow-up-right',
    }}
    callToAction2={{ text: 'Learn more', href: '#Features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'OpenHako Hero Image' }}
  >
    <Fragment slot="title">
      The world's most
      <span class="text-accent highlight">versatile</span>
      AI assistant
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-bold"> Hako is a companion that lives on your computer desktop.</span><br />
      Harness world-class AI technology without giving up your privacy.
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    highlight="Features"
    title="<span class=''>AI that lives on your desktop"
    items={[
      {
        title: 'Deep OS-level integration',
        description:
          "Supercharge your AI experience with full access to everything you do on your device. This isn't just your email client's AI assistant.",
      },
      {
        title: 'Open source and private',
        description:
          'Hako is open source software, and you can run your own instance if you want. No data is ever sold or used for training.',
      },
      {
        title: 'Customizable and extensible',
        description:
          "Create a custom character, integrate your favourite apps, or anything else you can dream up. We're giving the control of AI technology back to you.",
      },
    ]}
  >
    <Fragment slot="image">
      <video width="560" height="315" title="Hako prototype demo." autoplay loop style="width:100%">
        <source src="/assets/videos/prototype.mp4" type="video/mp4" />
      </video>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    highlight="FAQs"
    items={[
      [
        {
          question: 'Will Hako cost money?',
          answer: "Yes, but we'll probably have a free trial or free tier as well so you can try it before you buy.",
        },
        {
          question: 'When do you launch?',
          answer: 'By the end of June, if everything goes well!',
        },
      ],
      [
        {
          question: "Who's behind this project?",
          answer: "We're a small team of 3 based in New Zealand.",
        },
        {
          question: 'What if I have more questions?',
          answer:
            "You can email us at <a href='mailto:team@openhako.com'>team@openhako.com</a>.<br>Let us know if you'd like us to create a Discord server as well.",
        },
      ],
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Join the waitlist',
      href: waitlistForm,
      icon: 'tabler:arrow-up-right',
    }}
  >
    <Fragment slot="title">
      I'm interested. <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">How do I keep updated?</span>
    </Fragment>

    <Fragment slot="subtitle">We'll send you an invitation when we're ready for you.</Fragment>
  </CallToAction>
</Layout>
