---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Aurora Accounting London – Your Path to Financial Clarity',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Discover Our Services', href: '#services' },
      { text: 'Contact Us', href: '/contact' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Expert Accounting for Modern Businesses in <span class="text-accent dark:text-white highlight">London</span>
    </Fragment>

    <Fragment slot="subtitle">
      At <span class="font-semibold">Aurora Accounting London</span>, we combine traditional expertise with modern
      solutions to navigate your financial landscape. Our services are tailor-made for Startups, SMEs, and individual
      entrepreneurs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="services"
    tagline="Our Expertise"
    title="Tailored Accounting Solutions"
    subtitle="Delivering unparalleled accounting services with a personal touch. Our team of experts is dedicated to your financial success."
    items={[
      {
        title: 'Comprehensive Tax Management',
        description:
          'Navigate the complexities of taxation with our bespoke solutions, ensuring efficiency and compliance.',
        icon: 'tabler:calculator',
      },
      {
        title: 'Innovative Financial Planning',
        description: 'Strategic financial advice to propel your business growth and secure your financial future.',
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Reliable Compliance & Auditing',
        description:
          'Rigorous auditing and compliance services to maintain the integrity and accuracy of your financial records.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Streamlined Reporting & Bookkeeping',
        description:
          'Simplify your financial journey with our streamlined year-end reporting and meticulous bookkeeping services, ensuring accuracy and peace of mind for all your accounting needs.',
        icon: 'tabler:report',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Why Choose Us"
    title="Experience the Aurora Difference"
    items={[
      {
        title: 'Client-Centric Approach',
        description:
          'Every client is unique. We offer personalized services tailored to your specific financial needs and goals.',
      },
      {
        title: 'Advanced Technology Integration',
        description: 'Utilizing the latest accounting technology to provide efficient and innovative services.',
      },
      {
        title: 'Expert Team',
        description:
          'Our experienced and qualified professionals are dedicated to delivering excellence in all aspects of accounting.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Leading the Way in Accounting Excellence
      </h3>
       Elevate your business with Aurora Accounting London's expertise and innovative financial solutions.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Bespoke Accounting Services',
        description: `Every business is unique. That's why we offer tailored accounting solutions that align with your specific financial goals and requirements.`,
      },
      {
        title: 'Comprehensive Financial Analysis',
        description:
          'Dive deep into your financials with our thorough analysis, ensuring you have all the insights needed to make informed decisions.',
      },
      {
        title: 'State-of-the-Art Technology',
        description:
          'Leverage the latest in accounting technology for efficient and accurate financial management, accessible anywhere, anytime.',
      },
      {
        title: 'Proactive Financial Planning',
        description:
          'Stay ahead with our proactive approach to financial planning, helping you anticipate challenges and seize opportunities.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Aurora Accounting London - Your Partner in Financial Excellence"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Discover</span>',
        description:
          'Begin your journey with Aurora Accounting. Connect with us to explore how we can transform your financial landscape with our expert accounting services.',
        icon: 'tabler:search',
      },
      {
        title: 'Step 2: <span class="font-medium">Engage</span>',
        description:
          "Engage with our team of seasoned accountants and financial advisors. We'll work closely with you to tailor our services to your specific needs.",
        icon: 'tabler:user-plus',
      },
      {
        title: 'Step 3: <span class="font-medium">Achieve</span>',
        description:
          'Experience the impact of professional accounting. Watch your business thrive as we implement strategic financial solutions tailored to your growth.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Success!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Aurora Accounting Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Expertise"
    subtitle="Delivering top-notch accounting services tailored to your needs"
    tagline="Services"
    items={[
      {
        title: 'Comprehensive Accounting',
        description:
          'From bookkeeping to financial reporting, we cover all aspects of accounting to keep your business on track.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Tax Advisory',
        description:
          'Navigate the complexities of taxation with our expert advice, ensuring compliance and maximizing savings.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Business Consulting',
        description:
          'Our strategic business consulting helps you make informed decisions, driving growth and profitability.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Financial Planning',
        description: "Secure your business's future with our personalized financial planning services.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Audit and Compliance',
        description: 'Ensure accuracy and compliance with our thorough auditing services, giving you peace of mind.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Cloud Accounting',
        description:
          'Leverage the latest technology with our cloud accounting solutions for efficiency and accessibility.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Client Testimonials',
        description: 'Hear from our satisfied clients and understand the impact of our partnership.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Get in Touch',
        description:
          'Ready to elevate your financials? Contact us today and take the first step towards financial clarity and success.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'About Us',
        description: 'Learn more about Aurora Accounting London and our commitment to your financial success.',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Find answers to common questions about Aurora Accounting London's services and how we can help enhance your financial strategy."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Choose Aurora Accounting London?',
        description:
          "Aurora Accounting London stands out for its blend of traditional accounting expertise and innovative financial strategies, ensuring your business stays ahead in today's dynamic economic landscape.",
      },
      {
        title: 'What Accounting Services Do We Offer?',
        description:
          'From comprehensive tax planning to efficient bookkeeping, we offer a wide range of services designed to streamline your financial processes and maximize your business’s growth potential.',
      },
      {
        title: 'How Can Our Accounting Services Benefit You?',
        description:
          'Our tailored approach ensures that each client receives personalized solutions, offering clarity in financial decision-making and unlocking opportunities for growth and savings.',
      },
      {
        title: 'What Makes Our Team Qualified?',
        description:
          'Led by a CIMA-certified accountant, our team brings a wealth of experience and a commitment to excellence in every aspect of our service.',
      },
      {
        title: 'How Do We Ensure Client Satisfaction?',
        description:
          "We prioritize transparent communication and a client-centric approach, ensuring our solutions align perfectly with your business's unique financial needs.",
      },
      {
        title: 'Can We Tailor Services to Your Specific Needs?',
        description:
          "Absolutely! We believe every business is unique, and we're dedicated to providing bespoke accounting solutions that align with your specific goals and challenges.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Years in Business', amount: '10+' },
      { title: 'Satisfied Clients', amount: '200+' },
      { title: 'Successful Projects', amount: '300+' },
      { title: 'Professional Awards', amount: '15' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">Ready to Transform Your Financial Future?</Fragment>

    <Fragment slot="subtitle">
      Discover how Aurora Accounting London can elevate your business's financial health. <br />Reach out to us for a
      consultation today!
    </Fragment>
  </CallToAction>
</Layout>
