---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Jonathan Ronn - Portfolio',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/jon-hero.webp', alt: 'Jon Ronn Hero Image' }}
  >
    <Fragment slot="title">
      Hi there I'm 
      <span class="text-accent dark:text-white highlight"> Jon Ronn</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Welcome to my portfolio! Thanks for stopping by. I’m a software developer passionate about building efficient, user-friendly solutions. Feel free to explore my projects to see what I’ve been working on, and don’t hesitate to reach out if you’d like to connect or collaborate.
      </span
      >
    </Fragment>
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="See my Blog"
  />

</Layout>
