---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'Quinn - Portfolio Website with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Dive In!',
        href: '',
        target: '_blank',
        icon: 'tabler:home-star',
      },
    ]}
    image={{ src: '~/assets/images/Quinn_Recent Picture.jpeg', alt: 'Mohican Village' }}
  >
    <Fragment slot="title">
      Welcome to my portfolio website!
      <br />
      <span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        My name is <span class="font-semibold"><i>Matthias</i></span> and I am a data scientist</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Publications', amount: '2' },
      { title: 'Degrees', amount: '2' },
      { title: 'Clubs', amount: '2' },
    ]}
  />

  <!-- CallToAction Widget *********** -->
</Layout>
