---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import PriceSlider from '~/components/widgets/PriceSlider';
import PricingCalculator from '~/components/widgets/PricingCalculator';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    title="Pricing that scales with you"
    callToAction={{
      target: '_blank',
      text: 'Get started free',
      href: 'https://dashboard.trieve.ai',
    }}
  />

  <!-- Pricing Widget ******************* -->

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <PricingCalculator client:only="react" />
  </div>

  <CallToAction
    title="Still unsure? Derisk with a custom demo!"
    subtitle="Get a proof of concept with a validation schedule to evaluate Trieve"
    actions={[
      {
        variant: 'primary',
        text: 'Request demo',
        href: '/request-demo',
      },
    ]}
  />
</Layout>
