---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    title="Pricing"
    subtitle='<p>Unlimited search requests + full AI, merchandising studio & analytics tools included on all plans. No credit card required. See self-hosting options here: <a class="underline hover:text-primary" href="https://docs.trieve.ai/self-hosting/docker-compose" target="_blank">Docker Compose VPS</a>, <a class="underline hover:text-primary" href="https://docs.trieve.ai/self-hosting/aws" target="_blank">AWS EKS</a> , <a class="underline hover:text-primary" href="https://docs.trieve.ai/self-hosting/gcp" target="_blank"> GCP GKE</a>.</p>'
    ,
    callToAction={{
      target: '_blank',
      text: 'Contact For Commercial Self-Hosting License',
      href: 'https://cal.com/nick.k/meet',
    }}
  />

  <!-- Pricing Widget ******************* -->

  <Prices
    prices={[
      {
        title: 'Free Cloud',
        price: 0,
        period: 'Per Month',
        items: [
          {
            description: '1,000 vectorized and stored chunks/records',
          },
          {
            description: '10 requests per second rate limit',
          },
          {
            description: '2 indexed datasets',
          },
          {
            description: '5 users',
          },
          {
            description: '1,000 gen AI messages',
          },
          {
            description: '512MB S3 file storage',
          },
          {
            description: 'Guided Onboarding',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started free',
          href: 'https://dashboard.trieve.ai',
        },
      },
      {
        title: 'Dev Cloud',
        price: 25,
        period: 'Per Month',
        items: [
          {
            description: '100,000 vectorized and stored chunks/records',
          },
          {
            description: '10 requests per second rate limit',
          },
          {
            description: '2 indexed datasets',
          },
          {
            description: '5 users',
          },
          {
            description: '10,000 gen AI messages',
          },
          {
            description: '1gb S3 file storage',
          },
          {
            description: 'Guided Onboarding',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started free',
          href: 'https://dashboard.trieve.ai',
        },
      },
      {
        title: 'Pro Cloud',
        price: 499,
        period: 'Per Month',
        items: [
          {
            description: '1,000,000 vectorized and stored chunks/records',
          },
          {
            description: '25 requests per second rate limit',
          },
          {
            description: '10 indexed datasets',
          },
          {
            description: '20 users',
          },
          {
            description: '25,000 gen AI messages',
          },
          {
            description: '50gb S3 file storage',
          },
          {
            description: 'Guided onboarding',
          },
          {
            description: '3 hour maximum response time',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started free',
          href: 'https://dashboard.trieve.ai',
        },
      },
      {
        title: 'Enterprise Cloud',
        price: 2999,
        period: 'Per Month - Starting',
        items: [
          {
            description: 'Up to 99.99% uptime SLA',
          },
          {
            description: 'Up to 125ms P95 latency SLO',
          },
          {
            description: '1000 requests per second',
          },
          {
            description: '1 hour maximum response time',
          },
          {
            description: 'Load your own custom embedding, LLMs, and reranking models',
          },
          {
            description: 'VPC peering',
          },
          {
            description: 'Highest priority feature requests',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Talk to team',
          href: 'https://cal.com/nick.k/meet',
        },
        callToAction2: {
          target: '_blank',
          text: 'humans@trieve.ai',
          href: 'mailto:humans@trieve.ai',
        },
        hasRibbon: true,
        ribbonTitle: 'flagship',
      },
    ]}
  />

  <CallToAction
    title="Still unsure? Derisk with a custom demo!"
    subtitle="Get a proof of concept with a validation schedule to evaluate Trieve"
    actions={[
      {
        variant: 'primary',
        text: 'Learn more',
        href: 'https://cal.com/nick.k/meet',
      },
    ]}
  />
</Layout>
