---
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro';
import Header from '~/components/widgets/Header.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      isSticky
      showToggleTheme
    />
  </Fragment>
  <div class="grid grid-cols-1 sm:max-xl:grid-cols-2 col-custom gap-2 md:gap-3  m-auto w-full h-full p-3 xs:p-6 md:p-12 md:pt-0 max-w-[1920px]">
    <div class="grid col-span-1 row-span-2 grid-cols-1 lg:grid-cols-2 gap-3">
      <div class="rounded-md md:rounded-xl overflow-hidden lg:col-span-2 bg-purple-300  dark:bg-purple-800/40 p-3 md:p-6 flex flex-col gap-2 justify-between">
        <div class="flex flex-col gap-2">
          <h2 class="text-5xl text-purple-950 dark:text-purple-200 font-bold">MVP</h2>
        <p>Valida tu idea en tiempo récord. Construye solo lo que importa, al mínimo costo y máxima velocidad.</p>
        <p class="font-bold text-2xl text-purple-700 dark:text-purple-300">Desde 4000 USD</p>
        </div>
        <div class="flex w-full justify-end">
          <Button {...{
            variant: 'primary',
            type: 'button',
            text: 'Agendar una llamada',
            href: 'https://github.com/onwidget/astrowind',
            target: '_blank',
            icon: "tabler:calendar-event",
          } || {}}
          class="rounded-md md:rounded-xl text-lg font-medium px-4 py-2">
  
          </Button>
        </div>
      </div>
      <div class="rounded-md md:rounded-xl overflow-hidden bg-purple-100 border border-purple-200 dark:border-purple-950 dark:bg-purple-800/10 p-3 md:p-6 flex flex-col gap-2 justify-end">
        <div class="flex flex-col gap-2">
          <h2 class="text-2xl text-purple-950 dark:text-purple-200  font-bold">Auditoría UX </h2>
        <p class="text-muted text" >Revisión exhaustiva de la experiencia de usuario en tu sitio o aplicación. Identifica áreas de mejora.</p>
        <p class="font-bold text-purple-700 dark:text-purple-300">20 USD/h</p>
        </div>
        <div class="flex justify-end w-full">
          <Button {...{
            variant: 'secondary',
            type: 'icon',
            href: 'https://github.com/onwidget/astrowind',
            target: '_blank',
            icon: "tabler:calendar-event",
          } || {}}
          class="rounded-md md:rounded-xl text-lg font-medium px-2 py-2 mr-2">
    
          </Button>
        </div>
      </div>
      <div class="rounded-md md:rounded-xl overflow-hidden bg-purple-100 border border-purple-200 dark:border-purple-950 dark:bg-purple-800/10 p-3 md:p-6 flex flex-col gap-2 justify-end">
        <div class="flex flex-col gap-2">
          <h2 class="text-2xl text-purple-950 dark:text-purple-200  font-bold">Consultoría UX</h2>
        <p class="text-muted" >Asesoramiento personalizado para optimizar la experiencia de usuario en tus proyectos.</p>
        <p class="font-bold text-purple-700 dark:text-purple-300">20 USD/h</p>
        </div>
        <div class="flex justify-end w-full">
          <Button {...{
            variant: 'secondary',
            type: 'icon',
            href: 'https://github.com/onwidget/astrowind',
            target: '_blank',
            icon: "tabler:calendar-event",
          } || {}}
          class="rounded-md md:rounded-xl text-lg font-medium px-2 py-2">
    
          </Button>
        </div>
      </div>
    </div>

    <div class="grid col-span-1 row-span-2 gap-3">
      <div class="rounded-md md:rounded-xl overflow-hidden bg-purple-300   dark:bg-purple-800/40 p-3 md:p-6 flex flex-col gap-2 justify-between">
        <div class="flex flex-col gap-2">
          <h2 class="text-5xl text-purple-950 dark:text-purple-200 font-bold max-w-52">Diseño de páginas web</h2>
        <p>Sitios web atractivos, con una experiencia satisfactoria. Adaptados a tus necesidades y objetivos específicos.</p>
        <p class="font-bold text-2xl text-purple-700 dark:text-purple-300">Desde 500 USD</p>
        </div>
        <div class="flex justify-end w-full">
          <Button {...{
            variant: 'primary',
            type: 'button',
            text: 'Agendar una llamada',
            href: 'https://github.com/onwidget/astrowind',
            target: '_blank',
            icon: "tabler:calendar-event",
          } || {}}
          class="rounded-md md:rounded-xl text-lg font-medium px-4 py-2">
    
          </Button>
        </div>
      </div>
      <div class="rounded-md md:rounded-xl overflow-hidden bg-purple-100 border border-purple-200 dark:border-purple-950 dark:bg-purple-800/10 p-3 md:p-6 flex flex-col gap-2 justify-between">
        <div class="flex flex-col gap-2">
         <h2 class="text-3xl text-purple-950 dark:text-purple-200  font-bold w-4/5">Diseño y desarrollo de páginas web</h2>
         <p class="text-muted" >Creación de sitios web a medida, con diseño atractivo y funcionalidad personalizada.</p>
         <p class="font-bold text-2xl text-purple-700 dark:text-purple-300">Desde 1000 USD</p>
        </div>
         <div class="flex justify-end w-full">
           <Button {...{
             variant: 'secondary',
             type: 'button',
             text: 'Agendar una llamada',
             href: 'https://github.com/onwidget/astrowind',
             target: '_blank',
             icon: "tabler:calendar-event",
           } || {}}
           class="rounded-md md:rounded-xl text-lg font-medium px-4 py-2">
     
           </Button>
         </div>
       </div>
    </div>
    <div class="rounded-md md:rounded-xl overflow-hidden bg-purple-100 border border-purple-200 dark:border-purple-950 dark:bg-purple-800/10 p-3 md:p-6 flex flex-col gap-2 justify-between">
      <div class="flex flex-col gap-2">
        <h2 class="text-3xl text-purple-950 dark:text-purple-200  font-bold w-4/5">Diseño y desarrollo no-code de apps</h2>
      <p class="text-muted" >Idea y prototipo a una aplicación funcional sin escribir código. Ideal para proyectos rápidos.</p>
      <p class="font-bold text-2xl text-purple-700 dark:text-purple-300">Desde 2000 USD</p>
      </div>
     <div class="flex justify-end w-full">
      <Button {...{
        variant: 'secondary',
        type: 'button',
        text: 'Agendar una llamada',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: "tabler:calendar-event",
      } || {}}
      class="rounded-md md:rounded-xl text-lg font-medium px-4 py-2">

      </Button>
     </div>
    </div>
   
    <div class="rounded-md md:rounded-xl overflow-hidden bg-purple-300   dark:bg-purple-800/40 p-3 md:p-6 flex flex-col gap-2 justify-between ">
      <div class="flex flex-col gap-2">
        <h2 class="text-5xl text-purple-950 dark:text-purple-200 font-bold">Diseño de apps</h2>
      <p>Diseño de interfaces de usuario intuitivas y atractivas para aplicaciones móviles y web.</p>
      <p class="font-bold text-2xl text-purple-700 dark:text-purple-300">Desde 1000 USD</p>
      </div>
      <div class="flex justify-end w-full">
        <Button {...{
          variant: 'primary',
          type: 'button',
          text: 'Agendar una llamada',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
          icon: "tabler:calendar-event",
        } || {}}
        class="rounded-md md:rounded-xl text-lg font-medium px-4 py-2">
  
        </Button>
      </div>
    </div>
    
  </div>
  <style>
    @media screen and (min-width: 1280px){
      .col-custom {
        grid-template-columns: 40% repeat(2, minmax(280px, 1fr));

      }
    }
  </style>
  
</Layout>
