---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Person from '~/components/widgets/Person.astro';

const metadata = {
  title: 'Team',
};

const isDark = false;
---

<Layout metadata={metadata}>
    <HeroText tagline="" title="Meet the Team" />
    <article class="mb-2 transition text-center">
    <p></p> 
    </article>
    <div class="flex flex-wrap flex-col lg:flex-row lg:px-20" style="">
      <Person
        photoPath = "~/assets/images/boomi.jpg"
        socialLinks = {[
          {
              text: "LinkedIn",
              href: "https://www.linkedin.com/in/boominathan-s-l-bsides-chennai-l-ex-ey-l-ex-wipro-37206632/",
              ariaLabel: "string",
              icon: "tabler:brand-linkedin"
          },
        ]},
        name = 'Boominathan S',
        title = 'Founder',
      />
      
      <Person
        photoPath = "~/assets/images/mohan.jpg"
        socialLinks = {[
          {
              text: "Website",
              href: "https://binarsouljour.me",
              ariaLabel: "string",
              icon: "tabler:world"
          },{
              text: "LinkedIn",
              href: "https://linkedin.com/in/binarysouljour",
              ariaLabel: "string",
              icon: "tabler:brand-linkedin"
          },
        ]},
        name = 'Mohanraj R',
        title = 'Co-Founder'
      />
      <Person
      photoPath = "~/assets/images/anjana.jpg"
      socialLinks = {[
        {
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/anjana-k-042b39158",
          ariaLabel: "string",
          icon: "tabler:brand-linkedin"
        }
      ]},
      name = 'Anjana K',
      title = 'Community Contributor'
    />
      <Person
        photoPath = "~/assets/images/aravindhanramani.jpg"
        socialLinks = {[
          {
            text: "LinkedIn",
            href: "https://www.linkedin.com/in/aravindhanr2616/",
            ariaLabel: "string",
            icon: "tabler:brand-linkedin"
          }
        ]},
        name = 'Aravindhan R',
        title = 'Community Contributor'
      />
      <Person
      photoPath = "~/assets/images/divyashree.png"
      socialLinks = {[
        {
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/divyashree-sendil-kumar-4199081b8/",
          ariaLabel: "string",
          icon: "tabler:brand-linkedin"
        }
      ]},
      name = 'Divyashree S',
      title = 'Community Contributor'
    />
    <Person
      photoPath = "~/assets/images/ezhil.jpg"
      socialLinks = {[
        {
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/ezhil-cyber",
          ariaLabel: "string",
          icon: "tabler:brand-linkedin"
        }
      ]},
      name = 'Ezhilamuthan M',
      title = 'Community Contributor'
    />
    <Person
      photoPath = "~/assets/images/gnanarajmauviel.jpg"
      socialLinks = {[
        {
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/gnanaraj-mauviel/",
          ariaLabel: "string",
          icon: "tabler:brand-linkedin"
        }
      ]},
      name = 'Gnanaraj M',
      title = 'Community Contributor'
    />
    <Person
    photoPath = "~/assets/images/kavia.jpg"
    socialLinks = {[
      {
        text: "LinkedIn",
        href: "https://www.linkedin.com/in/kaviabaskar/",
        ariaLabel: "string",
        icon: "tabler:brand-linkedin"
      }
    ]},
    name = 'Kavia B',
    title = 'Community Contributor'
  />
  <Person
    photoPath = "~/assets/images/nivedan.jpg"
    socialLinks = {[
      {
        text: "LinkedIn",
        href: "https://www.linkedin.com/in/nivedan-rajasekar-a414703a",
        ariaLabel: "string",
        icon: "tabler:brand-linkedin"
      }
    ]},
    name = 'Nivedan R',
    title = 'Community Contributor'
  />
  
    <Person
    photoPath = "~/assets/images/sathya.jpg"
    socialLinks = {[
      {
        text: "LinkedIn",
        href: "https://www.linkedin.com/in/know-about-sathya-narayana",
        ariaLabel: "string",
        icon: "tabler:brand-linkedin"
      }
    ]},
    name = 'Sathya Narayana B',
    title = 'Community Contributor'
  />
    <Person
    photoPath = "~/assets/images/thowbik.jpg"
    socialLinks = {[
      {
        text: "LinkedIn",
        href: "https://uk.linkedin.com/in/thowbik-dustan-1ba0901a8",
        ariaLabel: "string",
        icon: "tabler:brand-linkedin"
      }
    ]},
    name = 'Thowbik Dustan',
    title = 'Community Contributor'
  />
  <Person
    photoPath = "~/assets/images/vignesh.jpg"
    socialLinks = {[
      {
        text: "LinkedIn",
        href: "https://www.linkedin.com/in/vignesh-p-57034a1a1",
        ariaLabel: "string",
        icon: "tabler:brand-linkedin"
      }
    ]},
    name = 'Vignesh P',
    title = 'Community Contributor'
  />
    </div>

    <HeroText tagline="" title="Our Advisors" />
    <article class="mb-2 transition text-center">
    <p></p> 
    </article>
    <div class="flex flex-wrap flex-col lg:flex-row lg:px-20" style="">
      <Person
        photoPath = "~/assets/images/sanjay-ad.jpg"
        socialLinks = {[
          {
              text: "LinkedIn",
              href: "https://www.linkedin.com/in/sanjay-krishnan-541a521",
              ariaLabel: "string",
              icon: "tabler:brand-linkedin"
          },
        ]},
        name = 'Sanjay Krishnan',
        title = 'Head of Information Security Group - Infosys Ltd',
      />
      <Person
      photoPath = "~/assets/images/lalit-ad.jpg"
      socialLinks = {[
        {
            text: "LinkedIn",
            href: "https://www.linkedin.com/in/lgin2020",
            ariaLabel: "string",
            icon: "tabler:brand-linkedin"
        },
      ]},
      name = 'Lalit Gupta',
      title = 'Head of IT GRC & Cyber Security - Al Gihaz Holding',
    />
    <Person
    photoPath = "~/assets/images/pooja-ad.jpg"
    socialLinks = {[
      {
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/poojashimpi",
          ariaLabel: "string",
          icon: "tabler:brand-linkedin"
      },
    ]},
    name = 'Pooja Shimpi',
    title = 'Founder & CEO - SyberNow',
  />
  <Person
  photoPath = "~/assets/images/venkatesh-ad.jpg"
  socialLinks = {[
    {
        text: "LinkedIn",
        href: "https://www.linkedin.com/in/venkatesh-sampath-bb121948",
        ariaLabel: "string",
        icon: "tabler:brand-linkedin"
    },
  ]},
  name = 'Venkatesh Sampath',
  title = 'Manager Information Security - Infosys',
/>
  
    
    
    </div>
</Layout>
