---
import { Icon } from "astro-icon/components"
---

<>
<div class="flex w-full align-center">
<div  class=" md:px-2 md:py-2">
<Icon name='tabler:home' class="sm:w-8 sm:h-8 w-6 h-6 text-purple-500 dark:text-purple-300">
</div>
</div>
  </>
