---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-lg md:text-2xl font-bold whitespace-nowrap">
  <img src="https://cdn.trieve.ai/trieve-logo.png" alt="Trieve logo" class="h-12 w-12 inline" />
  {SITE?.name}
</span>
