---
---

<div
  class="flex flex-row space-x-2 items-center self-center ml-2 font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img class="h-8 invert dark:invert-0" src="/favicon.svg" alt="OpenHako Logo" />
  <span class="text-2xl md:text-xl">OpenHako</span>
</div>

<!--
  If we change to a logo with the text embedded in the image, we can use this instead of the above
  <img class="flex flex-row items-center self-center ml-2 invert dark:invert-0 h-8" src="/assets/images/logo3.png" />
-->
