---
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <svg class="w-36" viewBox="117.988 114.911 764.019 124.077" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id="clippath0" transform="">
        <path d="M 0 353.888 L 1000 353.888 L 1000 0 L 0 0 Z" style="fill: none; clip-rule: nonzero;"></path>
      </clipPath>
    </defs>
    <g style="clip-path: url(#clippath0);" transform="matrix(1, 0, 0, -1, 0, 353.888)">
      <g transform="translate(590.0439 146.1595)">
        <path
          d="M 0 0 L 0 28.931 C -4.847 32.839 -10.634 34.716 -17.045 34.716 C -29.399 34.716 -38.158 26.116 -38.158 14.387 C -38.158 2.033 -29.556 -5.787 -17.045 -5.787 C -10.634 -5.787 -4.847 -3.909 0 0 M 0 89.763 L 26.897 89.763 L 26.897 -28.149 L 0 -28.149 L 0 -24.553 C -7.037 -27.993 -14.387 -29.714 -22.05 -29.714 C -34.091 -29.714 -44.1 -25.647 -52.388 -17.516 C -60.677 -9.228 -64.743 1.407 -64.743 14.387 C -64.743 27.679 -60.677 38.47 -52.544 46.445 C -44.257 54.42 -34.091 58.487 -22.05 58.487 C -14.387 58.487 -7.037 56.766 0 53.326 Z"
          style="fill: rgb(73, 151, 210); fill-opacity: 1;"></path>
      </g>
    </g>
    <g style="clip-path: url(#clippath0);" transform="matrix(1, 0, 0, -1, 0, 353.888)">
      <g transform="translate(690.2847 168.6781)">
        <path
          d="M 0 0 C 0 7.662 -4.223 15.013 -15.951 15.013 C -24.24 15.013 -30.808 8.757 -32.841 0 Z M 25.333 -15.639 L -32.841 -15.639 C -29.713 -25.178 -22.519 -30.494 -13.137 -30.494 C -6.256 -30.494 1.562 -26.272 5.785 -20.174 L 22.674 -34.092 C 14.699 -45.352 0.781 -52.075 -15.951 -52.075 C -28.619 -52.075 -39.096 -47.854 -47.385 -39.409 C -55.673 -30.963 -59.739 -20.485 -59.739 -8.132 C -59.739 4.222 -55.673 14.699 -47.385 23.145 C -39.096 31.745 -28.619 35.968 -15.951 35.968 C -2.971 35.968 7.037 31.745 14.387 23.301 C 21.736 14.856 25.49 3.753 25.49 -9.853 Z"
          style="fill: rgb(73, 151, 210); fill-opacity: 1;"></path>
      </g>
    </g>
    <g style="clip-path: url(#clippath0);" transform="matrix(1, 0, 0, -1, 0, 353.888)">
      <g transform="translate(803.5029 195.4188)">
        <path
          d="M 0 0 C 5.63 -6.099 8.446 -16.263 8.446 -30.495 L 8.446 -77.409 L -18.608 -77.409 L -18.608 -30.495 C -18.608 -19.391 -22.831 -14.543 -32.997 -14.543 C -38.625 -14.543 -43.474 -16.263 -47.383 -19.703 L -47.383 -77.409 L -74.281 -77.409 L -74.281 7.664 L -47.383 7.664 L -47.383 3.91 C -41.284 7.506 -34.716 9.228 -27.992 9.228 C -14.856 9.228 -5.473 6.099 0 0"
          style="fill: rgb(73, 151, 210); fill-opacity: 1;"></path>
      </g>
    </g>
    <g style="clip-path: url(#clippath0);" transform="matrix(1, 0, 0, -1, 0, 353.888)">
      <g transform="translate(882.0068 181.3446)">
        <path
          d="M 0 0 L -20.955 0 L -20.955 -23.458 C -20.955 -31.276 -20.329 -36.437 -18.922 -38.783 C -17.515 -41.127 -14.231 -42.223 -9.07 -42.223 C -7.975 -42.223 -6.256 -42.223 -4.223 -42.067 C -2.033 -41.911 -0.781 -41.753 -0.312 -41.753 L -0.312 -61.301 C -4.847 -63.647 -12.042 -64.742 -21.581 -64.742 C -36.75 -64.742 -47.853 -54.89 -47.853 -37.218 L -47.853 0 L -58.956 0 L -58.956 21.738 L -47.853 21.738 L -47.853 54.578 L -20.955 54.578 L -20.955 21.738 L 0 21.738 Z"
          style="fill: rgb(73, 151, 210); fill-opacity: 1;"></path>
      </g>
    </g>
    <g style="clip-path: url(#clippath0);" transform="matrix(1, 0, 0, -1, 0, 353.888)">
      <g transform="translate(485.1294 235.9222)">
        <path
          d="M 0 0 L -37.271 0 C -39.02 0 -40.551 -1.175 -41.004 -2.865 L -61.104 -77.887 C -61.664 -79.976 -64.708 -79.709 -64.896 -77.555 L -71.374 -3.529 C -71.548 -1.532 -73.22 0 -75.224 0 L -109.991 0 C -111.74 0 -113.271 -1.175 -113.725 -2.865 L -129.35 -61.179 C -129.862 -63.089 -132.572 -63.089 -133.083 -61.179 L -148.708 -2.865 C -149.161 -1.175 -150.692 0 -152.442 0 L -187.217 0 C -189.218 0 -190.888 -1.527 -191.067 -3.52 L -200.979 -113.755 C -201.182 -116.017 -199.4 -117.966 -197.128 -117.966 L -185.853 -117.966 C -184.249 -117.966 -182.811 -116.976 -182.24 -115.477 L -167.527 -76.83 C -166.59 -74.369 -163.52 -73.545 -161.477 -75.206 L -134.353 -97.249 C -132.644 -98.638 -130.122 -98.32 -128.81 -96.552 L -99.991 -57.687 C -98.422 -55.572 -95.245 -55.61 -93.727 -57.761 L -67.294 -95.22 C -65.734 -97.431 -62.444 -97.396 -60.931 -95.152 L -22.687 -38.44 C -20.96 -35.881 -17.077 -36.278 -15.905 -39.135 L 15.45 -115.567 C 16.045 -117.019 17.458 -117.966 19.026 -117.966 L 29.537 -117.966 C 32.079 -117.966 33.929 -115.556 33.271 -113.101 L 3.734 -2.865 C 3.281 -1.175 1.75 0 0 0"
          style="fill: rgb(255, 90, 106); fill-opacity: 1;"></path>
      </g>
    </g>
    <g style="clip-path: url(#clippath0);" transform="matrix(1, 0, 0, -1, 0, 353.888)">
      <g transform="translate(239.9771 117.9564)">
        <path
          d="M 0 0 L 21.76 0 C 23.895 0 25.626 1.73 25.626 3.865 L 25.626 114.1 C 25.626 116.235 23.895 117.966 21.76 117.966 L 0 117.966 C -2.135 117.966 -3.865 116.235 -3.865 114.1 L -3.865 3.865 C -3.865 1.73 -2.135 0 0 0"
          style="fill: rgb(255, 90, 106); fill-opacity: 1;"></path>
      </g>
    </g>
    <g style="clip-path: url(#clippath0);" transform="matrix(1, 0, 0, -1, 0, 353.888)">
      <g transform="translate(174.5054 209.0321)">
        <path
          d="M 0 0 C 9.869 1.622 19.093 -1.202 25.988 -6.785 C 27.511 -8.018 29.715 -7.885 31.1 -6.5 L 46.55 8.95 C 48.154 10.554 48.016 13.165 46.307 14.657 C 34.468 24.994 18.667 30.906 1.481 29.817 C -29.649 27.846 -54.968 2.087 -56.446 -29.071 C -58.137 -64.709 -29.744 -94.132 5.521 -94.132 C 21.125 -94.132 35.384 -88.373 46.286 -78.863 C 48.004 -77.363 48.167 -74.754 46.554 -73.141 L 31.1 -57.687 C 29.712 -56.299 27.505 -56.174 25.979 -57.41 C 20.39 -61.932 13.272 -64.641 5.521 -64.641 C -13.758 -64.641 -29.122 -47.879 -26.792 -28.134 C -25.125 -14.002 -14.042 -2.308 0 0"
          style="fill: rgb(255, 90, 106); fill-opacity: 1;"></path>
      </g>
    </g>
  </svg>
</span>
