---
//import { SITE_CONFIG } from '~/utils/config';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <!--🚀 {SITE_CONFIG?.name}-->
  <a href="#" class="flex items-center">
    <img src="/images/stationone-web.png" class="mr-3 h-16 sm:h-16" alt="StationOne Logo" />
  </a>
</span>
