---
import { SITE } from '~/utils/config';
import Image from '~/components/common/Image.astro';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img height="120rem" width="120rem" src="https://media.licdn.com/dms/image/D5607AQGRE1jsRl8-HQ/group-logo_image-shrink_92x92/0/1702105445389?e=1702965600&v=beta&t=rBVu0B2ytH0vyj3ixj-OtD00gmpPIMHbR_jY0qz2iTI">
</span>
