---
import { Icon } from 'astro-icon/components';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<Icon name="tabler:home" class="w-8 h-8 inline-block -mt-0.5 dark:text-gray-400 hover:text-link" />
</span>
