---
---
<a href="/">

	<img src={(await import('src/assets/images/logo_bods_6.svg')).default} alt="💻 Bioinformatics Open Days" class='dark:hidden'>
	<!-- <img src={(await import('src/assets/images/logo_bods_8.svg')).default} alt="💻 Bioinformatics Open Days" class='light:hidden'> -->
  </a>

