---
---

<a href="/">
	<img
		src="https://raw.githubusercontent.com/BioinformaticOpenDays/bods-website-2023/main/src/assets/images/logowebsitehorizontalpreto24.png"
		alt="💻 Bioinformatics Open Days"
		class="visible dark:invisible"
	/>
</a>
