---
---

<a href="/">
	<img
		src="https://raw.githubusercontent.com/BioinformaticOpenDays/bods-website-2023/main/src/assets/images/logowebsitehorizontalbranco24.png"
		alt="💻 Bioinformatics Open Days"
		class="invisible dark:visible"
	/>
</a>
