---
---
<a href="/">
	<img src='https://raw.githubusercontent.com/BioinformaticOpenDays/bods-website-2023/main/src/assets/images/Logo-website-horizontal.png' alt="💻 Bioinformatics Open Days" class='dark:hidden'>
  </a>

