---
---
<a href="/">
	<img src='src/assets/images/Logo-website-horizontal.png' alt="💻 Bioinformatics Open Days" class='dark:hidden'>
	<!-- <img src='src/assets/images/logo_bods_8.svg' alt="💻 Bioinformatics Open Days" class='invisible dark:visible'> -->
  </a>

