---
import { getPermalink } from '~/utils/permalinks';

const { tags, class: className = 'text-sm' } = Astro.props;
---

{
	tags && Array.isArray(tags) && (
		<ul class={className}>
			{tags.map((tag) => (
				<li class="bg-gray-100 dark:bg-slate-700 inline-block mr-2 mb-2 py-0.5 px-2 lowercase">
					<a href={getPermalink(tag, 'tag')}>{tag}</a>
				</li>
			))}
		</ul>
	)
}
