---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="grid gap-8 md:gap-10 mx-auto">
  {
    posts.map((post) => (
      <Item post={post} />
    ))
  }
</div>
