---
import { Icon } from 'astro-icon';
import { getBlogPermalink } from '~/utils/permalinks';
---

<div class="mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20">
  <a class="btn btn-ghost px-3 md:px-3" href={getBlogPermalink()}
    ><Icon name="tabler:chevron-left" class="w-5 h-5 mr-1 -ml-1.5" /> Back to Blog</a
  >
</div>
