---

---

<div class="mx-auto max-w-7xl px-6 lg:px-8 my-24">
  <div class="mx-auto max-w-4xl text-center">
    <h2 class="font-semibold my-0 lg:my-0 xl:my-0 text-fuchsia-600">Feature Comparison Table</h2>
    <a class="text-underline text-sm" href="https://cal.com/nick.k/meet">Book a Customer Discovery or Demo Call</a>
    <!-- lg+ -->
    <div class="isolate mt-2 block">
      <div class="relative -mx-8">
        <div class="absolute inset-x-4 inset-y-0 -z-10 flex"></div>
        <table class="w-full table-fixed border-separate border-spacing-x-8 text-left">
          <caption class="sr-only"> Pricing plan comparison</caption>
          <colgroup>
            <col class="w-1/4" />
            <col class="w-1/4" />
            <col class="w-1/4" />
          </colgroup>
          <thead>
            <tr>
              <td></td>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-lg font-semibold leading-7 text-center">Trieve</div>
              </th>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-lg font-semibold leading-7 text-center">Algolia</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <div class="absolute inset-x-8 mt-16 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Self-Hostable On-Prem or Within Your Cloud
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Admin Console + API support for Document Expansion
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Admin Console + API support for Relevance Weighting (Merchandising)
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Admin Console + API support for Relevance Weighting (Merchandising)
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Dense Vector Semantic Search
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Semantic Recommendation Engine (Personalization) Support
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Gen-AI RAG (Retrieval-Augmented-Generation) API endpoint and UI support
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Endpoint for File Uploads and Chunking With Apache Tika
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Built in Indexing
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-center text-sm"> dense+sparse vector open source</td>
              <td class="px-6 py-4 xl:px-8 text-center text-sm"> sparse vector closed source</td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Built in Analytics
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td></td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                UI framework integrations (React, Vue, Angular, etc.)
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td></td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Latency for Search Endpoint Response Times
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8 text-sm text-center"> 250ms</td>
              <td class="px-6 py-4 xl:px-8 text-sm text-center">
                {'<100'}ms
              </td>
            </tr>
            <tr>
              <th scope="row" class="py-4 text-sm font-normal leading-6 text-gray-900">
                Data Storage
                <div class="absolute inset-x-8 mt-4 h-px bg-gray-900/5 dark:bg-gray-100/5"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto h-5 w-5 text-fuchsia-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
