---
interface Props {
  query: string;
}

const { query } = Astro.props;
---

<div class="p-2 pb-0 mb-0 text-gray-900 dark:text-gray-100 max-w-full break-words">
  <p class="mb-0">Query: <strong>{query}</strong></p>
  <div class="text-sm md:text-base">
    <slot />
  </div>
</div>