---
import TextBox from './TextBox.astro';
import { Icon } from 'astro-icon/components';
---

<TextBox
  class="flex flex-row border-fuchsia-200 dark:border-fuchsia-500 bg-fuchsia-50 dark:bg-fuchsia-700 text-fuchsia-900 dark:text-fuchsia-100"
>
  <Icon name="tabler:bulb" class="w-5 h-5 mt-2 mr-2 flex-shrink-0 text-fuchsia-500 dark:text-fuchsia-100" />
  <div class="flex flex-col"><slot /></div>
</TextBox>
