---
interface Props {
  class?: string;
}

const { class: additionalClass = '' } = Astro.props;
---

<div class={`max-w-full break-words my-1 px-4 mx-6 text-sm rounded-lg border ${additionalClass}`}>
  <slot />
</div>