---
import { Icon } from 'astro-icon/components';
import { UI } from '~/utils/config';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconLightName?: string;
  iconDarkName?: string;

}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = ' dark:text-gray-300 text-gray-600 focus:outline-none rounded-lg text-lg inline-flex items-center',
  iconClass = 'w-10 h-10',
  iconLightName = "tabler:sun",
  iconDarkName = "tabler:moon-2",
} = Astro.props;

---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
      <Icon transition:persist  name={iconLightName} class={iconClass + " absolute "}/>
      <Icon transition:persist name={iconDarkName} class={iconClass + " "}/>
    </button>
  )
}
