---
import Layout from '~/layouts/PageLayout.astro';
import { headerDataRings } from '~/navigation-rings';

import Header from '~/components/widgets/Header.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Dundonald Farmers Society 2025 Open Show',
  ignoreTitleTemplate: true,
};

const showBookingOption = true; // Set to true to show "Book Online", false to hide it
const showClasses = 'basic'; // Set to basic (default), or ring name to show the appropriate classes menus

// Pass the flag to headerDataRings function
const navigationData = headerDataRings(showBookingOption, showClasses);
---

<Layout metadata={metadata}>
  <!-- sub-navigation menu for rings-->
  <Fragment slot="header">
    <Header {...navigationData} isSticky showToggleTheme />
  </Fragment>

  <!-- Features Widget *************** -->
  <Features
    id="ring"
    tagline="Ring 2"
    title="Showing Ring"
    subtitle="A variety of classes are available, from Lead Rein to Concours du Elegance. The show is open to all breeds and types of horse and pony."
    items={[
      {
        title: 'Events & Prizes',
        description:
          '<span class="font-medium text-blue-700">❊</span> For all Ring 2 classes, first and second place go forward to Supreme Champion.<br /><span class="font-medium text-blue-700">❊</span> Rosettes to 6th place in each class',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Courses',
        description:
          'A variety of courses, from beginner to advanced, are available, in addition to standard showing ring.',
        icon: 'tabler:components',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id="classes"
    title="Classes"
    subtitle="Classes start at 09:00. All classes are in Ring 2<br />Entry per class: £12 online, £15 on the day. £5 First Aid cover per entrant"
    tagline="Showing Ring"
    items={[
      {
        title: 'Class 21: Riding Club Equine: Open, over 14.2',
        description:
          'Judge: Ms Denise Smith<br />Prizes: TBC<br />Obstacle course: Competitors will need to negotiate a small jump and a gate. A mounting block is provided for those who need to dismount for the gate.<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=472702" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Class 22: Ridden Hunter: Open, over 14.2 ',
        description:
          'Judge: TBC<br />Prizes: TBC<br /><span class="font-medium text-blue-700">❊</span> Class will be split into Light and Heavy if entries permit.<br /><span class="font-medium text-blue-700">❊</span> PLEASE state Light or Heavy on your entry<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=472703" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Class 23: Best Turned Out',
        description:
          'Judge: TBC<br />Prizes: Winners Trophy: The Mary Lockhart PerpetualTrophy<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=472704" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 24: Concours du Elegance: Any height',
        description:
          'Judge: TBC<br />Prizes: TBC<br />In hand or ridden<br /><span class="font-medium text-blue-700">❊</span> Class will be split into In hand and Ridden if entries permit.<br /><span class="font-medium text-blue-700">❊</span> PLEASE state In hand or Ridden on your entry<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=472705" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 25: Lead Rein & Thelwell type pony',
        description:
          'Judge: Mr Tom Best<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=472706" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 26: Mountain & Moorland: In Hand',
        description:
          'Judge: Mr Tom Best<br />Prizes: All 1st & 2nd prize winners of M&M of small ponies will go forward for the Kerr Billy Trophy<br /><span class="font-medium text-blue-700">❊</span> Class will be split into Mountain and Moorland if entries permit.<br /><span class="font-medium text-blue-700">❊</span> PLEASE state Mountain or Moorland on your entry<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=472707" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Class 27: Mountain & Moorland: Ridden',
        description:
          'Judge: Mr Tom Best<br />Prizes: All 1st & 2nd prize winners of M&M of small ponies will go forward for the Kerr Billy Trophy<br /><span class="font-medium text-blue-700">❊</span> Class will be split into Mountain and Moorland if entries permit.<br /><span class="font-medium text-blue-700">❊</span> PLEASE state Mountain or Moorland on your entry<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=472708" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- CallToAction Widget *********** -->
  <CallToAction
    id="calltoaction"
    actions={[
      {
        variant: 'primary',
        text: 'Book your classes now',
        href: 'https://www.equoevents.co.uk/ViewEvent/ViewEventDetails/52050',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      <!-- Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span> -->
      Equo Events Online booking system
    </Fragment>

    <Fragment slot="subtitle">
      A show management and entry system powered by Horse & Hound <br class="hidden md:inline" />Don't waste more time!
      :P
    </Fragment>
  </CallToAction>
</Layout>
