---
import Layout from '~/layouts/PageLayout.astro';
import { headerDataRings } from '~/navigation-rings';

import Header from '~/components/widgets/Header.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Dundonald Farmers Society 2025 Open Show',
  ignoreTitleTemplate: true,
};

const showBookingOption = true; // Set to true to show "Book Online", false to hide it
const showClasses = 'basic'; // Set to basic (default), or ring name to show the appropriate classes menus

// Pass the flag to headerDataRings function
const navigationData = headerDataRings(showBookingOption, showClasses);
---

<Layout metadata={metadata}>
  <!-- sub-navigation menu for rings-->
  <Fragment slot="header">
    <Header {...navigationData} isSticky showToggleTheme />
  </Fragment>

  <!-- Features Widget *************** -->
  <Features
    id="ring"
    tagline="Ring A1"
    title="Cattle"
    subtitle="<span class='font-semibold'>All classes kindly sponsored by <a href='https://www.tarffvalley.co.uk/' target='_blank' class='text-blue-900'>Tarff Vally Ltd</a></span><br />Cattle showing at an agricultural show involves exhibiting and judging cattle based on specific breed standards. The process includes selecting an animal with good conformation, body condition, and movement, and then preparing it for the show by ensuring it meets breed-specific standards for color, size, and other traits. Proper halter breaking, nutrition, and daily care are crucial for success. During the show, exhibitors must present their cattle effectively using techniques such as setting up the animal's position with a show stick to highlight its strengths and minimize weaknesses. Good sportsmanship is essential, and exhibitors must be prepared to accept both victories and losses gracefully"
    items={[
      {
        title: 'Events',
        description: 'A variety of classes for Holstein Friesian, Ayrshire & other dairy breeds and beef cattle.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Entries',
        description:
          'Entries to be booked at the ringside trailer on the day of the show, before the commencement of the judging.',
        icon: 'tabler:components',
      },
      {
        title: 'Prizes',
        description:
          '<span class="font-medium text-blue-700">❊</span> Prizes: 1st £6 :: 2nd £4 :: 3rd £2<br /><span class="font-medium text-blue-700">❊</span> SUPREME CATTLE CHAMPIONSHIP for the JAMES D. DONALD PERPETUAL TROPHY <br /><span class="font-medium text-blue-700">❊</span> Section Champions and Reserves: Championship & £50 Prize money donated by <a href="https://thomasmurrayagri.co.uk/" target="_blank" class="text-blue-900">Thomas Murray Agricultural Engineers</a><br /><span class="font-medium text-blue-700">❊</span> POINT CHAMPIONSHIP for the HUGH SMITH CUP Awarded to the exhibitor with most points in classes 1 to 20. Points for the first three places in the classes plus one extra point per animal shown by exhibitor. <br /><span class="font-medium text-blue-700">❊</span> Champion: Voucher kindly donated by <a href="https://www.scotmin.com/" target="_blank" class="text-blue-900">Scotmin Nutrition</a>',
        icon: 'tabler:trophy',
      },
      {
        title: 'Legislation',
        description:
          '<span class="font-medium text-blue-700">❊</span> Scottish Government Legislation - Any animal coming from a Scottish Holding must have a "negative" herd status for BVD or be individually tested negative for the BVD virus. Any animal from a "not negative" herd cannot move to a show unless it has been individually tested negative for the BVD virus.<br /><span class="font-medium text-blue-700">❊</span> We suggest you check the <a href="https://www.scoteid.com/" target="_blank" class="text-blue-900">ScotEID website</a> for more information. Therefore, before any animal is unloaded in the Cattle and Sheep Section you will need to have their relevant documentation checked by Mrs. Robert Young at her secretarial office on the Showground.',
        icon: 'tabler:books',
      },
    ]}
  />

  <!-- Features2 Widget Holstein Friesian ************** -->
  <Features2
    id="classes"
    title="Classes for Holstein Friesian"
    subtitle="Classes start at 10:00 All classes are in Ring A1<br />Entry per class: £3 on the day<br />All classes kindly sponsored by <a href='https://www.tarffvalley.co.uk/' target='_blank' class='text-blue-900'>Tarff Vally Ltd</a>"
    tagline="Cattle"
    items={[
      {
        title: 'Class 1: Holstein Friesian, Heifer in Milk or Calf ',
        description: 'Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Class 3: Holstein Friesian, Cow in Milk or Calf ',
        description: 'Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Class 5: Holstein Friesian, Cow or Heifer bred by Exhibitor',
        description: 'Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 7: Holstein Friesian,  Pair of Animals shown in other Classes',
        description: 'Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'tabler:trophy',
      },
      {
        title: 'Class 9: Holstein Friesian, Bull or Heifer Calf ',
        description:
          '<span class="font-semibold">Born between 1st May and 31st October in the previous year</span><br />Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 11: Holstein Friesian, Bull or Heifer Calf',
        description:
          '<span class="font-semibold">Born on or after 1st November in the previous year<br />Leaders to be under 14 years</span><br /> Judge: Mr Callum Bryson, Whiteflat <br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'tabler:award',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget Ayrshire & Dairy************** -->
  <Features2
    id="classes"
    title="Classes for Ayrshire & any other Dairy Breed"
    subtitle="Classes start at 10:00 All classes are in Ring A1<br />Entry per class: £3 on the day<br />All classes kindly sponsored by <a href='https://www.tarffvalley.co.uk/' target='_blank' class='text-blue-900'>Tarff Vally Ltd</a>"
    tagline="Cattle"
    items={[
      {
        title: 'Class 2: Ayrshire & any other Dairy Breed, Heifer in Milk or Calf ',
        description: 'Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Class 4: Ayrshire & any other Dairy Breed, Cow in Milk or Calf ',
        description: 'Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Class 6: Ayrshire & any other Dairy Breed, Cow or Heifer bred by Exhibitor',
        description: 'Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 8: Ayrshire & any other Dairy Breed,  Pair of Animals shown in other Classes',
        description: 'Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 10: Ayrshire & any other Dairy Breed, Bull or Heifer Calf ',
        description:
          '<span class="font-semibold">Born between 1st May and 31st October in the previous year</span><br />Judge: Mr Callum Bryson, Whiteflat Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 12: Ayrshire & any other Dairy Breed, Bull or Heifer Calf',
        description:
          '<span class="font-semibold">Born on or after 1st November in the previous year<br />Leaders to be under 14 years</span><br /> Judge: Mr Callum Bryson, Whiteflat <br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'tabler:award',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget Ayrshire & Dairy************** -->
  <Features2
    id="classes"
    title="Classes for Beef Cattle"
    subtitle="Classes start at 10:00 All classes are in Ring A1<br />Entry per class: £3 on the day<br /><span class='font-semibold'>Beef Cattle Championship for the Crossburn Cup presented by John Young, Esq.</span><br />Class winners: Feeding voucher donated by <a href='https://jpcampbell.co.uk/' target='_blank' class='text-blue-900'>James P. Campbell & Sons</a> and £20 prize money<br />All classes kindly sponsored by <a href='https://www.tarffvalley.co.uk/' target='_blank' class='text-blue-900'>Tarff Vally Ltd</a>"
    tagline="Cattle"
    items={[
      {
        title: 'Class 16: Beef Cattle - Prime Heifer, Any Age',
        description: 'Judge: Mr John Smith, Boig Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Class 17: Beef Cattle - Prime Bullock, Any Age',
        description: 'Judge: Mr John Smith, Boig Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Class 18: Beef Cattle - Beef Breeding Animal, Any Age',
        description: 'Judge: Mr John Smith, Boig Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 19: Beef Cattle - Bull Or Heifer Calf, Born on or after 1st August in previous year',
        description: 'Judge: Mr John Smith, Boig Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 20: Beef Cattle - Beef Animal, Confined to Dundonald Parish',
        description: 'Judge: Mr John Smith, Boig Farm<br />Prizes: 1st £6 :: 2nd £4 :: 3rd £2',
        icon: 'tabler:award',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- CallToAction Widget *********** -->
  <CallToAction
    id="calltoaction"
    actions={[
      // {
      //   variant: 'primary',
      //   text: 'Book your classes now',
      //   href: 'https://www.equoevents.co.uk/ViewEvent/ViewEventDetails/52050',
      //   target: '_blank',
      //   icon: 'tabler:link',
      // },
    ]}
  >
    <Fragment slot="title">
      <!-- Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span> -->
      Entries to be booked at the ringside trailer
    </Fragment>

    <Fragment slot="subtitle"> on the day of the show, before the commencement of the judging. </Fragment>
  </CallToAction>
</Layout>
