---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Dundonald Farmers Society 2025 Open Show',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Features Widget *************** -->

  <Features
    id="ring2"
    tagline="Ring 2"
    title="Showing Ring"
    subtitle="A variety of classes are available, from Lead Rein to Concours du Elegance. The show is open to all breeds and types of horse and pony."
    items={[
      {
        title: 'Events & Prizes',
        description:
          'For all Ring 2 classes, first and second place go forward to Supreme Champion.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Courses',
        description:
          'A variety of courses, from beginner to advanced, are available, in addition to standard showing ring.',
        icon: 'tabler:components',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Classes"
    subtitle="Classes start at 09:00. All classes are in Ring 2<br />Entry per class: £12 online, £15 on the day. £5 First Aid cover per entrant"
    tagline="Components"
    items={[
      {
        title: 'Class 21: Riding Club Equine: Open, over 14.2',
        description: 'Judge: Ms Denise Smith<br />Prizes: Obstacle course: Competitors will need to negotiate a small jump and a gate. A mounting block is provided for those who need to dismount for the gate.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Class 22: Ridden Hunter: Open, over 14.2 ',
        description: 'Class will be split into Light and Heavy if entries permit.<br />PLEASE state Light or Heavy on your entry',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Class 23: Best Turned Out',
        description: 'Prizes: Winners Trophy: The Mary Lockhart PerpetualTrophy',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 24: Concours du Elegance: Any height',
        description: 'In hand or ridden<br />Class will be split into In hand and Mounted if entries permit.<br />PLEASE state In hand or Mounted on your entry',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 25: Lead Rein & Thelwell type pony',
        description:
          'Judge: Mr Tom Best',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 26: Mountain & Moorland: In Hand',
        description:
          'Judge: Mr Tom Best<br />Prizes: All 1st & 2nd prize winners of M&M of small ponies will go forward for the Kerr Billy Trophy<br />Class will be split into Mountain and Moorland if entries permit.<br />PLEASE state Mountain or Moorland on your entry',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Class 27: Mountain & Moorland: Ridden',
        description:
          'Judge: Mr Tom Best<br />Prizes: All 1st & 2nd prize winners of M&M of small ponies will go forward for the Kerr Billy Trophy<br />Class will be split into Mountain and Moorland if entries permit.<br />PLEASE state Mountain or Moorland on your entry',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- CallToAction Widget *********** -->

    <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book your classes now',
        href: 'https://www.equoevents.co.uk/ViewEvent/ViewEventDetails/52050',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      <!-- Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span> -->
      Equo Events Online booking system
    </Fragment>

    <Fragment slot="subtitle">
      A show management and entry system powered by Horse & Hound <br class="hidden md:inline" />Don't waste more time!
      :P
    </Fragment>
  </CallToAction>
</Layout>
