---
import Layout from '~/layouts/PageLayout.astro';
import  { headerDataRings } from '~/navigation-rings';

import Header from '~/components/widgets/Header.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Dundonald Farmers Society 2025 Open Show',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- sub-navigation menu for rings-->
  <Fragment slot="header">
    <Header {...headerDataRings} isSticky showToggleTheme />
  </Fragment>

  <!-- Features Widget *************** -->  <Features
    id="ring"
    tagline="Ring 5"
    title="Cyldesdale Horses"
    subtitle='<span class="font-bold">Affiliated to the Clydesdale Horse Society</span><br />Clydesdale horses are a large and powerful breed that originated in Lanarkshire, Scotland, near the River Clyde. They are known for their gentle and friendly nature, making them excellent companions and reliable working partners.'
    items={[
      {
        title: 'Events',
        description:
          'Starting at cross poles and working up, throught out the day, to 1 metre plus. Rosettes to 6th place in each class, with a trophy for the overall winner of each class.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Classes',
        description:
        'A ranges of classes from In-Hand and Ridden through to a Dray of Heavy Horses',
        icon: 'tabler:components',
      },
      {
        title: 'Prizes',
        description:
          'Championship: £30 - <a href="https://langholmtearoom.co.uk/" target="_blank" class="text-blue-900 font-semibold">Sponsored by Langholm Farm Shop & Tea Room, Symington</a><br />Reserve Champion: £15 - <span class="font-semibold">Sponsored by W.P. Hair</span><br />1st £10 :: 2nd £6 :: 3rd £4',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Special Award',
        description:
          '<span class="font-bold">The Clydesdale Horse Society Shield</span> (which will be supplied and engraved by The Clydesdale Horse Society) will be awarded to the best yearling or two-year-old colt or filly, registered or eligible for registration with the Society, not having won a Shield before in its lifetime.<br />The exhibitor must be a current member of The Clydesdale Horse Society.',
        icon: 'tabler:brand-tailwind',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
  id="classes"
    title="Classes"
    subtitle="Classes start from 11:30. All classes are in Ring 5<br />Entry per class: £5 online, £5 on the day. £5 First Aid cover per entrant"
    tagline="Cyldesdale Horses"
    items={[
      {
        title: 'Class 51: Mare Three Years and Over',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: 1st £10 :: 2nd £6 :: 3rd £4<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473112" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Class 52: Gelding Three Years and Over',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: 1st £10 :: 2nd £6 :: 3rd £4<br /><span class="font-semibold">Class kindly sponsored by <a href="https://www.scotlee.co.uk/" target="_blank" class="text-blue-900">Scotlee Transport Services Ltd</a></span><br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473113" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Class 53: Gelding or Filly, over 1 year of age but not exceeding 2 years of age',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: 1st £10 :: 2nd £6 :: 3rd £4<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473114" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 54: Gelding or Filly not exceeding 1 years of age',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: 1st £10 :: 2nd £6 :: 3rd £4<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473126" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 55: Bred by exhibitor ',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: 1st £10 :: 2nd £6 :: 3rd £4<br /><span class="font-semibold">Class kindly sponsored by Helen Duncan</span><br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473138" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 56: Young Handlers Class',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: Prizes: 1st £6 :: 2nd £5 :: 3rd £4 :: 4th £3 :: 5th £2 :: 6th £1<br />✳️ An engraved medal will be presented to the winning handler who, by the day of the show, has not already qualified.<br />✳️ That person will also receive a Young Handler qualifier rosette on the day of the show.<br />✳️ A merit rosette will be given to all entrants in the class.<br />✳️ The capabilities of the handler are to be assessed, not the animal being led.<br /><span class="font-semibold">The Young Handler Scheme and The Young Handler Final are generously sponsored by the James Bennett Fund.</span><br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473150" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Class 57: Ridden Class for riders 14 years of age or older',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: 1st £10 :: 2nd £6 :: 3rd £4<br />✳️ Rider has to be 14 years of age or older.<br />✳️ To be judged as a ridden hunter class<br /><span class="font-semibold">Class kindly sponsored by <a href="https://www.scotlee.co.uk/" target="_blank" class="text-blue-900">Scotlee Transport Services Ltd</a></span><br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473162" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 58: Single Heavy Horse driven to a Ladies Cart or Stallion Cart',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: 1st £10 :: 2nd £6 :: 3rd £4<br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473174" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Class 59: Dray of Heavy Horses',
        description: 'Judge: Amanda Stewart, Hollinhillhead Farm<br />Prizes: 1st £10 :: 2nd £6 :: 3rd £4<br /><span class="font-semibold">Class kindly sponsored by W.P. Hair</span><br /><a href="https://www.equoevents.co.uk/EnterEvent/EnterEvent/52050?eventClassId=473175" target="_blank" class="text-blue-900">Book Online</a>',
        icon: 'flat-color-icons:document',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- CallToAction Widget *********** -->
  <CallToAction
    id="calltoaction"
    actions={[
      {
        variant: 'primary',
        text: 'Book your classes now',
        href: 'https://www.equoevents.co.uk/ViewEvent/ViewEventDetails/52050',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      <!-- Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span> -->
      Equo Events Online booking system
    </Fragment>
    <Fragment slot="subtitle">
      A show management and entry system powered by Horse & Hound <br />Don't waste more time!
      :P
    </Fragment>
  </CallToAction>

</Layout>
