@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
  }
}

.menu-opened .line1 {
  transform: rotate(-45deg) translate(-12px, 8px);
}

.menu-opened .line2 {
  transform: rotate(45deg) translate(4px, -16px);
}