@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }
  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  .text-page {
    color: var(--aw-color-text-page);
  }
  .text-muted {
    color: var(--aw-color-text-muted);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-xl border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-magenta-500 focus:ring-offset-magenta-200 focus:ring-2 focus:ring-offset-2 hover:bg-magenta-50/30 hover:border-magenta-600 dark:text-magenta-300 dark:border-magenta-500 dark:hover:bg-magenta-800 dark:hover:border-magenta-800 cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary dark:text-white;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }
}

#header > div:first-child {
  @apply bg-page md:bg-white/90;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(12, 10, 14 / 13%);
}
.dark #header > div:first-child,
#header.dark > div:first-child {
  @apply bg-page md:bg-[#0C0A0Ee6];
  box-shadow: none;
}

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}

/* Code highlight styles */

.usage-tabs pre.shiki {
  @apply p-4 pr-10 text-sm h-full whitespace-break-spaces;
}

@layer base {
  html {
    font-family: 'Maven Pro', system-ui, sans-serif;
  }
}

tab {
  &.active {
    @apply text-primary border-b border-primary;
  }
}

#get-demo > div > input {
  @apply focus:ring-0 focus:outline-none focus:border-magenta-500;
}

#request-demo-form > div > input {
  @apply focus:ring-0 focus:outline-none focus:border-magenta-500;
}

body #trieve-search-modal {
  top: 40vh;
  max-width: 650px;
}