---
import '~/assets/styles/base.css';

import Favicons from '~/components/Favicons.astro';
import CustomFonts from '~/components/CustomFonts.astro';
import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import { MetaData } from '~/types';
import I18N from '~/config/i18n';

export interface Props {
  metadata?: MetaData;
}

const { metadata = {} } = Astro.props;
const { language = 'en', textDirection = 'ltr' } = I18N;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Favicons />
    <CustomFonts />
    <MetaTags {...metadata} />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
