---
import "~/assets/styles/base.css";

import Header from "~/components/astro/headers/BasicHeader.astro";
import Footer from "~/components/astro/footers/BasicFooter.astro";
import MetaTags from "~/components/astro/utils/MetaTags.astro";
import BasicScripts from "~/components/astro/utils/BasicScripts.astro";

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags title={title} description={description} image={image} />
  </head>

  <body
    class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900 font-ibm-plex-sans"
  >
    <Header />
    <slot />
    <Footer />

    <BasicScripts />
  </body>
</html>
