---
  const { title = "", description = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title}</title>
  <meta name="description" content={description}>
</head>

<body>
  <slot />
</body>

</html>

<style>
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(12, 5%, 4%);
    --color-bg: #fff;
    --color-border: hsl(17, 24%, 90%);

    --astro-gradient: linear-gradient(0deg, #4F39FA, #DA62C4);
  }

  :global(main) {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  :global(.text-gradient) {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }
</style>