---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

const { meta } = Astro.props;
---

<Layout {meta}>
	<Announcement />
	<Header />
	<main>
		<slot />
	</main>
	<Footer />
</Layout>
