---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/data';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <main>
    <slot />
  </main>
  <!-- <slot name="header">
    <Header {...headerData} />
  </slot> -->
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
