---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { header, footer } from '~/config/navigation';

import { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout {metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...header} isSticky showRssFeed showToggleTheme />
  </slot>
  <main class="min-h-[60vh] 2xl:min-h-[400px]">
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footer} />
  </slot>
</Layout>
