---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/data';

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<Layout {meta}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
<script type="text/javascript">
	atOptions = {
		'key' : 'd62c8aa4fa45c989202f0094f4b54590',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://trashdisguisedextension.com/d62c8aa4fa45c989202f0094f4b54590/invoke.js"></scr' + 'ipt>');
</script>
<script type='text/javascript' src='//trashdisguisedextension.com/2f/4e/fc/2f4efc7b2f57ea3230a910a9f691d4d2.js'></script>
    <Footer {...footerData} />
  </slot>
</Layout>
