---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<html lang="en" class="light">
  <head>
    <!-- Add Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <Layout metadata={metadata}>
      <slot name="announcement" />
      <slot name="header">
        <Header {...headerData} isSticky showRssFeed showToggleTheme />
      </slot>
      <main>
        <slot />
      </main>
      <slot name="footer">
        <Footer {...footerData} />
      </slot>
    </Layout>
  </body>
</html>
