---
import type { ItemGrid } from '~/types';
import Button from './Button.astro';
import { Icon } from 'astro-icon/components';

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props as ItemGrid;

const {
    container: containerClass = '',
    panel: panelClass = '',
    title: titleClass = '',
    description: descriptionClass = '',
    icon: defaultIconClass = 'text-primary',
    action: actionClass = '',
} = classes;
---

{
    items && (
        <div
        >
            {items.map(({ title, description, icon, callToAction, classes: itemClasses = {} }) => (
                <div>
                    <div className={[panelClass, itemClasses?.panel]}>
                        <div className="flex justify-center">
                            {(icon || defaultIcon) && (
                                <Icon
                                    name={icon || defaultIcon}
                                    class={[defaultIconClass, itemClasses?.icon]}
                                />
                            )}
                        </div>
                        <div className="mt-0.5">
                            {title && <h3 className={[titleClass, itemClasses?.title]}>{title}</h3>}
                            {description && (
                                <p
                                    className={[descriptionClass, itemClasses?.description]}
                                    set:html={description}
                                />
                            )}
                            {callToAction && (
                                <div
                                    className={[
                                        actionClass,
                                        itemClasses?.actionClass,
                                    ]}
                                >
                                    <Button variant="link" {...callToAction} />
                                </div>
                            )}
                        </div>
                    </div>
                </div>
            ))}
        </div>
    )
}
