---
import { Icon } from "astro-icon/components";
import type { ItemGrid } from "~/types";
import Button from "./Button.astro";

const {
    items = [],
    columns,
    defaultIcon = "",
    classes = {},
} = Astro.props as ItemGrid;

const {
    container: containerClass = "",
    // container: containerClass = "sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3",
    panel: panelClass = "",
    title: titleClass = "",
    description: descriptionClass = "",
    icon: defaultIconClass = "text-primary",
} = classes;
---

{
    items && (
        <div
            className={[
                containerClass,
            ]}
        >
            {items.map(
                ({
                    title,
                    description,
                    icon,
                    callToAction,
                    classes: itemClasses = {},
                }) => (
                    <div
                        className={[
                            panelClass,
                            itemClasses?.panel,
                        ]}
                    >
                        {(icon || defaultIcon) && (
                            <Icon
                                name={icon || defaultIcon}
                                class={[
                                    defaultIconClass,
                                    itemClasses?.icon,
                                ]}
                            />
                        )}
                        <div
                            className={[
                                titleClass,
                                itemClasses?.title,
                            ]}
                        >
                            {title}
                        </div>
                        {description && (
                            <p
                                className={[
                                    descriptionClass,
                                    itemClasses?.description,
                                ]}
                                set:html={description}
                            />
                        )}
                        {callToAction && (
                            <div className="mt-2">
                                <Button {...callToAction} />
                            </div>
                        )}
                    </div>
                ),
            )}
        </div>
    )
}
